[2017-12-18 18:51] consideRatio commented on #358
I'm trying to pin down an answer to the question: Is having text inside /etc/jupyter/config/hub.extra-config.py exactly the same as having it within the `values` file field called `extraConfig`?

I get how the hub.extra-config.py is loaded from /etc/jupyterhub/conifg/ folder by a load_subconfig call in the end jupyterhub_config.py, but I lost track of how `extraConfig` in `values.yaml` through `co

[2017-12-18 18:58] consideRatio commented on #358
@yuvipanda could you give me a pointer on how to look inside the hub database? I'm using the default hub database.

[2017-12-18 19:08] consideRatio commented on #358
Will this difference matter?

[code]

[code]

[2017-12-18 19:25] consideRatio commented on #358
I got my own code to work by placing it within extraConfig...

So, now I'm trying to get my code to work within hub.extra-config.py and ensuring that that code is actually run...

[2017-12-18 19:51] consideRatio commented on #358
@yuvipanda thanks for your time! Okay... So I probably made a faulty confirmation along the way that code within my by the Dockerfile injected `hub.extra-config.py` file actually ran... The following code in the end of `images/hub/jupyterhub_config.py` resulted in an output of `THE PATH DID NOT EXIST!!!`.

[code]

---

[code]

---

I don't get why my `hub.extra-config.py` isn't found `/etc/jupyter

[2017-12-18 19:54] consideRatio commented on #358
I'll ask about the above in another issue, and close this, as there probably were no difference.

[2017-12-18 19:54] #358 closed

[2017-12-18 20:01] consideRatio opened #360 "Copying hub.extra-config.py from a Dockerfile?"
EDIT - SHORT SUMMARY: Why isn't my hub.extra-config.py file available if my Dockerfile copies one to to the correct path?

I disliked the idea of writing my additional code in the extraConfig value in the `values.yaml` file. So I figured I'd insert the `hub.extra-config.py` file manually, instead of letting it be created through `values.yaml` influencing a section in `configmap.yaml`.

Somewhere,

[2017-12-18 20:03] consideRatio commented on #360
Btw, this is how my `values.yaml` looks:

[code]

[2017-12-19 20:56] yuvipanda commented on #349
@choldgraf i think you should just post it :) don't depend on me, am overflowing with tasks.

[2017-12-19 22:56] choldgraf commented on #349
ok, will do it now-ish then...I gotta go to bed soon though, so other folks should ping the internet etc!

[2017-12-19 22:58] choldgraf commented on #349
actually, I take it back - it's already 3pm west coast time (I'm on paris time), so instead I'll plan to push it tomorrow AM Paris time (in ~8 hours). In the meantime if anybody has pictures of a helm chart or something else they'd like to see, feel free to add it in (or just give a link and I can add it in)

[2017-12-20 16:25] choldgraf commented on #349
posted here: https://blog.jupyter.org/announcing-the-jupyterhub-helm-chart-v0-5-fa532bb8519d ping the social mediaz!

[2017-12-21 01:13] yuvipanda commented on #360
Heya!

We [mount the configmap](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#populate-a-volume-with-data-stored-in-a-configmap) as a volume in the pod (at https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/jupyterhub/templates/hub/deployment.yaml#L28). This means that everything under /etc/jupyterhub/config in the docker image is going to be overw

[2017-12-21 01:13] yuvipanda commented on #349
Thank you!

[2017-12-21 01:13] #349 closed

[2017-12-21 01:23] consideRatio commented on #360
Ah that explains it! Thank you for clarifying this!

I wanted too separate stuff file wise in as I figured it would make it simpler to git rebase when I update my fork. I also wanted to avoid inlining config code inside extraValues as it felt messy.

I'll live with it!

[2017-12-21 01:23] #360 closed

[2017-12-21 01:28] yuvipanda commented on #360
I usually use a 'meta chart' (see https://github.com/berkeley-dsep-infra/datahub/) for doing this kinda stuff, instead of forking :)

Glad you found it useful!

[2017-12-21 15:35] choldgraf commented on #356
This is a really important topic - @yuvipanda would it be worth our time for you to give some barebones steps for storage, and I can build some docs around that?

[2017-12-21 17:30] argoneus commented on #344
I had this issue as well, both with ACS and the new preview AKS.  The workaround suggested by @cam72cam worked for me, thanks!

[2017-12-21 18:00] argoneus commented on #344
Also interested in an RBAC-enabled solution.  http://zero-to-jupyterhub.readthedocs.io/en/latest/security.html#use-role-based-access-control-rbac strongly recommends against disabling RBAC, due to security concerns.

[2017-12-21 22:40] mrocklin opened #364 "Erring on installing jupyterhub: server rejected our request for an unknown reason"
I'm walking through the z2jh instructions and get the following error:

[code]

Further attempts result in the following (which may provide some information about where things failed?)

[code]

## Contents of `config.yaml`
[code]

I'm probably doing something wrong or have a faulty environment.  I thought I'd check in in case this is a common occurrence.  Brief searching in issues and the broader

[2017-12-22 08:51] choldgraf commented on #364
Is this a google project where you've previously set up jupyterhubs? It feels to me like there's a dangling credential/account/etc from a previous deployment. Maybe try deleting the kubernetes namespace entirely?

[2017-12-22 16:10] mrocklin commented on #364
Yes, I have launched Kubernetes clusters on this billing project before on which I have launched JupyterHubs.

To be clear.  I've entirely taken down previous clusters and started from a fresh cluster.  The Kubernetes namespace in Kubernetes itself would presumably be clean.  Is there something within Google Cloud in particular I should be cleaning up?

[2017-12-22 19:10] yuvipanda commented on #364
Based on the first error, I wonder if one of the following is a suspect:

1. https://zero-to-jupyterhub.readthedocs.io/en/latest/create-k8s-cluster.html#setting-up-kubernetes-on-google-cloud step 6 missing
2. Extra steps in https://zero-to-jupyterhub.readthedocs.io/en/latest/setup-helm.html#initialization missing

Can you confirm that that those steps were performed? they're new-ish in 0.5...

The

[2017-12-22 19:19] willingc opened #366 "Investigate recent errors and failures in Travis test builds"
Recent Travis builds have been throwing errors or failing since about #327. The passing PRs since then do not appear to have run the build fully.

Perhaps #365 related??? or `build.py` changes.

[2017-12-22 19:20] yuvipanda commented on #366
I'm convinced it's a race condition somewhere, it's hard to investigate because the same script passes on my local machine :'(

[2017-12-22 19:29] willingc commented on #366
@yuvipanda Does this line look correct to you in .travis.yml ?
[code]

[2017-12-22 19:31] yuvipanda commented on #366
yup, it does!

I suspect the problem might be fixed by https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/367, let's see!

[2017-12-22 19:32] willingc commented on #366
Why isn't that line `. ./ci/minikube.env` or `source ./ci/minikube.env`?

[2017-12-22 19:34] yuvipanda commented on #366
Not sure why @minrk picked the particular style, I think all three variants would be equivalent at that point.

[2017-12-22 19:37] willingc commented on #366
Mmm... I don't think @minrk wrote those lines ;-)

[2017-12-22 20:45] mrocklin commented on #364
Here is a run-through on a clean cluster from the cloud shell.

[code]

[code]

Lets remove my custom notebook image

[code]

[2017-12-22 21:46] yuvipanda commented on #366
Ah, it's @manics - apologies for misattributing :)

[2017-12-22 21:54] yuvipanda commented on #364
Can you tell me what's the version of your cluster? It should be in the output of 'kubectl version'. I think you might need at least 1.8, and that could be the issue.

[2017-12-22 21:59] mrocklin commented on #364
[code]

[2017-12-22 22:39] yuvipanda commented on #364
Can you try upgrading your cluster to 1.8? It looks like it's on v1.7.8-gke.0.

[2017-12-22 23:59] yuvipanda commented on #366
I've actual error messages now (see https://travis-ci.org/jupyterhub/zero-to-jupyterhub-k8s/builds/320458819)!

[code]

seemst o be the culprit. Investigating more

[2017-12-23 00:04] yuvipanda commented on #366
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/350 was the last PR that was successfully merged, and I think that's what broke all succeeding PRs. It looks like the hub image wasn't pushed properly from the deploy step, so all future builds keep looking for a hub image they can't find.

[2017-12-23 00:37] yuvipanda commented on #216
This is all done and we released v0.5!

[2017-12-23 00:37] #216 closed

[2017-12-23 00:46] yuvipanda commented on #366
I've fixed it now! I think #350 fixed our deploy process, but the merge of #314 happened when it was broken, causing the image pushes to not happen.

So for this case, I could fix it by making sure the image that these PRs are looking for is present. I did so by:

[code]

This has made all the PRs work!

[2017-12-23 00:57] yuvipanda commented on #366
#365 is still failing, but I'd like to get https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/367 merged so we can debug it more easily.

[2017-12-23 01:12] willingc commented on #366
@yuvipanda Just reviewed #367 if you wish to merge.

[2017-12-23 01:30] mrocklin commented on #364
Right, ok.  I was previously managing clusters through the GCE console where 1.7.8 is the default.

I see now that the instructions clearly state the kubernetes version in the initial `gcloud` command.  After running through the instructions verbatim I can confirm that everything runs smoothly.  I apologize for the noise.  Thanks!

[2017-12-23 01:34] #364 closed

[2017-12-23 01:39] yuvipanda commented on #366
Thank you, @willingc! I rebased https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/365 and it is passing now! Yay we fixed the build! <3

[2017-12-29 06:01] ryanlovett opened #369 "Template converts numeric docker tag to scientific notation"
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/jupyterhub/templates/pre-puller.yaml#L87

When the singleuser docker tag has no alpha characters, the templating converts it to scientific notation. For example a tag of "2986812" gets converted to "2.986812e6" which breaks the docker pull.

[2017-12-29 06:13] ryanlovett commented on #369
So given `helm upgrade --install ... --set singleuser.image.tag=2986812`, the puller was doing:
[code]

[2017-12-29 06:52] yuvipanda commented on #369
Is probably this helm bug: https://github.com/kubernetes/helm/issues/1707

On Thu, Dec 28, 2017 at 10:13 PM, Ryan Lovett <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2017-12-29 06:54] ryanlovett commented on #369
I couldn't reproduce with https://github.com/euank/sprigcli using some basic tests.

[2017-12-29 07:38] ryanlovett commented on #369
Working around this by writing to temporary file and using -f. But notabug with z2jh.

[2017-12-29 07:38] #369 closed

[2017-12-29 09:40] choldgraf commented on #369
I find this bug kind of charming for some reason :-)

thanks for reporting @ryanlovett !

[2017-12-30 14:32] consideRatio commented on #345
Assuming everyone doesn't already know everything about CRDs, I'm posting about this talk from KubeCon which describes them.

https://www.youtube.com/watch?v=yn04ERW0SbI

[2017-12-31 23:11] yuvipanda commented on #366
I'm closing this now since our builds are good to go :)

[2017-12-31 23:11] #366 closed

[2017-12-31 23:12] yuvipanda commented on #320
Dicts I think are the only structure that can do this. We can and should easily add this to the chart.

[2018-01-01 20:52] mrocklin commented on #326
In an e-mail conversation @yuvipanda recommended the following steps:

1. Set up a new JupyterHub with at least version 'v0.6.0-57c88a6' on a
cluster with RBAC disabled
(https://zero-to-jupyterhub.readthedocs.io/en/latest/security.html#use-role-based-access-control-rbac)
2. Enable kubernetes api Access for singleuser with the following:

hub:
  extraConfig: |
     c.KubeSpawner.singleuser_service_

[2018-01-02 04:17] consideRatio opened #372 "build.py corrupts yaml"
## Description
I ran into an issue with entries in values.yaml file after using the build.py script. My `extraVolume` entries were corrupted.

## Reproduction

[code]

[code]

## Corrupt output

#### Look at `indent-status-2`, it has a indentation causing the yaml to become corrupt.
[code]

[2018-01-02 12:01] #372 closed

[2018-01-02 16:26] consideRatio commented on #372
I was mistaken about the default value of offset, apparently it was 0, and not 2.

But it is still problematic. Increasing offset without increasing sequence as well will probably corrupt the yaml if the yaml contains lists of objects. It would be better to have sequence be relative to the offset or have sequence default value become offset+2 instead of always defaulting to 2 no matter what.

-

h

[2018-01-02 17:21] consideRatio opened #374 "extraConfigMap - get_config takes 0 positional arguments"
[it sais in the docs](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/doc/source/advanced.md#hubextraconfigmap) I should be able to use the `get_config` function (defined in jupyterhub_config.py) within hub.extraConfig, but when I do, an error is thrown saying: `TypeError: get_config() takes 0 positional arguments but 1 was given`

I currently workaround this by copying the `get_c

[2018-01-02 19:26] yuvipanda commented on #271
As a note, I am not submitting any talks to PyCon this year (too many other things going on). Wanted to say that here since I had suggested otherwise earlier!

[2018-01-02 22:58] yuvipanda commented on #326
Thanks for checking it out, @mrocklin!

Looks like Google started enforceing RBAC security by default in 1.8. This is great, but for our experimental purposes we can disable it via https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control. Am trying that now.

[2018-01-02 23:01] foxish commented on #326
It might be easier to create a default role and add instructions to do that, given RBAC is going to be the default mode going forward and a de-facto standard. We had a discussion about this for helm/tiller in https://github.com/tensorflow/k8s/issues/135.

[2018-01-02 23:02] yuvipanda commented on #326
@foxish I totally agree! We're trying to get it set up for a demo later this week however, so trying to get stuff working without RBAC first...

[2018-01-03 18:26] mrocklin commented on #326
@yuvipanda I'd like to do this for a JupyterHub instance that I control to share with some collaborators.  Looking breifly at the documentation you've linked to above I'm not immediately seeing how to accomplish this.  Can you give me a push in the right direction here?

[2018-01-03 18:37] mrocklin commented on #326
I'm also still getting this error despite not doing anything particularly exciting

[code]

[code]

History

[code]

[2018-01-03 19:29] yuvipanda commented on #326
@mrocklin that one might be because the pangeo image is very big? try running upgrade?

Also, to disable legacy authorization, you need to go to console.cloud.google.com, 'edit' your cluster, and set 'Legacy Authorization' to 'Enabled'.

[2018-01-03 19:34] mrocklin commented on #326
OK, will do.  Is there a way to extend the timeout?

[2018-01-03 19:40] mrocklin opened #375 "Allow making JupyterLab default thing to launch"
Is there a way to make JupyterLab come up by default when new users connect?

Is there a way to get the JupyterHub control panel from JupyterLab?

[2018-01-03 20:00] yuvipanda commented on #326
I think you can specify --timeout=.

[2018-01-03 20:16] yuvipanda commented on #326
For those following along from home, we're working on kubernetes-native dask integration in https://github.com/yuvipanda/daskernetes.

[2018-01-03 20:28] yuvipanda commented on #285
@tracek does the error recur with v0.5?

[2018-01-03 20:45] yuvipanda commented on #375
https://github.com/jupyterhub/jupyterlab-hub for accessing JupyterHub control panel from Lab I think.

[2018-01-03 21:16] choldgraf commented on #375
We should definitely document how to configure the hub so that lab starts by default

[2018-01-03 21:17] choldgraf commented on #375
@mrocklin if you follow the instructions in the repo that @yuvipanda linked, can you report back if it worked? If so I'll make a PR to z2jh to add that in

[2018-01-03 22:19] cam72cam commented on #375
I was wondering the same thing.  I followed the instructions there, but it does not have links back to the control panel like JupyterNotebook.

IIRC it is missing something like: https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/singleuser.py#L173

[2018-01-03 22:19] ryanlovett opened #376 "Support pulling multiple singleuser images"
I'd like to be able to conditionally associate some users with alternative singleuser images. I can configure the hub's config to use them in extra config, but I can't configure the pre-puller to pull them.

[2018-01-04 06:43] consideRatio commented on #376
## I'd also like that, so its investigation time!

__`pre-puller.yaml`__ - The kubernetes Job doing the work
[code]

__`values.yaml`__ - The docker image doing the work
[code]

__`yuvipanda/image-allnodes-puller`__ - The docker image source
1. Docker hub - https://hub.docker.com/r/yuvipanda/image-allnodes-puller/tags/
2. GitHub repo - https://github.com/yuvipanda/kube-image-puller/tree/master/pull

[2018-01-04 13:26] avaranovich commented on #348
Implemented Azure AD authenticator in this fork https://github.com/oxygenanywhere/oauthenticator/blob/02b2a3b98e361474d67fe79cd27e06224b88e2e1/oauthenticator/azuread.py

[2018-01-04 13:26] #348 closed

[2018-01-05 00:36] rschroll opened #377 "Cannot set environmental variables for custom service"
I'm trying to include a custom service in the configuration yaml file.  Assuming I understand correctly, this should be a valid yaml segment to start a particular service:
[code]

However, when this is pushed to a cluster, the hub fails to launch, with the error `traitlets.traitlets.TraitError: The 'environment' trait of a Service instance must be a dict, but a value of class 'str' (i.e. 'map[CONF

[2018-01-05 01:47] rschroll opened #378 "Cannot specify arguments for custom service"
Very similar to #377.

I'm trying to launch a cluster with a custom service.  Assuming I'm doing it correctly, this is the correct yaml snippet:
[code]
(I also tried `command: ['hashauthservice', '/srv/jupyterhub_config.py']`.)

The hub container failed to launch because the service could not be started.  JupyterHub was trying to start the binary 'hashauthservice /srv/jupyterhub_config.py'.  I thi

[2018-01-05 02:39] choldgraf commented on #271
Does anybody know about the difference between the conference and the summits? There's a "Python for Education" summit, which seems like a natural place to talk about JupyterHub / Binder

[2018-01-05 04:54] willingc commented on #271
CFP closed yesterday for talks, posters, and education summit for PyCon. The Education Summit happens the second day of the tutorials and is a more casual event which focuses on folks working as educators. I submitted a talk to the Ed Summit about using Jupyter Notebooks, JupyterHub, and Binder for STEAM workshops for High School/Middle School outreach. I also submitted a talk proposal and poster

[2018-01-05 15:13] minrk commented on #326
I'm following along, but not keeping up. This is cool work! Sorry I haven't helped as much as I wanted to.

[2018-01-05 17:21] mrocklin opened #379 "Give notebook containers elevated privileges"
Hi,

I would like to use a FUSE file system in my containers.  To do this locally it seems that I need to pass the `/dev/fuse` device to the docker container and run it with elevated permissions.   Locally I do the following:

    docker run -it --device /dev/fuse --cap-add SYS_ADMIN --privileged daskdev/pangeo-notebook

Is there a way for me to specify these flags in my config.yaml file?

[2018-01-05 18:40] yuvipanda commented on #379
Try the following (using a v0.6.0-<hash> chart)

[code]

[2018-01-05 20:12] mrocklin commented on #379
OK, I've given this a shot and I'm now getting 500 errors.  What is the right way to diagnose this?

[2018-01-05 20:15] yuvipanda commented on #379
Where are you getting 500 from? Logs would be useful!

On Fri, Jan 5, 2018 at 12:12 PM, Matthew Rocklin <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-05 20:17] mrocklin commented on #379
Directly after trying to log in.

[code]

Logs

<details>

[code]
</details>

[2018-01-05 20:28] yuvipanda commented on #379
@mrocklin looks like the error is in:

[code]

Specifically, the '-' before the last line. Can you replace with:

[code]

and try?

[2018-01-05 20:34] mrocklin commented on #379
Still failing

[code]

[2018-01-05 20:40] mrocklin commented on #379
logs from the hub
[code]

[2018-01-06 02:46] yuvipanda commented on #379
We spent some more time and figured it all out :)

[2018-01-06 02:50] yuvipanda commented on #379
It was the singleuser.cmd, which we default to jupyterhub-singleuser. It needed to be set to start.sh instead I believe.

[2018-01-06 02:50] #379 closed

[2018-01-06 04:41] consideRatio opened #381 "singleuser-sample's readme file doesn't belong?"
It sais in the readme it's based on alpine linux for example, it isn't.

[code]

[2018-01-06 04:41] consideRatio commented on #381
Btw, does it matter that the JupyterHub version is actually 0.8.1 ?

[2018-01-06 20:46] twanito opened #382 "Github Organization as whitelist in config.yaml"
I am wanting to whitelist members of a github organization (be it a team within the organization or the whole organization). I have seen that this is possible using standard Jupyterhub but am not sure how to go about it using just the k8s version. I've read through docs and comments [here](https://github.com/jupyterhub/oauthenticator/pull/58) and am not sure how to do the same using the config.yam

[2018-01-08 00:09] mrocklin opened #383 "Add documentation on Culling Idle Users"
Hi, is there an easy way to have Jupyterhub cull idle users?

A web search yields these results:

- https://github.com/jupyterhub/jupyterhub/issues/680
- https://github.com/jupyterhub/jupyterhub/tree/master/examples/cull-idle

I guess I'm hoping that there is some `user-timeout: 3600` entry I can put into my config.yaml file :)

[2018-01-08 00:29] yuvipanda commented on #383
We need to document it, but it is something you can put in your config.yaml
file and is enabled by default:

https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/jupyterhub/values.yaml#L153

On Sun, Jan 7, 2018 at 4:09 PM, Matthew Rocklin <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-08 00:30] mrocklin commented on #383
[code]

[2018-01-08 04:02] yuvipanda commented on #382
Thank you for opening the issue! Can you point us to docs on making it happen for generic JupyterHub? Should be able to figure it out from there!

Thanks!

[2018-01-08 04:03] yuvipanda commented on #381
Thank you for opening this issue! I agree this is needlessly complicated and needs more docs. I'll try to put some work towards this soon!

[2018-01-08 12:21] minrk commented on #381
@consideRatio you're right that

KubeSpawner's requirements ought to be:

1. that jupyterhub is installed, and
2. that the resulting `jupyterhub-singleuser` that's installed as part of that package is on PATH.

If `pip` is on PATH, then `jupyterhub-singleuser` should end up on PATH, since they are installed in the same location via the same mechanism, unless things are very odd indeed.

I would sh

[2018-01-08 17:36] mrocklin commented on #326
There is an early prototype at http://pangeo.pydata.org

[2018-01-08 17:56] choldgraf commented on #326
👏👏👏👏👏👏👏👏

![image](https://user-images.githubusercontent.com/1839645/34684527-3370cc98-f45a-11e7-9694-6dba366591e7.png)

[2018-01-09 15:25] masonlr commented on #348
Do you intend to continue using the helm chart as an interface? i.e. something along the lines of the following (note also the de-indent on the `custom` field):

[code]

[2018-01-09 21:38] yuvipanda commented on #377
Thank you for the detailed report, @rschroll! Do you have the ability to test out https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/385 to see if that solves your problem?

[2018-01-09 21:52] yuvipanda commented on #151
We did and released it as part of v0.5!

[2018-01-09 21:52] #151 closed

[2018-01-09 21:53] yuvipanda commented on #52
@choldgraf do you think you've time to give this a shot?

[2018-01-09 22:12] choldgraf commented on #52
yeah I'll get to it after this data carpentry hackathon

[2018-01-10 01:11] yuvipanda commented on #20
I've been thinking more about this, and am wondering if it's something we should take responsibility for. I think if we link to the upstream cloud provider's docs and provide some general guidelines, that should be enough.

[2018-01-10 10:23] avaranovich commented on #348
Sure, I still have some things to clean up and then submit a pull request, to have Azure Auth supported

[2018-01-10 10:37] masonlr commented on #348
When following the zero-to-juperhub-k8s approach, I'm trying to understand the point at which you need to install the latest custom/patched `oauthenticator` python module (to access this newer Azure AD authenticator). If you install `oauthenticator` within a custom docker image and then upgrade with `helm` (via this approach https://zero-to-jupyterhub.readthedocs.io/en/latest/user-environment.html

[2018-01-10 17:23] masonlr commented on #348
Apologies, I'm new to helm/kubernetes. My understanding is that I need to pass the hub image name and tag to `helm upgrade` when following this step https://zero-to-jupyterhub.readthedocs.io/en/latest/extending-jupyterhub.html.

For example we could add the hub image/tag to config.yaml or pass as an argument:

[code]

[2018-01-10 23:53] yuvipanda commented on #340
I found https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#openstack which might be useful?

[2018-01-11 00:28] yuvipanda commented on #356
Me and @choldgraf had a quick whiteboarding session about this, and he's going to write up a draft soon.

[2018-01-11 08:47] avaranovich commented on #348
@masonlr, You are right, it is possible to extend a default k8s-hub image with custom authenticator or other dependencies. For instance I made an image that has Azure AD support available here
https://hub.docker.com/r/gigabit/jupyterhub/

My config looks like this

[code]

I still need to find the way to avoid passing the environment variables, and getting all the values straight from the config s

[2018-01-11 10:01] yuvipanda opened #390 "Create Pod Disruption Policies for Hub and Proxy by default"
https://kubernetes.io/docs/tasks/run-application/configure-pdb/ allow us to say that hub and proxy pods should be left alone as much as possible. We should do so by default!

[2018-01-11 10:58] masonlr commented on #348
Okay, thanks. I'm getting a `500 : Internal Server Error` with https://hub.docker.com/r/gigabit/jupyterhub/. This may be to do with the hardcoded `self.client_id` in the earlier versions of this fork.

[2018-01-11 11:03] avaranovich commented on #348
please use tag v0.5.34

[2018-01-11 11:03] masonlr commented on #348
Thanks.

There also looks to be a typo in 2cf61aba85c5f921138d39f4832c9dd621ee85df:

`azuread.py` has a line:

[code]

[2018-01-11 11:08] avaranovich commented on #348
you mean this one
https://github.com/oxygenanywhere/oauthenticator/blob/master/oauthenticator/azuread.py#L53

it is not being used in the code, I was trying to follow the GitHub authorizer, still need to clean up the code, but it is functional in this version

[2018-01-11 11:12] masonlr commented on #348
Yes.

[2018-01-11 19:57] #378 closed

[2018-01-11 19:58] minrk commented on #377
Closed by #385

[2018-01-11 19:58] #377 closed

[2018-01-11 20:12] yuvipanda commented on #356
https://hackmd.io/CwJgbAxgjArMYFoQQKYGYHAEYoIYIE5gosEAOAExBgjINwDMoHgg?edit is the hackmd for it, thanks @choldgraf!

[2018-01-11 20:13] minrk opened #391 "Document additional authenticators"
After merging #389, I think we need to think about how and when to add authenticators to the base image. I would have liked to turn down that PR, saying that LTI doesn't meet sufficient criteria that all Hub deployments should install it, but I couldn't point to a good "this is how to use a custom authenticator" reference as an alternative. The problem we have right now:

- only 'officially suppor

[2018-01-11 20:26] yuvipanda opened #392 "Release v0.6"
I want us to try to experiment with time based releases of z2jh, possibly at a 6-8 week cycle. This has several advantages:

1. Forces us to document and automate the release process, so people other than me can do releases
2. Get fixes into the hands of users more quickly
3. Help with a roadmapping process later on.
4. Make upgrades easy and painless for users

To that end, I propose we try to re

[2018-01-11 20:26] yuvipanda commented on #383
We don't have any docs for this, so retitled as a docs issue!

[2018-01-11 20:59] yuvipanda commented on #374
Ah whoops, it's because load_subconfig doesn't put the get_config and get_secret functions into the env of the files it is loading. Not sure how to fix that...

[2018-01-11 21:07] mrocklin opened #393 "How to enable users to create custom environments and use them as notebooks"
Some users (cc @rsignell-usgs) have tried to create new conda environments within their user session (using the terminal from JLab) and have asked about how to start a new notebook with this environment.  It doesn't seem to show up in their kernels list.  Is there something we can do to ease this experience?

[2018-01-12 00:48] yuvipanda opened #395 "Setup podAffinity so hub and proxy end up together more often than not"
Useful in conjugation with #390

When autoscaling, these two pretty much make nodes they're on hard to scale down. Normally they'll end up on different nodes, which is not ideal. If we set podAffinity making the scheduler prefer putting them together, we'll provide a better experience for people autoscaling.

[2018-01-12 00:48] yuvipanda commented on #392
The primary theme I see for 0.6 so far is bug fixes and features that enable autoscalers to work better.

[2018-01-12 02:12] consideRatio commented on #395
This is on my todo list, along with cluster autoscaling (allows node to be added when pods are pending).

I figure:

* I want my essential pods, hub/proxy/kube-system pods, to be on one single node - lets call it the master node. So, I figure I'll make the hub/proxy have very high affinity for each other and the kube-system important pods.
* I want my singleserver users to also have affinity for t

[2018-01-12 02:15] yuvipanda commented on #395
For

See #384 :)

[2018-01-12 02:23] yuvipanda commented on #393
When you say 'environments' do you specifically mean conda environments? Or something more general?

[2018-01-12 02:24] yuvipanda commented on #395
@consideRatio you might also be interested in https://github.com/berkeley-dsep-infra/data8xhub/issues/7 if you are working with autoscaler :)

[2018-01-12 02:33] mrocklin commented on #393
Our immediate need is with conda environments, but I expect it to be a
general problem

On Jan 11, 2018 9:23 PM, "Yuvi Panda" <notifications@github.com> wrote:

[2018-01-12 02:35] consideRatio commented on #395
Yes @yuvipanda you were correct i was interested :heart: !!! I love the feeling of learning as efficiently as I'm currently am!

[2018-01-12 02:52] rsignell-usgs commented on #393
I figured it out.  If I add `nb_conda_kernels` to the root environment, then my custom environments show up in the dropdown menu (as long as those environments have `nb_conda_kernels` in them)

[2018-01-12 03:02] consideRatio commented on #393
Related to this, is that it could be good knowing about pip's --user flag and condas --prefix flag.

I think using `pip install --quiet --user <package name>` and `conda install --yes --prefix "~/.local" <package name>` will allow the things installed to be available to the user without further setup even after restarting of the container assuming the home directory is persistent.

DISCLAIMER: Cur

[2018-01-12 03:39] yuvipanda commented on #345
I'm doing a lot of autoscaler friendly work for v0.6, and I think setting up pre-puller to work like this is important!

Here are the requirements I want for 0.6:

1. helm install should block until image is all on nodes by default (you should be able to turn this off if you do not want!)
2. we should have daemonsets that make sure images are being pulled on new nodes as they come up. By default i

[2018-01-12 03:41] rsignell-usgs commented on #393
You can tell conda where to store you custom envs by specifying in `.condarc` thusly:
[code]
check:
[code]
returns
[code]

[2018-01-12 05:15] yuvipanda commented on #345
Another requirement is that the images used for the prepuller themselves must be small! No point bringing in a large image to pull a smaller (or only a bit larger) image.

[2018-01-12 09:26] yuvipanda commented on #345
@jacobtomlinson not entirely done yet, but take a look at https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/399 :)

[2018-01-12 12:16] stevebuckingham commented on #264
This was massively helpful. Thanks!

[2018-01-12 13:14] masonlr commented on #348
@avaranovich I haven't yet managed to get https://hub.docker.com/r/gigabit/jupyterhub/ working. I can reproduce the same error if I run jupyterhub on my own localhost.

To test, what I'm doing is creating

[code]

[2018-01-12 13:26] masonlr commented on #348
@avaranovich I can't get https://hub.docker.com/r/gigabit/jupyterhub/ to work with my mock Azure AD, so I suspect that I am missing something on the Azure AD side. I can reproduce the same error if I run jupyterhub on my own localhost.

To test, what I'm doing is creating a `jupyterhub_config.py` with the contents:

[code]

In the Azure AD portal I set a reply URL to http://localhost:8000/hub/oaut

[2018-01-12 13:53] masonlr commented on #348
Apologies, this may be an error with the way I'm generating the client secret. About to try this tutorial and will let you know if it works: https://www.netiq.com/communities/cool-solutions/creating-application-client-id-client-secret-microsoft-azure-new-portal/

[2018-01-12 14:33] masonlr commented on #348
I reasonably certain that I have the correct client id, client secret, etc, but I still get a `tornado` error:

[code]

[2018-01-12 18:05] masonlr commented on #348
Okay, I now have https://github.com/oxygenanywhere/oauthenticator/tree/e60d9c6bef6e1e95fc5e13fa8224a9ba43f66caf working with an Azure active directory. I needed to remove the `jwt` installation which is mentioned by me above in the `Dockerfile` fragment. So

[code]

@avaranovich if `jwt` needs to be added to the base hub docker image, can you please ensure that `pyjwt` is installed instead of `jwt

[2018-01-12 18:10] masonlr commented on #348
For reference, I also couldn't get https://github.com/oxygenanywhere/oauthenticator/blob/e60d9c6bef6e1e95fc5e13fa8224a9ba43f66caf/oauthenticator/azuread.py to work with the v2 Active Directory API, i.e. when apps authentication is set up via https://apps.dev.microsoft.com/

The error is:

[code]

[2018-01-12 18:10] ZachGlassman opened #401 "Jupyterhub on Digital Ocean"
I'd like to document the process for deploying Jupyterhub on Digital Ocean.  I'm thinking mostly in terms of altering the guide and adding a section for Digital Ocean (analogous to https://zero-to-jupyterhub.readthedocs.io/en/v0.5-doc/create-k8s-cluster.html#google-cloud).

Thoughts?

[2018-01-12 18:43] choldgraf commented on #401
+1 to the idea. Once Kubernetes is set up then the rest of the JHub workflow is pretty similar on all of the cloud platforms.

Could you give a link (or some simple/actionable steps) to setting up k8s on digital ocean? The workflow we've used is to begin with these steps, then I'll give a shot at setting it up, create a draft of the additional instructions, and then we can iterate on that a bit be

[2018-01-12 19:44] choldgraf commented on #326
so where are we on this issue? are we at a place where we could close this and then open up more actionable/specific issues in the future?

[2018-01-12 19:44] choldgraf commented on #326
e.g., I think once the tech has stabilized we should write up some docs on how people can do this for their JupyterHubs, but I don't want this issue to get too cluttered to be able to follow

[2018-01-12 19:45] choldgraf commented on #285
following up on this - @tsturzl has this improved for you or @tracek now that v0.5 is out?

[2018-01-12 19:47] choldgraf commented on #291
Closing this because it seems the issue is resolved, but please re-open if I am wrong!

[2018-01-12 19:47] #291 closed

[2018-01-12 19:50] choldgraf commented on #170
@yuvipanda shall we keep iterating on this issue for Azure, or use a new one with the upcoming move to AKS, as I assume that'll spawn off a bunch of new issues

[2018-01-12 19:51] choldgraf commented on #173
@yuvipanda I'm gonna close this in lieu of https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/264 since it's got more movement on it, and it's already tagged as v0.6

feel free to re-open if you like!

[2018-01-12 19:51] #173 closed

[2018-01-12 19:53] choldgraf commented on #391
I think this is a good point - sounds like one of those "a medium amount of work now will save a lot of hassle in the future".

Happy to sit down and try to document custom authenticator stuff w/ somebody.

[2018-01-12 21:12] yuvipanda commented on #300
@jacobtomlinson You should keep an eye on http://blog.kubernetes.io/2018/01/introducing-container-storage-interface.html which should solve your worker base image customization problem. It's also the future of FlexVolume...

/cc @mrocklin who is doing very similar things with GCSFuse (and possibly s3)

[2018-01-12 21:42] yuvipanda commented on #335
@choldgraf do you wanna take a shot at this?

[2018-01-12 22:12] choldgraf commented on #335
sure - in terms of the actual commands that are up there:
[code]
is that technically correct? If so then I can write some clearer narrative around it, but wanna make sure that's correct

[2018-01-12 22:18] choldgraf opened #402 "Document how to enable user-selectable Docker images"
## UPDATED

Add documentation on how to utilize KubeSpawners profile_list traitlet implemented here: https://github.com/jupyterhub/kubespawner/pull/137

---

See https://gitter.im/jupyterhub/jupyterhub?at=5a59236e6117191e615b6729 for a recent question about this, it is possible to set up JupyterHub to let users select a Docker Image. We should document how to do this.

[2018-01-12 22:50] yuvipanda commented on #335
I think we should recommend people use nbgitpuller here, since you can use it from the commandline. For example, putting the following in `command`:
[code]

Will sync the repo to $HOME/materials-fa every time the user starts their thing. This is far better than the 'cp' solution, which actually will not work (not sure where the /srv/app/src comes from, but probably an ancient version of repo2docke

[2018-01-12 22:50] yuvipanda commented on #335
(should also document the commandline usage in the nbgitpuller repo)

[2018-01-12 22:54] yuvipanda commented on #375
I think the way to do this is allow setting default_url in the helm chart, and document that if you want default to be lab you need:

1. Set `singleuser.defaultUrl`
2. Install the jupyterhub-labhub package in your image

[2018-01-12 23:14] yuvipanda commented on #326
So action items from here are:

1. I've filed issues from the z2jh changes we had to do to get pangeo to work (https://github.com/pangeo-data/pangeo/pull/57#issuecomment-357355449 has a list). Our escape hatches were good enough that we could just do this with config.yaml, which I'm very happy about :)
2. There's work ongoing in github.com/yuvipanda/daskernetes for dask + kubernetes integration, b

[2018-01-12 23:16] choldgraf commented on #335
Good to know - I was planning on highlighting nbgitpuller anyway. Though
what should we say for people who want data that's not in a git repo? (eg
download a dataset and have it sitting in a home directory?

On Fri, Jan 12, 2018, 2:50 PM Yuvi Panda <notifications@github.com> wrote:

[2018-01-12 23:17] yuvipanda commented on #335
@choldgraf they should do something like use wget. The problem there is that it'll be executed every time, so they need to find a way to not overwrite it with some sentinel value. I think that'll be highly use case dependent (which is why our current docs only work some of the time), so we should just mention 'use tools like wget' rather than provide any actual code.

[2018-01-12 23:30] yuvipanda commented on #392
As a note, I really like this workflow! Having clear 'what next to work on?' makes it easy to make PRs that have good impact.

[2018-01-12 23:36] yuvipanda opened #404 "allow setting service account from config.ayml"
We currently disable [service accounts](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/) for all user pods, disallowing kubernetes API access. This is the correct default for us, but we should allow users to easily override it if they need.

[2018-01-13 00:12] yuvipanda commented on #356
@choldgraf am adding more content now. Will ping here again when am done!

[2018-01-13 01:50] #320 closed

[2018-01-13 01:55] #404 closed

[2018-01-13 01:59] yuvipanda opened #407 "Block access to cloud metadata endpoint by default"
Currently, we expect users to do extra steps to secure their clusters from users accessing the cloud metadata endpoints (https://zero-to-jupyterhub.readthedocs.io/en/v0.5-doc/security.html#audit-cloud-metadata-server-security). IMO, we should instead do that by default and allow users to opt out of it. Most users won't actually be doing the blocking right now, and run insecure clusters...

[2018-01-13 02:24] yuvipanda commented on #356
@choldgraf I added a bunch more content, and I think it's ready for another pass from you + PR. There's no mention of NFS, but I think we can add those later.

[2018-01-13 03:34] choldgraf commented on #335
see #408 - lemme know if that's OK :-)

[2018-01-13 07:30] tracek commented on #285
@choldgraf Turns out the error I reported is related to Azure specifically, it worked just fine on GCP. I will try again on Azure soon and, if it repeats, try to find the root cause.

[2018-01-13 08:57] yuvipanda commented on #344
I'm playing with AKS now, and just setting:

[code]

seems to work. There isn't much we can do but wait for AKS to support RBAC (https://github.com/Azure/AKS/issues/67)

[2018-01-13 08:58] yuvipanda commented on #344
Spoke too soon, I needed to disable the prePuller too. Hopefully #399 should help fix that.

[2018-01-13 13:09] consideRatio commented on #335
@choldgraf This is some testing code that I've tried and got working from my custom authenticator in a `pre_spawn_start` hook, setting the lifecycle hook of the kubespawner.

[code]

[2018-01-13 16:32] choldgraf commented on #392
Perhaps at the next meeting we can discuss the primary action-items on the v0.6 milestone?

[2018-01-13 16:38] choldgraf commented on #285
sounds good - mind if I close this issue in the meantime, as I'm not sure where the bug is / if there is a bug? Feel free to re-open if you'd like to discuss further!

[2018-01-13 16:38] #285 closed

[2018-01-13 16:58] tsturzl commented on #285
So the docs were misleading. I followed the docs to a tee, but there was a version mismatch. Since then we've kind of pulled the chart apart for our own use, so I can't comment on whether this is still an issue or not in the new version. @choldgraf provided the correct docs which had fixed the issue for me, where I included 2 secrets. I'll probably make PR for some of our additions once it's not a

[2018-01-13 17:02] tsturzl commented on #285
@yuvipanda the docs where missing one of the secrets, hence why the base64 method was failing with a missing param, because a required value was missing. Addressing that issue resolved the problem we were facing. So the main docs were wrong, they specified to install v0.4 but instructed that I create a config that didn't include a required value.

[2018-01-13 17:20] yuvipanda commented on #392
Currently set release date for it is before the next meeting.

On Jan 13, 2018 8:32 AM, "Chris Holdgraf" <notifications@github.com> wrote:

[2018-01-13 17:53] choldgraf commented on #392
well then for the next release :-)
--

On Sat, Jan 13, 2018 at 9:20 AM Yuvi Panda <notifications@github.com> wrote:

[2018-01-13 18:01] choldgraf commented on #285
ahh gotcha - since then we've started versioning our docs more carefully, so hopefully this kind of thing will be easier to catch in the future. Thanks for bearing with us :-)

[2018-01-13 23:48] choldgraf commented on #375
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/403 is going to add a defaulturl config, so I think when that's done the next step is to make a PR that adds JLab instructions in the docs

[2018-01-13 23:50] yuvipanda commented on #375
@choldgraf the PR also adds docs :) I've been trying to be a good boy and add docs to all my feature PRs...

[2018-01-14 08:54] avaranovich commented on #348
@masonlr would you mind filing the issues directly in the fork
https://github.com/oxygenanywhere/oauthenticator/issues
I am aware about incompatibility with v2 endpoints.

[2018-01-14 19:23] masonlr commented on #348
Sure.

[2018-01-15 04:56] yuvipanda opened #410 "Complete and test Azure AKS instructions"
Thanks to @ryanlovett's work we now have Azure AKS insructions (rather than the more flake ACS instructions). We should streamline it and run through it several times to make sure it works properly.

[2018-01-15 04:57] yuvipanda commented on #170
Going to close this in favor of https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/410, which is more directly actionable!

[2018-01-15 05:00] #170 closed

[2018-01-15 05:01] yuvipanda commented on #410
For various reasons I decided to spend this weekend creating an AKS based JupyterHub cluster for a UW class, and so now have developed expertise! Shall make a PR soon.

[2018-01-16 01:36] ZachGlassman commented on #401
You might start here:

https://github.com/janakiramm/do-k8s

[2018-01-16 15:23] cam72cam commented on #375
@yuvipanda should I file an issue in jupyterhub-labhub for adding in the top bar control options to lab?  Without that users do not have access to generating their API tokens and starting/stopping their server

[2018-01-16 16:46] choldgraf commented on #401
gotcha - thanks for those links. That's a bit more involved than I was expecting...it looks like you basically need to set up kubernetes from scratch yeah? (as opposed to DO having "special" support for kubernetes a-la google/aws/microsoft)

[2018-01-16 16:52] ZachGlassman commented on #401
Yeah I have been setting it up from scratch.  I think its more in line with the open stack issues than with google/aws/microsoft.

[2018-01-16 17:41] yuvipanda commented on #375
@cam72cam seems like the right place for it!

[2018-01-16 18:44] cam72cam commented on #375
ok, opened: https://github.com/jupyterhub/jupyterlab-hub/issues/34

[2018-01-16 19:12] masonlr commented on #43
@yuvipanda does #229 explicitly require purchasing a domain name from a registrar? (as explained https://zero-to-jupyterhub.readthedocs.io/en/v0.5-doc/security.html#https)

What I'd like to do is access the `CLUSTER-IP` directly using https, rather than via the A record on a separate DNS provider? Is this even possible – apologies I'm new to this topic.

Example: `http://<CLUSTER-IP>` works for me

[2018-01-16 19:23] minrk commented on #375
Setting `c.Spawner.cmd = ['jupyterlab-hub']` should do this already, and is the only config needed.

[2018-01-16 19:26] choldgraf commented on #375
ah - we should add that to the docs

[2018-01-16 21:11] choldgraf commented on #393
@mrocklin @rsignell-usgs is this now figured out? And if so, do you have suggestions for where in the documentation we could mention this? I think this may become more common as more people begin to use jlab

[2018-01-16 21:14] mrocklin commented on #393
I think that there were two main take-aways

1.  Install `nb_conda_kernels` in the root environment
2.  Decide if you want to install conda packages into user space or not

However I'm not sure that I ever actually got this to work.  @rsignell-usgs is more experienced here.

[2018-01-16 21:29] rsignell-usgs commented on #393
IMHO, you can close.   I can create custom conda environments that persist, and also show up in JupterLab so that I can choose specific environments needed by specific notebooks.

[2018-01-16 21:30] choldgraf commented on #393
sounds good @rsignell-usgs ... and the solution was to do step 1 from @mrocklin 's post above, and then to specify `evns_dirs`?

[2018-01-16 21:33] rsignell-usgs commented on #393
Yes.  And make sure you have `nb_conda_kernels` in each of your custom envs as well.

[2018-01-16 21:33] choldgraf commented on #393
cool - thanks for the clarification! Closing now.

[2018-01-16 21:33] #393 closed

[2018-01-16 21:35] choldgraf opened #414 "Document how to let users create / activate custom conda environments"
From https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/393 we figured out how to allow this. We should document this (maybe just in `FAQ`?) somewhere. This comment and the couple below it show the magic incantation to make this happen:

https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/393#issuecomment-358108096

[2018-01-16 23:32] yuvipanda commented on #383
I talked about this to @choldgraf, I think he'll link to a hackmd here soon!

[2018-01-17 00:07] yuvipanda commented on #43
@masonlr yeah, it does require an external domain name purchased. This is because we use https://letsencrypt.org/ to provision HTTPS certificates, and they require a domain name. This is the case for most HTTPS certificate providers - they won't provide you HTTPS certificates for IPs.

CLUSTER-IP is also usually only accessible from inside the cluster, and (unless your cluster is configured in spe

[2018-01-17 00:20] #390 closed

[2018-01-17 00:41] yuvipanda commented on #410
This was merged as #412 and #411 and #359.

I think ideally we should have someone else other than me and @ryanlovett test this once and we can mark this done.

[2018-01-17 00:48] choldgraf commented on #410
I'm waiting for my azure account to get credits via DSEP then I'll give it
a shot
--

On Tue, Jan 16, 2018 at 4:41 PM Yuvi Panda <notifications@github.com> wrote:

[2018-01-17 01:31] yuvipanda commented on #392
I am going to count end of this week as 'feature freeze' date, and then focus only on testing, documentation and polish after that.

[2018-01-17 05:53] yuvipanda commented on #410
@choldgraf by 'waiting' is there something in process? Or? I have rights to add you to that account too I think.

[2018-01-17 06:05] choldgraf commented on #410
I got added to the account but somehow it seems the $$$ wasn't connected with my username...@ryanlovett and I are trying to find a time to meet tomorrow

[2018-01-17 06:19] yuvipanda commented on #414
It mostly looks like a conda specific thing. Is that right?

I think we should definitely have an entire page (or more!) on constructing your docker image, and the various options you have for it (repo2docker, conda, virtualenv, pyenv, rocker, etc)

[2018-01-17 08:28] ThePixelBro22 commented on #285
Hey, I'm getting same issue and have no idea how to solve it, it seems the docs are still out of date.

[2018-01-17 09:27] masonlr commented on #43
@yuvipanda thanks for this info. Apologies, I should have written `EXTERNAL-IP` above, i.e. `http://<EXTERNAL-IP>` works for me in a browser.

[2018-01-17 16:02] choldgraf commented on #285
@ThePixelBro22 can you list the command you ran to initialize your cluster as well as the contents of your `config.yaml`?

[2018-01-17 17:30] ThePixelBro22 commented on #285
@choldgraf Thanks for the quick response!

this is the command
[code]
And this is my config.yaml

[code]
but I also tried
[code]

[2018-01-17 17:42] choldgraf commented on #285
@ThePixelBro22 how about the command you used to create the cloud resources in the first place? And are upgrading from an older version of the helm chart or installing fresh?

[2018-01-17 17:49] ThePixelBro22 commented on #285
@choldgraf
[code]
helm install https://github.com/jupyterhub/helm-chart/releases/download/v0.4/jupyterhub-v0.4.tgz     --name=jupyterdemo     --namespace=jupyterdemo     -f config.yaml
[code]

[2018-01-17 18:24] choldgraf commented on #285
hmm, that's frustrating. And is your error message the exact same one in the top-level comment of this thread? If not can you paste it as well?

This probably isn't the problem, but just a note that you have a space in your cluster name:

`gcloud container clusters create jupyter demo`

I assume that's a `-` in the actual command? no idea if that would cause problems.

[2018-01-17 18:31] ThePixelBro22 commented on #285
ah my bad, that was a typo when typing it into here.

And this is my exact error
[code]

[2018-01-17 18:33] yuvipanda commented on #285
Hmm, did you do the extra RBAC steps in
https://zero-to-jupyterhub.readthedocs.io/en/v0.5-doc/setup-helm.html#initialization
?

On Wed, Jan 17, 2018 at 10:31 AM, Hannan Rhodes <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-17 19:10] ThePixelBro22 commented on #285
@yuvipanda Yes I did, I followed everything exactly as is.

[2018-01-17 19:36] yuvipanda commented on #285
hmm, interesting.

if you add

[code]

to your config.yaml, does that make the error go away?

[2018-01-17 20:04] ThePixelBro22 commented on #285
WOAH It worked!!!! Thank you so much for your help. And thank you for creating this project, its helped me learn so much and create a workspace where i dont brick my computer every week.

Also I cant find the documentation on how to add libraries to the notebook. Hw can I make it python 2.7 or add something like FFmpeg?

[2018-01-17 20:07] yuvipanda commented on #285
Awesome! Glad to help :)

@ThePixelBro22 can you confirm you did step 6 of https://zero-to-jupyterhub.readthedocs.io/en/v0.5-doc/create-k8s-cluster.html#setting-up-kubernetes-on-google-cloud? And provide the output of `kubectl get clusterrolebinding`? Just trying to figure out what the underlying issue was!

as for adding libraries, you would have to build a docker image. There's some docs in http

[2018-01-17 20:26] #374 closed

[2018-01-17 22:49] choldgraf commented on #410
Things to improve:

* the `az provider register` step takes a long time, we should mention this.
* In this step `ssh-keygen -f ssh-key-<cluster-name>` note that it will print something to terminal, and that it'll also create files. We should mention this, and also probably ask people to create folder for the files.
* We should improve the `cluster-name` point, and maybe have a specific step where

[2018-01-18 01:42] choldgraf commented on #410
@ryanlovett @yuvipanda gave this another shot and got farther this time, but ran into the bug detailed at the end of the comment above...

[2018-01-18 01:45] yuvipanda commented on #410
@choldgraf that bug is better! Give it 3-5 more minutes and see how that goes? also did you still get the 'Directory permission is needed' error?

[2018-01-18 01:45] choldgraf commented on #410
nope I got past that part when using your subscription

[2018-01-18 01:51] yuvipanda commented on #410
Azure specific teardown instructions:

[code]

[2018-01-18 01:52] choldgraf commented on #410
FYI `get node` is still returning the same error.

[2018-01-18 01:53] yuvipanda commented on #410
Does the portal show you anything useful?

[2018-01-18 01:54] choldgraf commented on #410
mmmm, it's saying that `jhub` is a resourcegroup that exists :-)

[2018-01-18 01:57] yuvipanda commented on #410
Remember to be careful, there's another resourcegroup there called 'jupyterhub' that is actively used by a class, do not delete or mess with that accidentally :)

[2018-01-18 01:59] choldgraf commented on #410
yeah I just realized that once I looked at the `ResourceGroup` page - I didn't realize that account was being used by other stuff, so I'll keep my names to `holdgraf-XXX` from now on

[2018-01-18 01:59] yuvipanda commented on #410
Looks like the jhub cluster is DOA! Do you wanna delete it and try again? (Careful to delete the right one)

[2018-01-18 02:00] choldgraf commented on #410
lol hooray!

[2018-01-18 02:00] choldgraf commented on #410
can you tell me the page you looked at to know this?

[2018-01-18 02:01] yuvipanda commented on #375
Closed by #403

[2018-01-18 02:01] #375 closed

[2018-01-18 02:02] yuvipanda commented on #410
I didn't do anything, I just tried to 'kubectl get node' myself. It's been long enough that i consider it DOA :)

[2018-01-18 02:02] choldgraf commented on #410
hehe ok

[2018-01-18 02:10] choldgraf commented on #410
still running...

[2018-01-18 02:38] yuvipanda commented on #345
Closed via #399 and #418!

[2018-01-18 02:38] #345 closed

[2018-01-18 02:51] yuvipanda commented on #356
I think this is mostly done, we should probably open a separate issue to talk about NFS.

I could add a PR talking about Azure SSD use though!

[2018-01-18 02:53] yuvipanda opened #420 "Add info about using SSDs on AKS"
Currently we only tell people how to use SSDs on Google Cloud, we should also explain to them how to do it on Azure.

It's more complicated because the type of instance you use when creating the AKS cluster has a bearing on wether you can use SSDs or not, and the naming scheme for the 'type of instance' is super confusing!

This should be an addition here: https://zero-to-jupyterhub.readthedocs.io

[2018-01-18 02:53] choldgraf commented on #356
+1 - I think we should close this (at least as its spot in the milestone) and iterate on subsequent storage stuff

[2018-01-18 02:54] choldgraf commented on #356
also for future people, this as deployed here: http://zero-to-jupyterhub.readthedocs.io/en/latest/user-storage.html#user-storage

[2018-01-18 02:55] yuvipanda opened #421 "Add information about using NFS with z2jh"
NFS is still a very popular storage setup, and is a good fit for use with z2jh in several cases:

1. When you are supporting a large number of users
2. When you are running on baremetal and NFS is your only option
3. When your utilization % (% of total users active at any time) is very low, causing you to spend more on storage than compute.

While we don't want to be on the hook for teaching users

[2018-01-18 02:55] yuvipanda commented on #356
+1. I filed https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/420 for Azure SSD storage, https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/421 for NFS!

[2018-01-18 02:55] #356 closed

[2018-01-18 02:56] yuvipanda commented on #52
There's also https://docs.microsoft.com/en-us/azure/cloud-shell/overview for Azure, which we should also test and offer as an option!

[2018-01-18 03:17] choldgraf commented on #383
here's a hackmd with this info (and other info) https://hackmd.io/OzDMAYDMCYDYA4C0sCc4DGiAsBDUmV4BTYRAE3CIEYcUdxhwAjHIA===?both

[2018-01-18 03:22] yuvipanda commented on #383
I left some edits there!

On Wed, Jan 17, 2018 at 7:17 PM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-18 03:22] choldgraf commented on #383
ready for a PR when I take another pass?

[2018-01-18 03:23] yuvipanda commented on #383
@choldgraf yes, but only for the culling bits! (Haven't looked into the others yet)

[2018-01-18 14:10] masonlr commented on #43
@yuvipanda just to clarify, if I follow the deployment instructions for the zero-to-jupyterhub-k8s repository I receive an `EXTERNAL-IP` of the form (where letters are replaced with numbers)

[code]

This automatically sets up a domain name of the form

[code]

Should it be possible for me to pass this domain name to let's encrypt via yaml parameters:

[code]

Or, is this insufficient information

[2018-01-18 16:44] manics opened #425 "If pre-puller fails with an non-existent singleuser image cleanup is difficult"
Testing on minikube with rbac enabled (`minikube start --extra-config=apiserver.Authorization.Mode=RBAC`)
Commit: 4124b39269328ff82037f706330d580a86e5007c (includes https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/399)

Set `singleuser.image` to an invalid value, e.g. `nonexistent/nonexistent-image` (in practice this could occur due to a typo)

If the prepuller fails the helm chart is not

[2018-01-18 22:06] #407 closed

[2018-01-18 22:06] #395 closed

[2018-01-19 07:58] yuvipanda commented on #383
This is done and merged as #cull

[2018-01-19 07:58] #383 closed

[2018-01-19 16:21] cam72cam commented on #421
@yuvipanda I'd like to be a guinea pig on this.  I am trying to setup a persistent EFS volume and use that as the user storage.

So far I've created and applied:
[code]
[code]

After that I added the following to my config.yaml:
[code]

I am pretty sure I am missing a few key ideas here

[2018-01-19 19:24] yuvipanda commented on #421
w00t, thanks for volunteering :)

The other two things to keep in mind are:

1. `subPath` (https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/jupyterhub/values.yaml#L138). This specifies where inside the share the user's homedirectory should go. Although it defaults to just `{username}`, I would recommend something like `home/{username}`
2. User permissions. This can be a little tric

[2018-01-19 19:28] cam72cam commented on #421
1. I saw that, thanks for the clearer explanation
2. I don't think that anonuid/gid is an option on EFS

I'll take a look through the nfs-flex-volume repo

[2018-01-19 19:34] yuvipanda commented on #421
@cam72cam another way to check that everything works right now except for permissions is to set:

[code]

If you can launch servers with that, then we can confirm that the uid situation is the only problem.

[2018-01-19 19:37] cam72cam commented on #421
I am currently getting the following response:
[code]

I suspect it has to do with:
[code]

~~It should have the nfs option set there if I understand correctly~~

Actually:
[code]

it appears that subpath is not being set correctly

[2018-01-19 20:05] yuvipanda commented on #421
So it turns out specifying subPath manually of `home/{username}` was required, so we should investigate why.

[2018-01-19 20:05] yuvipanda commented on #421
The PVC needs to be in the same namespace as JupyterHub, so the pods can find it.

[2018-01-19 20:09] yuvipanda commented on #421
The PVC needs to be told how to find the PV to match, and this is done by using:

1. Labels to match PVC and PV
2. Setting storageclass of PVC to '' (so kubernetes does not try to create a PV for it)

So
[code]

Things to note:

1. Specify labels that uniquely identify this PV in your entire k8s cluster.
2. The size requests bits are ignored both in the PV and PVC for EFS specifically, since it gr

[2018-01-19 20:50] cam72cam commented on #421
Ok, I've got the mount working.  I did not do the label stuff yet, simply set 'storageClassName: ""' in the claim.  That seemed to work just fine.

I ran into a speed bump where I had to change the security groups to allow access from EC2 to EFS.  As a temporary measure I added both the EFS volume and the EC2 instances to the "default" security group.  Eventually part of the initial kops config sh

[2018-01-19 20:52] choldgraf commented on #410
Tried this again, got further this time but I missed the `you should skip 2 of the RBAC` command. Is it possible to recover if they don't skip it and run the command in step 2?

Related perhaps, the `helm install` command resulted in

[code]

[2018-01-19 20:54] yuvipanda commented on #410
Yes, if you just run `helm init --upgrade` that should work

On Fri, Jan 19, 2018 at 12:52 PM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-19 21:03] choldgraf commented on #410
Hmm - that didn't seem to work. I got "happy helming" but then got the same error w/ the `helm install` command.

[code]

Also, opened https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/426 with preliminary improvements to instructions (still need to get the darn thing working though)

[2018-01-19 21:41] yuvipanda commented on #410
Try reversing just step 2 with:

kubectl delete clusterrolebinding tiller

[2018-01-19 21:51] choldgraf commented on #410
Just ran that, ran `helm init --upgrade`, and now have:

[code]

[2018-01-19 21:55] choldgraf commented on #410
this `kubectl get clusterrolebinding --namespace=kube-system` doesn't list any `tiller` account 😕

[2018-01-19 21:56] choldgraf commented on #410
and for good measure:

[code]

[2018-01-20 01:04] choldgraf commented on #410
I've tried this again from scratch (deleting the resourcegroup, not following step 2 of the instructions, etc) and I'm getting the same error. I will try and figure this out next week again...

[2018-01-20 02:11] choldgraf opened #427 "Include a clipboard icon with code blocks"
It'd be really nifty if we could let users click on a button within code blocks and have it copy the text to their clipboard. I looked into it a little bit and I think it'd be possible with a bit of Jinja magic. I think we could:

1. Use [`clipboard.js`](https://clipboardjs.com/) to do the clip magic w/

`<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>`

2. L

[2018-01-20 02:53] aculich opened #428 "PEARC18 - tut149s1: Hands-on Tutorial Deploying Portable Research and Learning Environments on Commercial Clouds and XSEDE"
Our submission #282 from December has officially been accepted, and next steps are described at: https://www.pearc18.pearc.org/call-for-participation
[Google Doc proposal](https://docs.google.com/document/d/1kYHwETN5a5knWMaPWx33r_0Aj9tgr8bZM52KNwGiDxY/edit)

**Deadline**: Monday, February 19

- [X] Stage 1: Abstract Accepted and Confirmed
- [x] Stage 2: Submit full proposal & draft tutorial conten

[2018-01-22 15:30] choldgraf commented on #428
I don't see any submissions on the PEARC18 site - is that expected? How would you like to proceed @aculich ?

[2018-01-22 17:28] choldgraf opened #429 "Improve the "creating your user's environment" section"
We should improve the sections of z2jh that discuss how to construct a Docker image that your users can use. We can use this issue to discuss a few related ones that talk about more specific cases of this as well.

**Steps to close this issue**

- [ ] follow instructions on customisation via repo2docker
- [ ] try out the image you built
- [ ] if this fails work out which additional repo2docker fla

[2018-01-22 18:00] choldgraf opened #430 "Prototyping Azure interactive CLI"
I'm gonna give a shot at setting up k8s on azure using their interactive CLI. perhaps that will resolve some of the problems in #21 #359 #411

Thoughts below for subsequent PR:

* Add note about CLI about MS needing to create a storage account for you in order to use the CLI
* I got an `could not retrieve token from local cache` error, but refreshing the page fixed it

[2018-01-22 18:17] yuvipanda commented on #392
@choldgraf yes! Can you look at the git log since last release and start a hackmd with changelog? I can edit and pick cricketer (you are also welcome to pick cricketer!)

[2018-01-22 18:19] yuvipanda commented on #392
Since we've had two male cricketers so far, I think we should either pick a female cricketer this time.

[2018-01-22 18:53] yuvipanda opened #431 "singleuser.cmd does not support using array syntax"
It only supports string syntax for specifying values ("start.sh start-singleuser.sh") rather than array syntax (["start.sh", "singleuser.sh"]). It should support both.

[2018-01-22 19:22] choldgraf commented on #410
I just tried this again using the Azure interactive CLI, and ran into the same error. I think fixing this is going to require debugging from somebody more knowledgeable about RBAC / Azure than myself. I'm surprised that you two both got this to work since I have now tried and failed 3 times :-/

[2018-01-22 19:23] yuvipanda commented on #410
@choldgraf sorry to hear that! And thank you for trying!

Are you getting this error: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/410#issuecomment-359088283 or https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/410#issuecomment-359099340?

[2018-01-22 19:24] choldgraf commented on #410
here's the error:

[code]

[2018-01-22 19:25] choldgraf commented on #410
on the + side, it looks like the Azure interactive shell works relatively well

[2018-01-22 19:25] yuvipanda commented on #410
Can you give me the exact sequence of helm commands you executed?

[2018-01-22 19:31] choldgraf commented on #410
The exact sequence is documented in the PR I made:

https://github.com/choldgraf/zero-to-jupyterhub-k8s/blob/96484d44dac4f07b4bf485db8119b9a75265e261/doc/source/setup-helm.rst

[2018-01-22 19:31] choldgraf commented on #410
(skipping step 2)

[2018-01-22 19:33] yuvipanda commented on #410
Just to verify, you skipped running 'kubectl create clusterrolebinding
tiller --clusterrole cluster-admin --serviceaccount=kube-system:tiller' but
did everything else, right?

   1.

   2.

On Mon, Jan 22, 2018 at 11:31 AM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-22 19:33] choldgraf commented on #410
Could this be related to the fact that we don't do the azure equivalent of #7 from the google instructions? (giving yourself admin status)

[2018-01-22 19:34] choldgraf commented on #410
yes, the only command that I did **not** run was:

`kubectl create clusterrolebinding tiller --clusterrole cluster-admin --serviceaccount=kube-system:tiller`

[2018-01-22 19:35] yuvipanda commented on #430
re: CLI, I think we should make sure (for both this and Google) we offer both the option of web CLI and local installation instructions, rather than referring to local or web CLI.

[2018-01-22 19:41] choldgraf commented on #430
As in having two sub-points?

[2018-01-22 19:43] yuvipanda commented on #430
Yeah! Our primary flow could be the web cli, but we should definitely also
make sure people can run this on their local computers too.

On Mon, Jan 22, 2018 at 11:41 AM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-22 19:44] choldgraf commented on #430
ok - making a PR for the google interactive interface now, so we can iterate on the best way to do that there (can confirm that current google interface works w/ the instructions)

[2018-01-22 19:56] yuvipanda opened #434 "Investigate CI failures to pull images down"
A few tests have been failing recently unable to pull hub images with:

[code]

This looks like a failure to push images after building. Needs investigation.

In the meantime, these can be temporarily worked around by (locally)

1. Doing a checkout of latest master
2. Doing `./build.py --push`. This will push the appropriate images (if you have credentials for it)

[2018-01-22 20:16] yuvipanda commented on #434
If I look at https://travis-ci.org/jupyterhub/zero-to-jupyterhub-k8s/builds/330168750 for example, post-merge deploy failed because of a connection failure. This is normal, and we should just be more resilient to it.

I'm adding a travis_retry to the push deploy script to fight against this.

[2018-01-22 20:29] yuvipanda commented on #353
I'm inclined to close this now since for dask we settled on not using the Helm Chart from inside JupyterHub (going with https://github.com/yuvipanda/daskernetes instead), and I think that's generally a better approach. This might still be useful, but I don't think this issue is going to be helpful in making it happen.

Feel free to re-open if y'all disagree!

[2018-01-22 20:29] #353 closed

[2018-01-22 20:31] yuvipanda commented on #344
#399 fixes this on the pre-puller, and for AKS there's now instructions in master on disabling RBAC.

Thanks for reporting and debugging with us! <3

[2018-01-22 20:31] #344 closed

[2018-01-22 20:31] yuvipanda commented on #95
We have this now as part of #356

[2018-01-22 20:31] #95 closed

[2018-01-22 20:50] yuvipanda commented on #410
I think a cluster I just created is DOA, I filed https://github.com/Azure/AKS/issues/146

[2018-01-22 21:06] yuvipanda commented on #410
@choldgraf I followed them and it worked. Is the following present in your config.yaml:

[code]

? It's in the instructions at https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/426/files#diff-6b237b4b3d55964c251c52afe6e3c1d9R267 but is easy to miss maybe? That would also explain the error you are having.

[2018-01-22 21:41] ellisonbg commented on #353
sounds good

On Mon, Jan 22, 2018 at 12:29 PM, Yuvi Panda <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2018-01-22 22:15] choldgraf commented on #410
ohhh damn, I totally missed that. I assume that the link just linked to the section in `install-helm`. We should write that out explicitly I think.

[2018-01-22 22:55] choldgraf commented on #410
ok that got me past the error, though jupyterhub has been "installing" for like 15 minutes now...is it normal to take that long on azure?

[2018-01-22 22:57] choldgraf commented on #410
I see that there's a pod called `pull-all-nodes` etc, and its logs look like:

[code]

[2018-01-22 22:57] yuvipanda commented on #410
What's the commandline you are using to install? Which version of the
chart? Try with the latest from jupyterhub.github.io/helm-chart, which is
v0.6.0-be077bf
<https://jupyterhub.github.io/helm-chart/jupyterhub-v0.6.0-be077bf.tgz>.
Should be 0.6.0 when it is released

On Mon, Jan 22, 2018 at 2:55 PM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-22 22:58] yuvipanda commented on #410
It looks like you're using v0.5 of the chart, which won't work.

On Mon, Jan 22, 2018 at 2:57 PM, Yuvi Panda <yuvipanda@gmail.com> wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-22 22:59] choldgraf commented on #410
ah, yes you're right, didn't realize that this only worked on 0.6...trying now

[2018-01-22 23:22] choldgraf commented on #410
woot! ok that worked...it took way longer but it got there eventually. Will update the PR with latest changes

[2018-01-22 23:26] cam72cam commented on #421
EFS Success!

Process:

Setup an EFS volume.  It must be in the same VPC as your cluster.  This can be changed in the AWS settings after it has been created.
The EFS volume will be created in the default security group in the VPC.  As a temporary hack around, add your cluster master and nodes to the default VPC group so they can access the EFS volume.  Eventually we will setup proper security grou

[2018-01-22 23:37] choldgraf commented on #430
this is included now in #426

[2018-01-23 00:02] yuvipanda commented on #19
@choldgraf anything more we need to do here?

[2018-01-23 00:04] choldgraf commented on #19
not in an actionable way anyway, I'm sure there are more ways to improve the gcloud instructions, but now we've got both gcloud and interactive shell instructions, so I think we should close this in lieu of spot-checking suggestions in their own issues

[2018-01-23 00:04] #19 closed

[2018-01-23 01:43] ryanlovett opened #437 "Upgrade adding kube-lego fails"
I added the following block to my yaml and did a helm upgrade.
[code]

A new kube-lego container appeared in my proxy pod but the SSL termination isn't working and that container is displaying some errors below. My cluster was deployed via acs engine.

[code]

Logs:
[code]

[2018-01-23 02:17] yuvipanda commented on #437
did DNS for your IP fully propagate? From:

[code]
It looks like Let's encrypt couldn't reach your public IP after a minute of trying.

[2018-01-23 02:22] yuvipanda commented on #300
I'm going to bump this off the 0.6 milestone because we sortof ran out of time, sorry! Should make it in for 0.7.

[2018-01-23 03:27] ryanlovett commented on #437
Yes, the hub had been in use for a few days. I can fetch the actual URL from my browser (cut/paste) and it returns a secret. I can also wget it from the master.

[2018-01-23 04:41] jkuruzovich commented on #410
Thanks for all of the work on the Azure documentation.  I had a trouble getting AKS to launch (seemed maybe capacity related?) but I will try it again.

[2018-01-23 05:02] ryanlovett commented on #437
This seems like a routing/firewall issue.
[code]

[2018-01-23 07:12] choldgraf commented on #410
@jkuruzovich make sure that you follow the the instructions in #426 , and that you use the helm chart 0.6 (will be released this or next week)

[2018-01-23 08:23] #434 closed

[2018-01-23 08:26] #425 closed

[2018-01-23 13:47] betatim opened #440 "OAuth and env secrets in config.yaml"
Should things like https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/d6340ab6102747103d4bb58af729c104c39f8117/jupyterhub/templates/hub/configmap.yaml#L18 be stored as a secret instead of a configmap? I looked into this while splitting my config file into `config.yamls` and `secrets.yaml` and moving things from the config to secret. The idea is that only the latter needs to be encrypted/not

[2018-01-23 14:16] consideRatio commented on #440
@betatim Whats stored in a Kubernetes Secret object and a Kubernetes ConfigMaps object is determined by the templates in the helm chart. The templates are generated using `values.yaml` and other value files, so no matter if you store sensitive stuff in a Kubernetes Secrets, you also need to be able to create the Secret from values.yaml (or hardcode it inside the templates describing the Secret tem

[2018-01-23 16:55] choldgraf commented on #392
I've started putting together pieces for a release here:

https://hackmd.io/BwJghgxgjAnCAsBaYAGeBmR8CmB2GyAbIRIjAEbooAmKEMAZrmOUA===?both

It's currently got a suggested cricketer, a list of the (non merge) commits, and some highlights I pulled outta there. I probably missed some stuff, so please add comments as you think of them!

[2018-01-23 21:10] yuvipanda commented on #440
I think there are two issues here:

1. Some secrets that should be in kubernetes Secret objects are instead in ConfigMap objects
2. How to split config.yaml into multiple files properly to preserve secrets

(1) is a bug we should fix.

For (2), I believe helm will just merge 'dictionaries' like extraEnv together, so you can specify them both in your config.yaml and your secrets.yaml and it should

[2018-01-23 22:52] yuvipanda commented on #62
We have done this now.

[2018-01-23 22:52] #62 closed

[2018-01-24 07:34] betatim commented on #440
I thought that too but when I tried it all I got was the value from the second file. Not sure what the right words to type into a search engine are to find out what the docs say. Alternatively, is there a command to get helm to show me the "generated yaml we will use i you were to run this command"?

[2018-01-24 07:36] yuvipanda commented on #440
yep. you can use '--debug' (and --dry-run with it if you don't want it to
execute) to see what is up

On Tue, Jan 23, 2018 at 11:34 PM, Tim Head <notifications@github.com> wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-24 16:15] willingc commented on #52
Let's finish up that last bit of #433 and then test :-)

[2018-01-24 16:40] choldgraf commented on #52
@willingc #433 was the result of me testing this out with the cloud shell, so I can provide at least one confirmation that it does work with those instructions :-)

[2018-01-24 20:02] yuvipanda commented on #52
Can this be closed now or do we want one other person to also test?

[2018-01-24 20:18] choldgraf commented on #52
IMO we'll get plenty of in-the-wild tests from users in the future, so I'm +1 on closing but will defer

[2018-01-24 22:41] #52 closed

[2018-01-24 22:41] willingc commented on #52
Thanks folks :-)

[2018-01-25 18:36] consideRatio opened #446 "{{ possible security issue }} -> Document security reporting process"
{{ possible security issue }}

[2018-01-25 18:43] yuvipanda commented on #446
Thank you for reporting this, @consideRatio! Since this is a possible security issue, I've tried to clean out the content from our public repo. Shall investigate shortly!

[2018-01-25 18:46] consideRatio commented on #446
I'm sorry for the inconvenience @yuvipanda , I did not think that through properly =/

[2018-01-25 18:48] yuvipanda commented on #446
Not your fault at all! We don't have well publicized security procedures
here, so we should fix that.

On Thu, Jan 25, 2018 at 10:46 AM, Erik Sundell <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-25 19:05] choldgraf commented on #446
@yuvipanda lemme know if I should make a PR to the docs

[2018-01-25 20:06] ZachGlassman opened #447 "Add imagePullSecrets"
It might be useful to add in `imagePullSecrets` to the base templates so that images can be pulled from private docker repositories.

[2018-01-25 20:58] ryanlovett opened #448 "puller hangs during helm"
The pod logs:
[code]

Nodes:
[code]

k8s-master-38998895-0:
[code]

[2018-01-25 21:05] ryanlovett commented on #448
prepuller logs:
[code]

[2018-01-25 21:06] yuvipanda commented on #448
Is there a daemonset pod running on the master?

On Thu, Jan 25, 2018 at 1:05 PM, Ryan Lovett <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-25 21:15] ryanlovett commented on #448
NAME                              DESIRED   CURRENT   READY     UP-TO-DATE   AVAILABLE   NODE-SELECTOR   AGE
pre-pull-staging-123-1516912964   4         4         0         4            0           <none>          32m

[2018-01-25 21:19] #448 closed

[2018-01-26 00:15] ryanlovett opened #450 "prePuller extraImages doc example has too much ubuntu"
It is currently:
[code]
I think it is meant to be:
[code]

[2018-01-26 00:26] ryanlovett opened #451 "psycopg2 2.7.1 broken in current v0.6.0 hub image"
[code]

[2018-01-26 01:28] ryanlovett commented on #451
psycopg2 is currently at 2.7.1 in the hub image. A similar report at https://github.com/psycopg/psycopg2-wheels/issues/2 says that 2.7.3.1.dev0 fixed the problem. Others report 2.7.3 fixes it.

2.7.3.2 is the latest.

[2018-01-26 01:54] #451 closed

[2018-01-26 19:01] yuvipanda commented on #421
Thank you for getting this working, @cam72cam!

To summarize, this mostly works, except for the issue of permissions:

1. When using `subPath`, Kubernetes creates this directory when it doesn't exist if it needs to
2. However, this will always be created as root:root
3. Since we want our users to run as non-root, this won't work for us and we have  to use hacks to do chowns.

It'll be great if we

[2018-01-26 22:18] ryanlovett opened #453 "pre-puller and network-tools have too new tags"
The latest chart references image tags that do not yet exist. Even though pre-puller and network-tools were not touched during the last CI and so were not built, the tags in the chart are being set to the latest tag for the hub.

(@yuvipanda manually updated the latest images to make things work for me.)

[2018-01-26 23:06] cam72cam commented on #421
Could we add the chown hack I put in my image to the start.sh script in the stacks repo?
https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start.sh#L19

Would that break any existing users setups?

[2018-01-26 23:20] yuvipanda opened #454 "prePuller doesn't understand noschedule taint"
In the pre-puller, we only check for the `unschedulable: true` spec to see if a daemonset will get scheduled there. This accounts for cordoned nodes, but not for tainted nodes.

We should check for:

[code]

as well in the pre-puller.

[2018-01-26 23:23] yuvipanda commented on #454
I think we should try and fix this before we push out 0.6, since this is a common taint.

See https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/ for info around taints

[2018-01-29 06:23] yuvipanda commented on #453
This is probably something related to flaky CI, will check.

[2018-01-29 06:23] yuvipanda commented on #450
Nope, what's in the docs is correct! It's a dictionary, with key being arbitrary name and value being an object with name/tag.

Let us know how that could be clearer?

[2018-01-29 15:50] willingc commented on #299
*[Status Update 01-29-2918]* https://aws.amazon.com/eks/ is still in general preview.

Let's add a note to the docs that if one has access to EKS that would be the most efficient way to get started with AWS and JupyterHub.

[2018-01-29 17:57] willingc commented on #446
@yuvipanda Is there a place where we are sharing these potential issues internally?

[2018-01-29 17:59] yuvipanda commented on #446
I was thinking of using the ipython / jupyter security mailing list (I
haven't shared this anywhere yet). What do you think?

On Mon, Jan 29, 2018 at 9:57 AM, Carol Willing <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-29 18:07] willingc commented on #450
Perhaps add a second image such as fedora/centos. Alternatively, can name be "ubuntu-xenial"?

[2018-01-29 18:08] willingc commented on #446
Seems reasonable to me. @minrk ^^

[2018-01-29 18:08] yuvipanda commented on #450
I like the ubuntu-xenial idea!

On Mon, Jan 29, 2018 at 10:07 AM, Carol Willing <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-29 18:09] willingc commented on #450
Cool. Will send in a PR.

[2018-01-29 18:32] #450 closed

[2018-01-29 18:36] willingc commented on #437
We should begin looking at `cert-manager` as `kube-lego` is deprecated and will not support kubernetes > 1.8. We're currently using Kubernetes 1.8.6.

Here's a guide for migrating to cert-manager:
https://github.com/jetstack/cert-manager/blob/master/docs/user-guides/migrating-from-kube-lego.md

Possibly related DNS issue https://github.com/jetstack/kube-lego/issues/297

[2018-01-29 18:38] willingc commented on #437
@ryanlovett Something to check: https://github.com/jetstack/kube-lego/issues/286#issuecomment-346769406

[2018-01-30 01:21] ryanlovett commented on #437
Thanks @willingc! A dns lookup within the kube-lego container returned the correct results, but maybe nudging the kube-dns pod in some way will fix things.

[2018-01-30 01:23] ryanlovett commented on #450
Sorry for the noise @yuvipanda. I had checked the chart to make sure I was interpreting things correctly but I guess I goofed! I also like @willingc's suggestions.

[2018-01-30 09:05] #454 closed

[2018-01-30 09:18] minrk commented on #446
Using the existing Jupyter security list is probably right. We just need to make it clear in the right places here. The [jupyter report link](https://jupyter-notebook.readthedocs.io/en/stable/security.html#reporting-security-issues)

[2018-01-30 11:08] yuvipanda opened #461 "Find and fix performance issue in v0.6 that is spawning too many threads"
I was investigating https://github.com/jupyterhub/jupyterhub/issues/1636, and am now convinced there's a major performance regression in current v0.6 related to us spawning way too many threads.

On 0.6, the hub process is at 100+ CPU and 18929 threads. Latency is also through the roof.

On 0.5, the hub process is hardly at any CPU, and has 15 threads.

This needs careful investigation and fixing

[2018-01-30 11:48] #461 closed

[2018-01-30 16:18] choldgraf commented on #461
was going to say we should hold off on v0.6 until this is fixed...but it looks like it's already solved once kubespawner gets bumped?

[2018-01-30 18:25] yuvipanda commented on #430
We did it!

[2018-01-30 18:25] #430 closed

[2018-01-30 22:09] willingc commented on #410
@yuvipanda @choldgraf I'm running through deploying on AKS on 0.5 so I can upgrade to 0.6. Running into a few errors. Wiping and starting from scratch. Will add a WIP PR for some small doc errors.

[2018-01-30 22:13] choldgraf commented on #410
that would be super appreciated - I was new to azure when I wrote that PR so I'm sure there are some errors in there :-)

[2018-01-30 22:23] willingc commented on #410
It's actually very good @choldgraf. The doc changes are minor. The bigger issue I was having was some helm and tiller weirdness/errors. Starting over.

[2018-01-30 22:24] choldgraf commented on #410
story of my life

[2018-01-30 22:39] yuvipanda commented on #410
AKS will probably not work with 0.5 at all, so I think it's ok to not test
upgrades there.

On Tue, Jan 30, 2018 at 2:24 PM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-30 22:50] willingc commented on #410
Well that would explain it @yuvipanda. Nothing like troubleshooting to get one better at kubectl, helm, and friends. Should we recommend for AKS for folks to do a clean install for 0.6?

[2018-01-31 01:29] ryanlovett commented on #437
@willingc I killed the kube-dns service and after it came back up I tried redeploying with https enabled again. It worked, thanks!

[2018-01-31 01:29] #437 closed

[2018-01-31 01:34] willingc commented on #437
Cool! Glad it helped @ryanlovett.

[2018-01-31 04:08] ryanlovett opened #466 "No object with a name found"
When upgrading from 0.5 to 0.6, helm tells me:
[code]
However I do have that ingress object in my hub's namespace:
[code]

[2018-01-31 04:47] choldgraf opened #468 "Create a blog post for the new v0.6 release"
We should release a blog post to tell the world about v0.6! A lot of the leg work has already been done in the [v0.6 changelog](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/CHANGELOG.md). We should make some slight adaptations to the v0.6 changelog section to make it more blog-post-friendly, then post it to the jupyter blog on medium!

Anybody is more than welcome to give this

[2018-01-31 17:43] ryanlovett commented on #466
Perhaps related to https://github.com/kubernetes/helm/issues/3275.

[2018-01-31 18:01] ryanlovett commented on #466
I deleted the ingress object, re-ran helm upgrade, and the deployment worked. https wasn't available during the helm upgrade.

[2018-01-31 18:05] manics commented on #421
There are a few issues in Kubernetes which seem to disagree on whether Kubernetes should set the permissions on subpaths or not:
- https://github.com/kubernetes/kubernetes/issues/39474
- https://github.com/kubernetes/kubernetes/issues/41638
- https://github.com/kubernetes/kubernetes/pull/43775

[2018-01-31 18:42] martjanz commented on #466
Same error here. How you deleted the ingress object, @ryanlovett?

[2018-01-31 18:52] choldgraf commented on #466
@ryanlovett think that this is something everybody will need to do? If so, could you make a PR to the CHANGELOG upgrade instructions or paste text here and I can make a PR :-)

[2018-01-31 19:01] ryanlovett commented on #466
@martjanz You can run `kubectl --namespace=<YOUR-NAMESPACE> get ing` to view the ingress objects and `kubectl --namespace=<YOUR-NAMESPACE> delete ing jupyterhub-internal` to delete the one in question.

[2018-01-31 19:06] ryanlovett commented on #466
@choldgraf I don't think this is something that everyone will need to do because:

1. I think this is a helm bug and not everyone is running the same version of helm.
2. I upgraded two different hubs and one had the problem and one didn't.

That being said, having instructions in a troubleshooting section could be useful. I'll look for a good place to splice them in to the upgrade instructions.

[2018-01-31 19:09] cam72cam commented on #421
I figure doing the chown ourselves resolves it for now (behind a config setting) and can be removed once K8S finalizes if/how/when the subpath permissions should be set

[2018-01-31 19:20] ryanlovett commented on #466
@choldgraf Created PR #471.

[2018-01-31 19:31] cam72cam commented on #421
[code]

Just confirmed the fix in my test env

[2018-02-01 06:08] yuvipanda commented on #447
I think the easiest way to do this would be support a default serviceaccount that all user pods are attached to, and set this imagePullSecret on it!

[2018-02-01 06:08] yuvipanda commented on #410
This is done, I think @willingc and @choldgraf and @ryanlovett did the majority of the work here! <3

[2018-02-01 06:08] #410 closed

[2018-02-01 06:10] yuvipanda commented on #376
Sorry @consideRatio, I missed this comment before! We did this this way: http://zero-to-jupyterhub.readthedocs.io/en/latest/advanced.html#pre-pulling-additional-images for 0.6, and completely deprecated the old puller.

[2018-02-01 06:10] #376 closed

[2018-02-01 06:11] yuvipanda commented on #277
This should be all sorted out in 0.5 - 0.6 with RBAC support on by default. Going to close this now, but feel free to re-open if you run into it again!

[2018-02-01 06:11] #277 closed

[2018-02-01 07:48] ryanlovett commented on #466
This just occurred on a 0.6 to 0.6 upgrade using helm 2.8.0:
`Error: UPGRADE FAILED: no PodDisruptionBudget with the name "hub" found`

[2018-02-01 08:24] yuvipanda commented on #466
Can you try downgrading to 2.7.x? I am guessing this is a bug in Helm that hit the ingress by accident the first time but can randomly hit any objects anytime.

[2018-02-01 08:26] yuvipanda commented on #466
You would also need to downgrade tiller to 2.7.x

On Wed, Jan 31, 2018 at 11:48 PM, Ryan Lovett <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-02-01 22:42] summerswallow opened #472 "Failed to apply default image tag "None:None": couldn't parse image reference "None:None": invalid reference format: repository name must be lowercase"
I'm trying to deploy a docker image I build verabtim from
https://github.com/jupyterhub/zero-to-jupyterhub-k8s

I build the image:
`docker build k8s-hub`
I tag and push the image to AWS, ECS

I modify the config.yaml file to deploy it.
[code]

When I run it, the hub fails to start,

I get the following log when I do a `kubectl describe pod hub-xxxx`
[code]

[2018-02-01 22:44] summerswallow commented on #472
I forgot to mention. It only goes into this state when I try to start a server via the UI.

[2018-02-01 22:45] choldgraf commented on #472
Latest dockerfile section for reference:

http://zero-to-jupyterhub.readthedocs.io/en/latest/user-environment.html#use-an-existing-docker-image

3 quick things:
1. I think it's a typeo, but just to double check, you need `singleuser:` before the line with `image:`. That's in your config.yaml file right?
2. Can you show what's in the Dockerfile you used to create that image?
3. So everything works

[2018-02-01 22:52] summerswallow commented on #472
1) I did not add any singleuser: to my config.yaml line I was relying on the default values.yaml
I didn't need it when I when I when through the reference example in the docs

2) https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/images/hub/Dockerfile

No modifications. I understand this is latest not v0.5.0

3) Yes. It shows Crash backoff status

[2018-02-01 22:55] choldgraf commented on #472
try adding the `singleuser:` line above `image:`, it should have the same structure as the example shown in the docs: http://zero-to-jupyterhub.readthedocs.io/en/latest/user-environment.html#use-an-existing-docker-image

[2018-02-01 23:11] summerswallow commented on #472
Same result. Still doesn't
[code]
when I `kubectl describe pod jupyter-user`
Note that this is the error generate by the singleuser node not by the hub even though the only difference is the hub image I'm running.

[2018-02-01 23:16] choldgraf commented on #472
can you again paste the contents of `config.yaml`? Any time you change your `config.yaml` file copy/paste all the contents in a code cell exactly as-is...otherwise it's quite difficult to debug

[2018-02-01 23:17] choldgraf commented on #472
also is your docker image public? if so can you paste the link to that? (e.g. `xxxx.dkr.ecr.us-west-2.amazonaws.com/k8s-hub` but without the `xxxx` in there)

[2018-02-01 23:20] summerswallow commented on #472
The config.yaml file is complete with the redactions.

Unfortunately the repo is not public.

[2018-02-01 23:22] choldgraf commented on #472
Please just paste the actual content of the `config.yaml` file - oftentimes there are small errors in the written `yaml` and it's better to see the raw text to confirm that it's correct.

Regarding the image, can you try pushing to a public dockerhub image and using that in your `config.yaml` file?

[2018-02-01 23:32] summerswallow commented on #472
How do I post the file. I get an error in github with We don't support that file type.

[2018-02-01 23:32] yuvipanda commented on #472
Heya @summerswallow! It looks like your YAML is not valid/complete YAML, which makes it harder for us to help. http://www.yamllint.com/ is a useful tool to check if your YAML is valid or not. It might be a copy paste mistake? Am unsure!

What are you using to setup the cluster on AWS? The z2jh instructions with the heptio quickstart or something else?

Can you ssh into one of the nodes and try to

[2018-02-01 23:34] choldgraf commented on #472
`config.yaml` is the text file you use to configure kubernetes - in your original post you had these contents:

[code]

and we identified an original problem that `singleuser:` wasn't in there. Can you now post the updated contents of `config.yaml`? Thanks!

[2018-02-01 23:37] summerswallow commented on #472
Valid YAML.
Heptio quickstart for existing VPC

[2018-02-01 23:37] summerswallow commented on #472
[code]

[2018-02-01 23:37] summerswallow commented on #472
I took the singleuser section out of the values.yaml for v0.5.0

[2018-02-01 23:38] summerswallow commented on #472
I don't think it is a problem with pulling the image from ECR. My custom ks8-hub runs. I get an authentication screen. When it trys to spin up the server, the error I get is from the node.

[2018-02-01 23:41] choldgraf commented on #472
the image specified in `singleuser:` is pulled onto the node the first time a person starts their server, so it sounds like what is happening is that the image isn't properly configured in `config.yaml` and the error only comes up when jupyterhub attempts to pull the image.

You should remove the first `image: name: tag:` section from your config.yaml...can you do that and re-paste the contents of

[2018-02-01 23:42] summerswallow commented on #472
This yaml file runs fine:
[code]

[2018-02-01 23:44] choldgraf commented on #472
try the same with this in your config.yaml file:

[code]

[2018-02-01 23:44] summerswallow commented on #472
Sorry the hub: at the top of the pasted yaml files were missing. Bad cut and paste

[2018-02-01 23:45] summerswallow commented on #472
Not cut and paste. I'm not use to this markdown. The hub: was hidden.

[2018-02-01 23:47] choldgraf commented on #472
I don't think you want to be modifying the `hug: image:` - that's the image for jupyterhub itself and generally shouldn't be changed if you're just figuring out how to deploy your own jupyterhub on kubernetes

[2018-02-01 23:53] summerswallow commented on #472
I'm customizing the authentication. The external customization currently available are not sufficient.

But before I start any heavy lifting I want to figure out how to deploy a hub image.

[2018-02-01 23:57] summerswallow commented on #472
The modified yaml file works, but it doesn't include the desired hub image.

[2018-02-02 00:08] choldgraf commented on #472
ah - I'm curious why you wish to modify the hub image? Your best bet for officially-supported authentication are the configurations listed here:

https://zero-to-jupyterhub.readthedocs.io/en/latest/authentication.html

you shouldn't need to modify your hub image in order to get those to work...or are you attempting to write a new authenticator?

[2018-02-02 00:11] summerswallow commented on #472
Couple. One is internally designed. A second to support SAML

[2018-02-02 00:12] summerswallow commented on #472
And yes I looked at the link first.

[2018-02-02 00:26] choldgraf commented on #472
cool - so to use a specific hub image, you need your config to be:

[code]
that will use the default jupyterhub hub image, so if you want to use a different image, the *only* thing you should replace are the `name:` and `tag:` sections.

[2018-02-02 00:39] summerswallow commented on #472
Let me try that different hub image.

[2018-02-02 00:58] summerswallow commented on #472
Same issue if I make your change. It is definitely the image and not the YAML file.
To eliminate the YAML file and the aws ECS as the culprit. I pulled v0.5.0 docker image from dockerhub and pushed it into my aws ECS repository. Still referenced it like I did above. And it works.

So something about that single user image doesn't like any image that is not the dockerhub image.

Should I try helm i

[2018-02-02 01:00] summerswallow commented on #472
Nevermind apparently it is not ready. helm doesn't find it.

[2018-02-02 04:10] ryanlovett commented on #466
@yuvipanda On a production hub that was failing to deploy due to this issue, I downgraded helm to 2.7.2 and the release failed with the same error. In this case it was also the jupyterhub-internal ingress object.

[2018-02-02 05:11] yuvipanda commented on #466
Ugh. Was this hub ever using helm 2.8.0? Or was it always just 2.7? I'm
curious if it needs at least one install with 2.8 to produce this problem.

On Thu, Feb 1, 2018 at 8:10 PM, Ryan Lovett <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-02-02 05:12] ryanlovett commented on #466
It had been using 2.8 and I downgraded.

[2018-02-03 02:03] choldgraf opened #474 "Docs improvements whiteboard"
A few photos from a recent whiteboarding session with @yuvipanda - we can turn these into issues etc next week. Also a few random notes in hackmd form that should be turned into structured ideas:

https://hackmd.io/KwQwRgTALA7ADATgLQDMwgIxKmGAOJPFAYxFRGLz2JxCgFMQg===?both

Authentication section reorg
![image](https://user-images.githubusercontent.com/1839645/35761904-42ab0f6e-0843-11e8-94f0-5b5a6

[2018-02-03 02:04] choldgraf commented on #474
cc @yuvipanda @mpacer

[2018-02-03 04:12] yuvipanda opened #475 "Move from kube-lego to cert-manager"
From @willingc in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/437#issuecomment-361342249:

We should switch to cert-manager for 0.7, and hopefully do so in a way that doesn't interrupt user service!

[2018-02-04 06:37] consideRatio opened #476 "Multiple pre-puller daemonsets"
Running helm upgrades that creates new helm revisions will leave you with multiple prepuller daemonsets and prepuller pods. I manually removed all but the latest daemonset.

( Helm and Tiller is updated to 2.8, and I used v0.6 code. I've also enabled the pre-puller hook and continuous mode. )

[2018-02-05 03:10] yuvipanda commented on #476
Yes. do you see pre-puller daemons sticking on after every helm upgrade?

On Sat, Feb 3, 2018 at 10:37 PM, Erik Sundell <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-02-05 03:15] consideRatio commented on #476
I found one for every revision i made. Is it possible to do a helm upgrade
without getting additional revisions?

Im in my bed about to sleep, I can investigate further details tomorrow!

/ erik

On Mon, Feb 5, 2018, 04:10 Yuvi Panda <notifications@github.com> wrote:

[2018-02-05 08:59] betatim commented on #440
I put the below in a `secrets.yaml` and ran `helm upgrade deployment jupyterhub/jupyterhub -f config.yaml -f secrets.yaml`:
[code]

When I then `kubectl describe pod` the hub I don't see `JUPYTERHUB_CRYPT_KEY` in the environment and using `get_auth_state()` returns `None`. Typo in my yaml or ...?

My `config.yaml` looks basically like [this](https://github.com/wildtreetech/ohjh/blob/5486dc4fe8298b

[2018-02-05 09:41] GerbenWelter opened #477 "Pre-puller can't pull images in v0.6"
As discussed on gitter:

Pre-puller fails to pull in required docker images or recognise the images are already available. It only keeps logging the following over and over again:

[code]

This happens either on an install or upgrade from v0.5 using Helm 2.7.2 and Kubernetes 1.8.4. It also happens on a test-cluster at home using Helm 2.8.0 and Kubernetes 1.9.2.

## Contents of `config.yaml`
[code]

[2018-02-05 20:46] rschroll opened #478 "Error pulling jupyterhub/k8s-network-tools:a21cecb"
We built a JH deploy using a chart from e60ff40, with some older hub and singleuser images.  (This was from just before the release of v0.6.)  Everything was working fine until this morning, when pods refused to start because they could not pull the a21cecb tag of jupyterhub/k8s-network-tools.

It looks like we managed to find a small period of time after the k8s-network-tools was introduced and b

[2018-02-05 20:49] rschroll commented on #478
Also, @yuvipanda pushed the missing image to the docker repo, which solved things for our cluster.  Thanks!

[2018-02-05 23:21] summerswallow commented on #472
Update to run helm chart v0.6. Problem seemed to go away. Able to customize k8s-hub docker image and able to fire up the single-user-demo notebook.

[2018-02-06 01:16] choldgraf opened #479 "These are the skills you'll need" section"
* "
    * Contains information about the general skills that will be needed to do various things in the JupyterHub world.
    * Possibly with links to other pages w/ more information. Maybe under "Reference"?

[2018-02-06 01:18] choldgraf opened #480 ""These are the skills you'll need" section in docs"
There are many different kinds of skills useful/needed for working with JupyterHub. It'd be helpful if we gave readers some idea for what these skills are, and links to other documentation for more information on them.

Different kinds of people we could design this around:

* People who wish to deploy their own short-term jupyterhub
* People who wish to run a longer-term jupyterhub

We whiteboard

[2018-02-06 01:40] choldgraf opened #482 "Moving the side-bar search to the top"
Right now the search bar gets lost if there are lots of sub-sections on the page...e.g.:

![2018-02-05_17-39-34](https://user-images.githubusercontent.com/1839645/35837529-872975e0-0a9b-11e8-94a3-183204a99b06.gif)

I find the search bar quite useful, and it's easy to miss when it's buried like that. Could we move it to the top of the TOC so that it's always visible at the top? What do you think @w

[2018-02-06 01:44] #479 closed

[2018-02-06 01:44] consideRatio commented on #479
"General skills" ? I'm thinking technical skills about for example docker, kubernetes, etc. I have had to learn so much! :D

Hmmm, things to spend time learning about and how to do it
- Python, Docker, YAML, Kubernetes, Helm, Jupyter/JupyterHub, Kubespawner,

---

Essential: this repos superguide
Docker: A small course + YouTube videos etc...
YAML: Look at a youtube video
Kubernetes: Read through

[2018-02-06 01:45] choldgraf opened #483 "Improving the authentication section"
- [x] Google Oauth Example - shorten it and link out to other oauth documentation instead of treating google special here.
- [ ] Move authentication section from administrator to the customization section under "user management"
- [ ] Give a better overview of "how documentation works" in general, and make sure we list all possible authenticators. Give an example for one and make sure it's general

[2018-02-06 01:46] choldgraf opened #484 "Improve the "how to prepare your Dockerfile" section"
Hit three main use-cases:
 * Option 1: Use jupyter-dockerstacks as a pre-existing image
 * Option 2: Creating your own Dockerfile from scratch
 * Option 3: Use repo2docker

---

**Current in 0.7.0:**
- [x] Selection of jupyter/docker-stacks
- [x] Extension of jupyter/docker-stacks

[2018-02-06 01:47] choldgraf opened #485 "Improving the costs section"
* We need to make it extremely clear that the cost estimator is only a back-of-the-hand estimate. Unclear whether it'd be better to just remove this page, because people seem to really like it.
* Make sure that this isn't google-specific. Begin by listing the prices for each of the main cloud providers but mention similar costs on any provider.

[2018-02-06 01:48] choldgraf commented on #474
gonna close this as this issue has now become #485  #484 #483 #480 #482 and #481 :-)

[2018-02-06 01:48] #474 closed

[2018-02-06 16:38] willingc commented on #482
Sure. I might even consider having it at the top and the bottom if the contents are long. @choldgraf

[2018-02-06 16:39] choldgraf commented on #482
oo cool idea, LMK make a quick PR to prototype it and we can see how it feels

[2018-02-06 16:43] choldgraf commented on #482
huh - I actually can't get the search bar to show up twice...if I copy/paste to the top of the sidebar, then it only shows up on top and not the bottom

[2018-02-06 16:46] willingc commented on #482
Move it to the top for now and if folks ask we can investigate both. 👍

[2018-02-06 18:03] choldgraf commented on #472
Great news! I'm gonna close this, feel free to re-open if you think it's not resolved!

[2018-02-06 18:03] #472 closed

[2018-02-06 18:40] ryanlovett commented on #480
systemd (init) and environment issues (e.g. PATH) come up a lot on the jupyter mailing list.

[2018-02-07 02:20] consideRatio commented on #476
I have thought a lot about this issue and learned a lot. I'll need to get back to this, for now I'll simply post my thoughts.

# Dear Rubber duck, I write you in hope of clarity...

![image](https://user-images.githubusercontent.com/3837114/35894987-adbe68f8-0bb5-11e8-8cf9-073d31d87982.png)

### Observation
Oh... The DS needs to be named the same for Helm to replace the old DS instead of create a

[2018-02-07 10:08] manics commented on #476
That's exactly the problem: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/425

Unfortunately it leaves a lot of resources behind on failure, in my case I get this when pulling a large image that causes helm to timeout.

Perhaps another alternative is to avoid using hooks, have the pre-puller as a normal pod, and add an initContainer to Jupyterhub which checks for a successful pull st

[2018-02-07 10:10] yuvipanda commented on #476
So the underlying bug here seems to be that this particular line: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/images/pre-puller/main.go#L117 is not actually working as intended all the time, and so the deletion is not successful some of the time. Need to investigate why.

[2018-02-07 10:28] yuvipanda commented on #476
@consideRatio thank you for your well put together rubber duck! I enjoyed it :)

1. The hook and the continuous pre-puller can co-exist. The hook creates a daemonset that has the same specs (but different name!) as the continouos pre-puller to pull images, then it deletes the daemonset (when it is not buggy!) and moves on.
2. Helm hooks only have a definition of 'done' for certain objects - Jobs,

[2018-02-07 10:42] consideRatio commented on #476
Thank you for reading @manics and @yuvipanda :D

__The cleanup issue__
The main concern for me is stability, I'm interesting in reducing the problems by simplifying the hook-image-puller / continuous-image-puller logic.

__The hook-puller-job__
- needs rbac permissions to read info from k8s and create/delete a daemonset. Let us name these statically.

__Ideas__
- Static names instead of dynamic na

[2018-02-07 10:43] consideRatio commented on #476
@yuvipanda thank you for explaining things to me, I have learned so much working with project!

[2018-02-07 10:51] yuvipanda commented on #476
Can you explain what you mean by static / dynamic name in hooks? IIRC the objects being leftover aren't those, but just the daemonset that is created in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/images/pre-puller/main.go#L99

[2018-02-07 10:54] yuvipanda commented on #476
Daemonsets don't really work as helm hooks unfortunately, if they did you can do this and get rid of our pre-puller.

This also doesn't work, since the primary goal of the hook pre-puller is to allow JupyterHub to not be restarted / use new image until it is present on all nodes. If we don't have it, then there's still a period of time when new user pulls are going to take a long time, thus affect

[2018-02-07 11:44] consideRatio commented on #476
@yuvipanda about the static/dynamic names, I didn't know what to call the difference between the naming below so i just called them like that and hoped for the best :D
- Static example: "pre-puller"
- Dynamic example: "pre-puller-{{ .Release.Revision }}"

@yuvipanda about helm hooks
Oh crap I imagined one could use them to get an ordering in the install/upgrade process. If one could get the puller

[2018-02-07 14:42] consideRatio commented on #476
Relevant documentation about Helm Hooks:
- https://docs.helm.sh/developing_charts/#hooks-and-the-release-lifecycle

[2018-02-07 18:30] mbjoseph opened #488 "Invalid Kubernetes version in Google Cloud instructions?"
I'm following the instructions in Step 5 of [Creating a Kubernetes Cluster](http://zero-to-jupyterhub.readthedocs.io/en/latest/create-k8s-cluster.html) for the Google Cloud deployment, and getting an error that suggests the instructions might specify a version of Kubernetes that is invalid.

I'm using the Google Cloud Shell, and am able to install `kubectl` with

[code]

Then when trying to actual

[2018-02-07 18:33] choldgraf commented on #488
gah - it looks like google deprecated the version we were using again (https://cloud.google.com/kubernetes-engine/versioning-and-upgrades)

I think we were pinning the version before because of a new-version-incompatibility. But perhaps this is now gone and we can start telling people to use the default version used w/o specifying the cluster version. @yuvipanda do you know if we can do this?

[2018-02-07 19:21] yuvipanda commented on #488
Not yet, Chris :( Can we bump it to *1.8.7-gke.1?*

On Wed, Feb 7, 2018 at 10:33 AM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-02-07 19:39] choldgraf commented on #488
@yuvipanda 👉 https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/489

[2018-02-07 19:41] choldgraf commented on #476
I don't have anything meaningful to add to this discussion but I just wanted to say that your description of the problem was amazing @consideRatio

[2018-02-07 19:53] minrk commented on #488
Fixed by #489

[2018-02-07 19:53] #488 closed

[2018-02-07 19:55] minrk opened #490 "repo2docker no longer installs jupyterhub"
User environment instructions [recommend using repo2docker](http://zero-to-jupyterhub.readthedocs.io/en/v0.6/user-environment.html#build-a-custom-docker-image-with-repo2docker) to build the user image, but repo2docker no longer installs jupyterhub automatically. Updating the example to install jupyterhub explicitly should make it work again.

[2018-02-07 20:09] mbjoseph commented on #488
👍 thanks @choldgraf 🥇

[2018-02-08 01:32] consideRatio commented on #476
I've come across some issues, I'm trying to solve them, but some sleep is needed...

#### Helm version issue
The Helm annotation allowing deletion of jobs through annotations like `"helm.sh/hook-delete-policy": hook-succeeded` that was [introduced in Helm v2.7.0](https://github.com/kubernetes/helm/pull/2692). Without it non-fixed names for the roles is troublesome as I end up getting "it already e

[2018-02-08 03:19] consideRatio commented on #476
I figure the way forward might be to...

1. Start using a library for accessing the k8s API and pay a price of an image size as well as maintenance for the blocking Job
2. Go wild and believe that the library won't break your heart.
3. Ensure that the blocking Job using the library is always able to schedule on the master node or at least have affinity for the master node, or simply any node that

[2018-02-08 12:13] consideRatio commented on #477
The pre-puller will compare the needed images with the available images in the node, but only the first 50. Perhaps that is whats happened. A wprkaround until it is fixed could be to purge all images from the available nodes.

If you have multiple nodes, i think it is your master node that will block, as that has a lot of additional images on it, and have probably remained up for the longest of al

[2018-02-08 17:29] yuvipanda commented on #480
@ryanlovett I agree with environment issues! But for at least kubernetes, you do not need systemd anywhere.

[2018-02-08 17:40] yuvipanda commented on #480
That's a great set of links, @consideRatio!

[2018-02-08 18:24] yuvipanda opened #491 "JupyterCon Tutorial [CFP due March 6]"
I think we should propose a tutorial at JupyterCon *just* for zero to jupyterhub (rather than general JupyterHub deployments). I've given this a few times and it goes pretty well!

[2018-02-08 18:25] yuvipanda opened #492 "JupyterCon talk about z2jh [CFP end March 6]"
I think we should also have a talk specifically about z2jh (rather than JupyterHub in general - although maybe not?). Would include some history of the project, performance measures, quick demos and 'where we are going'.

Could also be finally an opportunity to replicate the Kelsey Hightower style 'Ok Google, deploy a JupyterHub for me' demo :)

[2018-02-08 19:43] #482 closed

[2018-02-08 21:28] choldgraf commented on #490
There will hopefully be a dockerfile overhaul soon, so this should definitely be a part of it

[2018-02-08 23:14] yuvipanda commented on #492
@consideRatio would you like to be involved in giving the tutorial? I think you've spent a lot of time digging through the code from a fresh perspective, and it would be great to have new faces in there!

[2018-02-09 01:00] consideRatio commented on #492
@yuvipanda wow big decision for me but I know the pros outweighs the cons already. It would simply be too fun, too meaningful, too exciting, too potentially life changing to say anything other than yes to such opportunity!

Yes! I'd love to be involved! I'll solve potential hurdles and make it happen!

Woooow I'll be going to JupyterCon! It was a while since I felt such childlike excitement! :D
![

[2018-02-09 15:57] choldgraf commented on #492
this post warms my ❤️

[2018-02-09 18:40] choldgraf commented on #428
hey @aculich and @jzf2101 - any movement on this? Aaron I hope you don't mind, but I edited the top-level comment to put the email in a *details* section so that it's easier to parse the information. I also added a deadline for this submission (which is in 10 days!!).

[2018-02-09 19:21] mrocklin commented on #402
This would be of high value to me personally.  I'd also welcome pointers to dev documentation, examples, source code, etc. that might help me on my way.

[2018-02-10 08:28] kdubovikov opened #493 "JupyterHub CrashLoopBackOff"
I am trying to spin up JupyterHub using helm and all resources start successfully, but after a short time hub pod enters CrashLoopBackOff.

Installation was performed using the following command:
[code]

I've also tested version 0.5 and got the same results.

Logs:
[code]

Namespace status:
[code]

## Contents of `config.yaml`
[code]

[2018-02-10 20:08] yuvipanda commented on #491
I put this in the wrong thread (#492), but @consideRatio is interested in being part of the team that's giving a z2jh tutorial :)

Who else is interested in being part of it? @choldgraf @minrk @willingc?

[2018-02-10 20:59] aculich commented on #428
@choldgraf @jzf2101 @mpacer to finish this up this week, we basically have to decide how long we want the tutorial to be, and sketch out a timeline of how we'll use the time.

We can submit up to a 2-page description of the full proposal, but the abstract covers the areas we'll touch on, so I'm not sure how much additional we need to write beyond what we have already?

Full-day (6-hour)
Half-day (

[2018-02-12 08:58] GerbenWelter commented on #477
Thank your for your comment and the write-up, but I think it doesn't apply in my case. I've seen the problem in my test cluster at work but also on my newly setup cluster at home. So it seems to be something in the puller code with regards to k8s.

[2018-02-12 18:09] choldgraf commented on #428
IMO there's enough material for a full day tutorial, depending on the interests / backgrounds of the group involved...

However, I think the length etc should be ultimately up to the people that are definitely going to give the tutorial. As we've got lots of other tutorials / talks lined up (JupyterCon and Scipy are each within a couple weeks of PEARC) we need to split up decision-making responsib

[2018-02-12 18:13] choldgraf commented on #428
A quick thought: I wonder if this would be an interesting crowd to cover [daskernetes](https://github.com/dask/daskernetes) alongside jupyterhub

[2018-02-12 19:10] choldgraf commented on #491
I'm definitely interested in helping out - still unsure about travel/timing/whether I'll be able to make it since I've got a wedding in France for the week after JupyterCon, but I'll figure that out in the coming month or two...

[2018-02-12 19:41] yuvipanda commented on #428
Agree re: entire day. Things to cover would also include customizing user
environments, which we never did in our 3h tutorials.

On Mon, Feb 12, 2018 at 10:13 AM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-02-13 00:28] choldgraf opened #498 "Spin off advanced dockerfile configuration from "customizing your environment""
"Customizing your environment" could be split into two pages: one specifically on creating a minimal Dockerfile that will work with JupyterHub, another that covers more advanced cases (e.g. JupyterLab, pre-populating, etc)

[2018-02-13 00:30] choldgraf opened #499 "Factor out advanced dockerfiles in "customizing your environment""
[Customizing your environment](https://zero-to-jupyterhub.readthedocs.io/en/latest/user-environment.html) should have general "minimum viable product" kinds of information on customizing the user environment. As we improve the instructions around `Dockerfile`s, we should split this off into it's own page that covers more advanced cases (e.g. JupyterLab, pre-populating, etc)

[2018-02-13 01:03] yuvipanda opened #500 "Fix branch builds for this repo"
Currently, if you push to a branch in this repo, Travis fails.

We should fix this!

[2018-02-13 01:06] yuvipanda commented on #493
Heya @kdubovikov! Thanks for filing this issue!

It looks like the hub pod can not reach the proxy pod. Is Pod networking and kube-proxy working properly? I suspect this is an OpenStack installation / bare-metal setup. Are other services on the cluster working fine? Does https://scanner.heptio.com/ find any issues?

[2018-02-13 01:07] #274 closed

[2018-02-14 14:17] kdubovikov commented on #493
Hey @yuvipanda , thanks for the response. All other services are working fine (we also run glusterfs). I've ran the tests and no issues have been found:
[code]

Also, I am able to run Jupyter Hub with `KubeSpawner` outside of the cluster without issues.

[2018-02-16 02:11] consideRatio commented on #476
## My current goal
1. Understand and setup a stable functional continuous-image-puller.
--- STATUS: Working afaik

2. Setup a stable and functional hook-image-puller that will block the helm upgrade until images are available for minimal downtime and a small consistent waiting time for users spinning up new servers.
--- STATUS: > 50 images on a node limitation bug, along with some cleanup issues.

[2018-02-16 03:30] consideRatio commented on #491
Hey! I was swamped with teacher stuff this week, but I'm almost back on track now. I meant to follow up on this thread a lot sooner.

@yuvipanda I bet a few will get it and become enthusiastic about setting up a jupyterhub on k8s, but also that they might end up needing to do it without proper initial support from within their organisation. I imagine you can relate to doing things you believe in.

[2018-02-16 16:13] willingc commented on #491
Sounds great. I'm in.

[2018-02-16 17:24] choldgraf commented on #491
I like @consideRatio 's take on this , +1!

[2018-02-16 17:24] actionshrimp commented on #477
I'm seeing a similar issue using the docker for mac built-in kubernetes cluster. I've tried recreating the cluster, and wiping as many images as possible off my local docker but the problem seems to stick around. One of my images seems to be logged as pulled down correctly, and if I manually do `docker pull` both images are available on my machine. Here's the kubernetes event log:

[code]

And the

[2018-02-19 17:01] consideRatio commented on #477
REBOOTING INTO LINUX - COMMENT WILL BE UPDATED - TEMP STORAGE... actionshrimp GerbenWelter #502 might solve your problems, could you help me verify if that is the case?

[code]
__response__
[code]

### Explanation
When you "read <X> of <Y> images pulled in node <nodename>" you are reading the output of a script that does the following.

It queries the k8s API on /api/v1/nodes which returns a NodeL

[2018-02-19 18:54] actionshrimp commented on #477
Thanks, I'll try and give it a go - is the easiest way to run `helm` on a version of this repo checked out on your branch?

[2018-02-19 19:50] aculich commented on #428
@choldgraf @yuvipanda sounds like we're settled on the full-day (as expected) since we have more than enough material that we can make good use of people's time in a day-long. In addition to the hands-on bits, we also have

I have enough in our discussions here to do what's needed for the final submission tonight; feel free to add comments in the [google doc](https://docs.google.com/document/d/1kY

[2018-02-19 20:03] consideRatio opened #503 "[WIP] Autoscaling - a living development documentation"
# Goal
Allow easy setup of node autoscaling suitable for jupyterhub k8s clusters.

## An intro to autoscaling
If we have many users, we will have many singleuser pods, each guaranteed some resources. The more users, the more pods, the more resources required. We might want to add nodes when we are unable to schedule more pods, or perhaps when were are close to being unable to schedule more pods. T

[2018-02-19 20:17] consideRatio opened #504 "'pack' scheduling of nodes should have affinity for the hub"
The 'pack' scheduling strategy for nodes should create a very high affinity for the hub, as this will be the node to scale down last of all.

Learning more, will send a PR when I got it right.

[2018-02-19 20:55] consideRatio commented on #477
@actionshrimp Hmm I have not thought about how you could utlize my code even before the PR is accepted. Images / Helm charts hmmm... so if you checkout my branch... ehhh wrapping my head around all the details here is tough...

Step by step...
- I have not published any helm chart
- My built docker images are stored privately (doh - i'll make them public in the future)
- You can checkout my branch

[2018-02-19 21:57] consideRatio commented on #503
# Observations
- It seems like the google kubernetes cluster autoscaler will not scale down to one pod without additional setup... https://github.com/kubernetes/autoscaler/issues/582#issuecomment-362540339
- It seems like enabling autoscalers will create a pod labeled with `k8s-app=kube-dns-autoscaler` and requesting 20millicores. It would be great if this always was scheduled on the same pod as t

[2018-02-19 22:17] consideRatio commented on #503
## Pre-scaling
It is relevant to scale up before a user pod fails to be scheduled due to lack of nodes as it will take some time for the new node to pull the relevant images. So, it is therefore relevant to consider performing "pre-scaling" which could also be called buffered scaling or similar.

### Implementation idea 1:
I think we could create a number of placeholder pods that require the same

[2018-02-19 23:17] jzf2101 commented on #428
@aculich I'd be happy to help

[2018-02-19 23:23] choldgraf commented on #428
@aculich sounds good - if you have specific questions etc, happy to spot-check them!

[2018-02-19 23:32] consideRatio commented on #491
Perhaps something like this?

## Coarse outline of the talk
### Envision (1/4)
- Summary of potential for teachers, students and researchers
- Listeners get to envision the benefits

### Empower (2/4)
- Tutorial to utilize the z2jh guide, going from zero all the way
- Listeners get to feel empowered

### Support (1/4)
- Listeners get to ask questions
- Listeners could perhaps sign up in some way,

[2018-02-20 00:17] aculich commented on #428
@jzf2101 you should have access now.

@choldgraf great, I'll ping you when things are ready for a spot-check, but also feel free to peek & poke at the doc between now and then :) Also, do you know how to generate a PDF version of the http://binderhub.readthedocs.io/en/latest/ and https://zero-to-jupyterhub-with-kubernetes.readthedocs.io/en/latest/ docs? I don't know sphinx well myself, but that mi

[2018-02-20 00:19] aculich commented on #428
@choldgraf nevermind about the PDF.... I figured it out since there's the handy javascript popup in the lower right of the page... hadn't noticed that before! easy! :)

[2018-02-20 00:24] choldgraf commented on #428
Cool - yep RTD does all that conversion automagically :-)
--

On Mon, Feb 19, 2018 at 4:19 PM Aaron Culich <notifications@github.com>
wrote:

[2018-02-20 01:48] willingc commented on #428
I reviewed what's there and it looks great. I made 2 small suggestions for readability.

[2018-02-20 02:17] jzf2101 commented on #428
Thanks, I tweaked that

[2018-02-20 04:16] aculich commented on #428
@jzf2101 @choldgraf @willingc I will be taking a break and completely stepping away from my computer between 8:30pm-10:30pm Pacific Time. I will return at 10:30pm to review the document status and make final additions/edits, with a plan to submit at midnight Pacific Time (which still leaves ~4 hours until the final deadline).

[2018-02-20 07:33] aculich commented on #428
I'm working on the final bits of the proposal now... I will ping here on the github issue tracker when I am done finalizing, and give about a half-hour window before finally submitting (submit-time will probably around 1am Pacific given my current proposal submit workload with other proposals)

[2018-02-20 08:06] aculich commented on #428
Proposal submitted! Yay!

And…………………….. holy heart attack, batman! The submission deadline *actually was midnight Pacific Time*!!!!!!!!!!!!!!! There was a countdown timer on the pages, thankfully, so that my bad timezone math didn’t sink our ship! But it was close!

But submitted and done!

[2018-02-20 08:06] #428 closed

[2018-02-20 08:11] choldgraf commented on #428
Just arrived at home and saw this. Thanks for double checking the deadline
Aaron! I saw confirmation emails from pearc so it looks like we're OK!

On Tue, Feb 20, 2018, 12:06 AM Aaron Culich <notifications@github.com>
wrote:

[2018-02-20 10:31] betatim opened #506 "Group ID of jovyan in singleuser image"
Should the group ID used by jovyan in the singleuser image be 1000 or 100?

[Here](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/76fcf7b208d19593ff5ce536a8319f6a3400e714/jupyterhub/values.yaml#L131) it is set to 1000 but in the base image that the singleuser image is based on jovyan is in group 100.

I think this is a typo.

[2018-02-20 10:50] actionshrimp commented on #477
Ah yep `kubectl get node docker-for-desktop -o json | grep "sizeBytes" | wc -l` gives me 50

I only have one node as it's my local cluster, and there was one instance of both the pre-pull pod controlled by the DS, and the pre-puller pod running (which was apparently stuck in a loop)

[2018-02-20 11:05] GerbenWelter commented on #477
In my case on my single node test cluster at home `kubectl get node $(hostname -f) -o json | grep "sizeBytes" | wc -l` gave me 22 before starting the deployment of jupyterhub and 25 after. But then the pre-puller pod gets stuck in the `0 of 2 images pulled` loop.

[2018-02-20 16:06] consideRatio commented on #477
@actionshrimp okay then you will risk getting stuck unless the images are within those 50 responses, they seem to be sorted by size, and the network-tooling thing is a very small size.

You could potentially temporarily workaround your issue by setting `singleuser.cloudMetadata.enabled: true` in values, and remove the need for the smaller networkTools image. I think that might be the image you don

[2018-02-20 16:17] consideRatio commented on #506
I worked around this feeling bad about it... I modified my singleuser image to add a name for the group 1000 to avoid showing my students that error message when they open up a terminal.

As one can see from the base-notebook image, used by all the images in the jupyter docker-stack, they use the group ID of 100 rather than 1000.
https://github.com/jupyter/docker-stacks/blob/92fe05d1e7e5ec1f8e804c

[2018-02-20 16:23] consideRatio commented on #506
Hmmmm, will a change to 100 cause permission issues on the storage?

[2018-02-20 17:13] consideRatio opened #507 "Dependency on K8s 1.9"
I'd like to use [a Kubernetes API - /apis/apps/v1/namespaces/{namespace}/daemonsets/{name}/status](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#read-status-18) in the pre-puller code released as core within k8s 1.9.

Should we maintain compability or can we ask users to upgrade to k8s 1.9?

[2018-02-20 18:32] consideRatio commented on #503
# Termination of singleuser pods Issue
When I add more and more users, and finally surpass the required amount of users, all the singleuser pods on the first node are terminating suddenly.

__TODO__
- [ ] Investigate why - are they being moved, are they being evicted to make room for the new pod?
- [ ] Extra - Add more and more users, and see what happens to the kube-system pods when scaling up

[2018-02-20 18:44] consideRatio commented on #503
# Downscaling blocked by kube-dns pod issue
If you scale up by adding more singleuser pods, you might or might not end up with two kube-dns pods requesting 260m CPU on the primary node containing [heapster and other vital pods](https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/).

When we end up with a kube-dns on two nodes, the CA will not scale down to

[2018-02-20 20:04] consideRatio commented on #503
# Configuring a primary node issue
We want to allow for an autoscaling to go all the way down to one single node. For that to happen, all vital services that are not supposed to be disrupted should be scheduled on one single node, I'll call this the __primary node__.

__TODO__
- [ ] Configure a primary node, ensure that vital pods colocate on it.
- [ ] Colocate heapster
- [ ] Colocate kube-dns (th

[2018-02-21 01:47] dholt opened #510 "Need way to set custom resource limits"
Is there a way, or could there be a way, to submit custom resource limits to the notebook pod via the Helm chart? This is needed to specify a number of GPUs to attach; for example:

[code]

[2018-02-21 02:13] leopsidom opened #511 "docker.errors.APIError: 400 Client Error: Bad Request"
I followed the documentation to build a docker image with custom requirements.txt. My command to build the image is as:

`jupyter-repo2docker https://github.com/leopsidom/jupyterhub-scipy.git --image=gcr.io/jupyter-server-195420/jupyter-server:cf36c6 --no-run`

It seems the image build was successful, since it gives message as follows:
[code]
After which however it gives me an error as the title.

[2018-02-21 18:54] yuvipanda commented on #507
I think right now, we need to keep supporting 1.8. The URLs that work in 1.8 continue to work in 1.9 too, so we could just keep doing what we're doing now.

We do need an official policy on what we support and when though...

[2018-02-21 18:57] #382 closed

[2018-02-21 19:37] consideRatio commented on #507
I found I could use a k8s 1.8 API in beta doing the same thing instead of the k8s 1.9 API, and the beta API will still be available in 1.9 so that's all good now.

I'm closing this and opening an issue about supported versions.

[2018-02-21 19:37] #507 closed

[2018-02-21 19:40] consideRatio opened #514 "Decide and document supported version: Helm, Kubernetes, ..."
Currently I'd like z2jh-k8s 0.7 to require Helm 2.7+ and K8s 1.8+ in order to be able to use helm hook-deletion-policy annotations and the daemonset beta API in K8s 1.8+.

@yuvipanda "We do need an official policy on what we support and when though..." https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/507#issuecomment-367431633

[2018-02-21 22:21] consideRatio commented on #491
## Researching notes - JupyterCon 2018
So I'm new on conference participation, so I made some research. Two formats exist, 40 minute talks and 3 hour tutorials.

### Resources
- [Proposal tips](https://conferences.oreilly.com/jupyter/jup-ny/public/cfp/621#tips)
- [Proposal samples](http://www.oreilly.com/conferences/sample_proposals.html)

@willingc @yuvipanda @choldgraf
- What kind of participati

[2018-02-22 00:56] yuvipanda commented on #493
Hmm, in that case I'm at a loss about what is going on :(

[2018-02-22 00:58] yuvipanda commented on #491
@consideRatio I think this one is specifically for the 3hour tutorial. https://conferences.oreilly.com/jupyter/jup-ny-2017/public/schedule/detail/60075 is from last year. I think last year it was two parts, one was setting up JupyterHub from scratch and another was setting it up with just z2jh. I think this year, we should just do z2jh in the tutorial (unless others object!)

[2018-02-22 01:13] consideRatio commented on #491
Ah woo now pieces are falling into place in my mind, I figured there would be only one of something up until now. Awesome do both! =)

One "talk" (40min) and one "tutorial" (3h) is planned, and I'll participate in giving this tutorial!

[2018-02-22 05:07] clkao opened #518 "Unable to start singleuser when user pv is full"
This is probably a jupyterlab issue, but worth tracking here as full user pv will render the singleuser notebook unusable and require manual intervention.  There should be a fail-safe mode that the server can be started and user is advised to cleanup home directory.

[code]

[2018-02-22 05:27] clkao commented on #510
This can be done with `c.KubeSpawner.extra_resource_limits`, but there's no z2jh configmap wrapper for that. You'd need to `extraConfig` for now.

[2018-02-22 06:57] consideRatio commented on #503
# Movement of hub/proxy pods
My hub pod have showed up on other nodes than the primary node where all the system pods are. What could have happened?

__1. The hub/proxy pod was moved by the CA__
No, because a PDB disallows it.

__2. A helm upgrade was made and the new version pod got scheduled on the secondary node__
If the primary node was full (with a terminating old pod taking up space), and my

[2018-02-22 07:31] consideRatio opened #520 "[WIP] K8s templates review"
I can PRs, but for now i want to get stuff out of my head
- [ ] All resources should have a metadata.name field set
- [ ] Currently some resources like the hub and proxy deployment have their name labels, those are meant as metadata.name rather than labels right?
- [ ] hub and proxy PDB, the pods should not be disrupted no matter if we have 1 or more right? Such as being moved by a CA? If so, we s

[2018-02-22 11:36] manics opened #521 "If auth.whitelist.users is non-empty GitHub orgs are ignored"
Expected behaviour: If `auth.whitelist.users` is a non-empty list and `auth.github.org_whitelist` from https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/501 is set users should be able to login if they're in `auth.whitelist.users` or if they're a member of `auth.github.org_whitelist`

Observed behaviour: If `auth.whitelist.users` is a non-empty `auth.github.org_whitelist` is ignored

## Re

[2018-02-22 12:10] minrk opened #522 "culler is failing and exiting when culling users and servers are slow to stop"
Two issues:

1. culler script seems to exit when the cull request fails. It's unclear why this happens, but we should confirm and fix this
2. the 'real' issue is that the culler is hitting 400 errors in the first place. The cause is servers that are slow to stop (DELETE /users/:name gives 400 if the user's server is running and cannot stop promptly). The previous request to stop the server will ha

[2018-02-22 13:47] zcesur commented on #85
You have probably fixed this by now, but [this](https://github.com/zcesur/embeddable-jhub-sample) configuration did the trick for me!

[2018-02-22 15:45] mrocklin opened #525 "Pressing "Access Server" as admin leads to ones personal account"
When diagnosing a user's issue I log into the hub/admin page and press the "Access Server" button next to their account name.  Instead of being taken to their account I am taken to my own.

## Contents of `config.yaml`

    --version=v0.6.0-9701a90

[code]

[2018-02-22 15:48] rabernat commented on #525
I experienced this too. But then I tried it again a few times and it worked.

[2018-02-22 16:20] consideRatio commented on #525
+1

[2018-02-22 17:45] choldgraf commented on #85
wow - nice workaround :-)

[2018-02-23 01:05] consideRatio opened #526 "Enable continuous pre-puller by default"
Continuous image pulling, should we have it enabled by default? I have a hard time imagining someone being upset about minuscule resources lost by a pause container on their fixed amount of nodes.

The main reason for not enabling it afaik is the added complexity, but since the pre-puller hook is enabled by default I don't think it is a big stretch as they rely on the same technique.

[2018-02-23 01:45] yuvipanda opened #527 "Add documentation around LimitRange objects"
Google Cloud now ships with a default [LimitRange](https://kubernetes.io/docs/tasks/administer-cluster/memory-default-namespace/) object that makes every pod that doesn't request any CPU request .1 CPUs.

This can lead to OutOfCpu errors easily if nodes are too small, since most pods don't actually need a 0.1 guarantee.

Discovered this when testing #502 on a small node, since the pre-puller pods

[2018-02-23 01:46] yuvipanda commented on #527
/cc @consideRatio I think finding a way to make sure that the pre-puller pods always have 0 CPU and RAM requests even with limitrange present would be great! Not a showstopper though.

[2018-02-23 01:55] consideRatio commented on #527
Oh okay now I get it!

* The continuous pullers will only do serious work when they are alone on the node, so having a very low request but set a slightly higher limit?
* The hook pullers might do serious work while many pods are running on the node though, also btw, what happens if a hook-puller daemonset pod doesn't fit within a node? Hmmm....

[2018-02-23 01:56] choldgraf opened #528 "Consider moving away from NGINX for ingress"
We've had a few problems pop up on Binder because of the reliance on the relatively old tech of NGINX. This most recently manifested in Binder downtime because the NGINX pods froze up and stopped responding.

Is there another option that's a bit newer and can handle the more dynamic nature of our k8s clusters?

cc @yuvipanda who had some thoughts. Also please confirm this is the right repo for thi

[2018-02-23 02:02] yuvipanda commented on #528
This is only for the nginx-ingresses.

I think we should consider https://github.com/containous/traefik. That
seems the most mature of the lot for now.

On Thu, Feb 22, 2018 at 5:56 PM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-02-23 04:27] consideRatio opened #529 "Kubernetes dashboards returning"
# Returning kubernetes dashboard
[In the guide it sais](https://zero-to-jupyterhub.readthedocs.io/en/latest/security.html#delete-the-kubernetes-dashboard) that one could remove the kubernetes dashboard for increased security, but it apparently is a temporary fix as it is returning every time I run a helm upgrade.

[code]

__Report 1__
[code]
![image](https://user-images.githubusercontent.com/38371

[2018-02-23 05:47] consideRatio commented on #503
# Document CA installation
How to install a CA through command line tools etc? I enabled a CA from google console view. Can this be made cloud independent somehow instead?

[2018-02-23 06:26] consideRatio opened #530 "Modifying configmaps + manifests not defined by us"
# Modifying pre-existing k8s resources
I'd like for the guide to allow for simple setup of something awesome. But some thing I realize we might need the user to do seem a bit much. Can we make it even simpler?

### Situation 1
Say for example that we want to set the `preventSinglePointFailure` to `false` within the configmap named `kube-dns-autoscaler` that isn't defined by us.

__Can we...__
- [x

[2018-02-23 09:58] #522 closed

[2018-02-23 11:40] manics opened #534 "Support for NetworkPolicy ingress/egress"
I'm interested in using a singleuser pod [NetworkPolicy](https://kubernetes.io/docs/concepts/services-networking/network-policies/) to limit egress. The use-case I have in mind is providing a public but very locked-down jupyterhub deployment to give people a taster with minimal barriers, and to provide full access behind a second authenticated deployment.

I found a related discussion on https://g

[2018-02-23 13:06] minrk commented on #534
I 100% think we should apply network policies here.

The one thing I was bitten by in jupyterhub/mybinder.org-deploy#146 is that kubernetes doesn't check at all for using unsupported features, so you can happily load an egress network policy that is completely ignored without any warnings or errors. I haven't checked in a bit, but I assume gke-1.9 will have sufficiently recent calico (>= 2.6.1) to

[2018-02-23 15:06] manics commented on #534
Thanks, I'll try and come up with something. A barrier I've already run into is that the DNS server is in the kube-system namespace so the obvious thing is to allow egress to port 53 in kube-system, however `namespaceSelector` only works on labels, and at least on my cluster namespaces are unlabelled. Best I've come up with is to allow UDP/53 egress to anywhere.

[2018-02-24 08:50] clkao opened #536 "Notebook should not see service discovery env variables"
Currently all the services host/port in the same namespace are in the user's environment, which can make `env` output overwhelming.

https://github.com/kubernetes/kubernetes/pull/60206/
https://github.com/kubernetes/kubernetes/issues/60099
https://github.com/kubernetes/community/pull/1249

[2018-02-25 01:01] consideRatio commented on #477
@GerbenWelter @actionshrimp the #502 PR updating the pre-puller logic got merged recently! I hope that it solves both of your issues, please let me know if you try it!

[2018-02-26 05:33] consideRatio opened #538 "Labels and Selectors - a common practice within the templates"
#### Related issue: #615

---

I was about to make set labels and selectors for a StatefulSet I tried out, and wanted to mimic what had been done for other k8s object templates, but did not find a clear pattern.

So, I'd like to figure out a practice to follow within the guide.
- What labels do we declare?
- What are important labels within a selector?

[code]

I'd like to discuss the following la

[2018-02-26 08:34] consideRatio commented on #503
# The affinity Issue

Why does `requiredDuringSchedulingIgnoredDuringExecution` but not `preferredDuringSchedulingIgnoredDuringExecution` ? I do not know...

[code]

[2018-02-26 09:41] jacobtomlinson opened #539 "Jupyter Lab `@jupyterlab/hub-extension` does not show menu"
Despite having `@jupyterlab/hub-extension` enabled I cannot see the "Hub" menu.

In my config I have set the `singleuser.defaultUrl` to `/lab` but it also specifies in the [instructions](https://github.com/jupyterhub/jupyterlab-hub#installation) that Jupyter Lab must be launched with `jupyter labhub`. I'm wondering if this is not happening and causing this problem. I've tried changing the `singleu

[2018-02-26 12:39] #504 closed

[2018-02-26 15:34] manics commented on #534
This is what I've come up with so far based on @minrk's outline: https://gist.github.com/manics/ccc96169e4ce22f4cf434c7c7f9b9630

I've been testing on openstack (deployed with kubespray, canal network plugin)

## proxy
- Ingress from world 80,443, hub 8000,8001,8080
- Egress to hub 8081, singleuser-servers 8888, world 80,443 (for lets-encrypt, not sure about this)

## hub
- Ingress from proxy 8081

[2018-02-26 18:29] yuvipanda commented on #534
This is great, since I need something like this for a course starting in a month :D

I agree this belongs in z2jh. I think the only knob we should turn to begin with is 'who can single-user server talk to?', since you might have plenty of other in-cluster services that you might wanna expose to the singleuser server.

What you have sounds like a good start, @manics!

[2018-02-26 18:32] yuvipanda commented on #538
https://github.com/kubernetes/helm/blob/master/docs/chart_best_practices/labels.md is where I took my cues from, and I think we should stick to it. Note that I didn't see that page until after a few releases, so it isn't consistently applied.

I'm happy for us to standardize this! I think we should include all the 5 ones that helm recommends in all our components. There's nothing wrong with changi

[2018-02-26 18:33] yuvipanda commented on #536
Thanks for opening the issue!

I think as it is now, the environment variables are required to talk to the hub/proxy from the singleuser server. I think maybe setting a whitelist at the notebook level might be a good idea?

[2018-02-26 18:37] yuvipanda commented on #529
on GKE, the only way to do this is to 'disable the addon' (with the `--disable-addon` param to `gcloud container clusters create` or `gcloud container clusters update`. This is going to differ wildly based on how the kubernetes cluster is set up.

[2018-02-26 18:42] yuvipanda commented on #530
hmm, I think we need a place for such information, but not directly in the guide? Since modifying those things has lots of other consequences than just for the hub. For example, preventSinglePointFailure to false might cause DNS to not work for several minutes sometimes - this means no outgoing network connections from inside pods for several minutes, since all DNS lookups will fail! This seems un

[2018-02-26 18:43] consideRatio commented on #538
Ah! What about label selection in a `selector:`? It would be overkill to select based on every label. What about going for component + release?

[2018-02-26 18:51] clkao commented on #536
Actually hub endpoint is defined by kubespawner (via --hub-api-url), but we should use the service discovery env.

Whitelisting sounds reasonable - just that we probably need to do that in the notebook image's startup script.

[2018-02-26 21:59] yuvipanda opened #542 "Make 'pack' schedulerStrategy work properly"
When running jupytehub on k8s, we ideally want the scheduler to *pack* pods together onto nodes as much as possible. This helps with autoscaling a lot.

We currently *sortof* enable this by setting `schedulerStrategy: pack`. It uses podAffinity to do its thing. But podAffinity does is not weighted - if you have two nodes with 2 and 80 pods each, a new pod can get scheduled on either one. This limi

[2018-02-26 22:00] yuvipanda commented on #542
/cc @consideRatio who has been looking into this.

also /cc @minrk and @betatim - this will also help mybinder.org a lot if we can make this happen!

[2018-02-26 22:03] yuvipanda commented on #542
A lot of thanks to @msau42 from the Kubernetes Slack for helping me out and steering me away from a more complex setup involving Scheduler Extenders!

[2018-02-26 22:33] yuvipanda commented on #542
https://github.com/kubernetes/kubernetes/pull/59401/files has info on the current policy.json defaults, so we can just take 'em and modify.

[2018-02-27 05:34] consideRatio commented on #539
I got my Hub menu to show, this is my singleuser image:

https://github.com/consideRatio/z2jh-extended/blob/master/images/singleuser/Dockerfile

[2018-02-27 05:49] consideRatio commented on #530
Ah I learned so much of relevance to me by that comment @yuvipanda =D I agree with your preference!

In the future I figure we might want to have a section about cluster autoscaling in the guide, and then i figured it would be relevant to have a proposed plan on how to handle downscaling to 1 node which is not always so easy because of pods like kube-dns and spreading of hub and proxy.

Thank you

[2018-02-27 06:26] consideRatio commented on #542
@yuvipanda great investigation and I really appreciate that you keep me updated with your findings!

If you have two nodes: one has only a few pods while the other node has more pods, the scheduling is still random? It will not add together the weights of each singleuser pod it finds or something similar?

![image](https://user-images.githubusercontent.com/3837114/36713701-2cf2a916-1b8f-11e8-8623-

[2018-02-27 14:53] minrk commented on #534
@manics feel free to make a PR with what you have, and we can iron it out.

My only question based on your gist is about best practices in terms of how to organize the information: when giving pods access to the proxy, should we be putting those pods in the proxy's network policy explicitly, or should we be using a single label like 'proxy-api-access' in the network policy and applying that label

[2018-02-27 16:49] choldgraf commented on #542
I believe you're correct - user pods have an affinity for nodes that have > 0 pods on them, but no concept of "I should compare how _many_ pods are on each node and go to the one with the most pods". Which is super annoying :-P

[2018-02-27 19:16] willingc commented on #530
One of the things that we have done in the past with JupyterHub is to use the GitHub wiki for the repo to document things such as discussed here. Let's use [the wiki on this repo](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/wiki) for a similar purpose. I've started the wiki homepage. Going to close this issue.

[2018-02-27 19:16] #530 closed

[2018-02-27 19:17] willingc commented on #529
Add to wiki or perhaps to upgrade documentation.

[2018-02-27 19:22] willingc commented on #528
@jupyterhub/binder-team FYI. NGINX Ingress webinar on 2/28: https://www.nginx.com/resources/webinars/kubernetes-ingress-controller-getting-started/

[2018-02-27 19:24] willingc commented on #525
cc/ @minrk

[2018-02-27 19:30] willingc commented on #518
cc/ @blink1073 Have you seen this issue?

[2018-02-27 19:35] yuvipanda commented on #542
@consideRatio the default does not, but if you can tweak the policy.json file you can make it! https://github.com/kubernetes/kubernetes/tree/master/pkg/scheduler/algorithm/priorities has list of priorities that can be tweaked.

[2018-02-27 19:49] yuvipanda commented on #528
@choldgraf I thought this issue was in the mybinder.org repo, not z2jh :) The nginx-ingress here is used for a completely different purpose and is causing us no problems. Can you move this to mybinder.org-deploy? Thanks!

[2018-02-27 19:50] yuvipanda commented on #518
@minrk any idea how to deal with full disks from notebook?

Thanks for reporting this, @clkao!

[2018-02-27 20:05] blink1073 commented on #518
No, I have not seen this issue.  Min would know better if the server could function without creating this file.  AFAIK no other files are created, since most state is in in-memory sqlite dbs.

[2018-02-27 20:22] willingc commented on #500
@yuvipanda Do you think the latest addition of chartpress and the changes to `.travis.yml` fix this?

[2018-02-27 20:33] willingc commented on #498
Related to #499

[2018-02-27 20:34] willingc commented on #493
Ping @minrk. Any thoughts?

Are you still seeing this issue @kdubovikov?

[2018-02-27 20:36] willingc commented on #492
Just a reminder CFP closes March 6.

[2018-02-27 20:39] #478 closed

[2018-02-27 20:40] yuvipanda commented on #510
@willingc I'm going to keep this particular one open, since I think we should expose this through the chart.

[2018-02-27 20:42] willingc commented on #476
Hi @consideRatio. Are you ready to close this issue? If not, what would be the next action needed 👍

[2018-02-27 20:46] willingc commented on #468
@choldgraf Do you still wish to do this? Or should we document the next one as the Jupyter Blog has been pretty busy recently.

[2018-02-27 20:48] willingc commented on #510
Sure thing @yuvipanda. To make sure that I understand correctly, support KubeSpawner resource limits, such as GPU, directly in helm chart.

[2018-02-27 20:51] willingc commented on #466
Labeling this as reference for the time being. I think the current resolution is "Use helm 2.7.x when upgrading to 0.6 if you run into a similar problem"

[2018-02-27 20:52] willingc commented on #446
Next action: document the proper way to report a security concern/issue.

[2018-02-27 21:01] willingc commented on #401
@ZachGlassman @choldgraf I think that writing a Digital Ocean specific tutorial to host on the Digital Ocean site would be great Zach. Please let us know if you do so and we can link to it. Alternatively, please feel free to add it to the [Zero to JupyterHub wiki](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/wiki) under resources.

Closing this issue as too involved for the basic zero to j

[2018-02-27 21:01] #401 closed

[2018-02-27 21:04] choldgraf commented on #468
Ah my bad, I think @yuvipanda created a draft of the post and then it dropped off my radar.

+1 on just waiting until the next one

[2018-02-27 21:04] #468 closed

[2018-02-27 21:05] willingc commented on #392
Close #467

[2018-02-27 21:05] #392 closed

[2018-02-27 21:07] #152 closed

[2018-02-27 21:09] consideRatio commented on #476
@willingc I read it through again, I think we got it all in #502, closing!

[2018-02-27 21:09] #476 closed

[2018-02-27 21:10] willingc commented on #357
@consideRatio What do you believe the next action should be re: logging?

[2018-02-27 21:11] willingc commented on #476
Thanks @consideRatio :cookie:

[2018-02-27 21:17] willingc commented on #340
Thanks @ianabc and others for the rich discussion here.

I'm going to go ahead and close this issue. I've added a link in the [Zero to JupyterHub wiki's Resource section](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/wiki#resources) to this issue's discussion.

[2018-02-27 21:17] #340 closed

[2018-02-27 21:24] willingc commented on #326
@yuvipanda Since you've opened action items elsewhere, perhaps closing now is an appropriate next step with this issue.

I've labeled it as reference in the interim.

[2018-02-27 21:30] willingc commented on #264
I've added a link to this issue in the [Zero to JupyterHub wiki resources](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/wiki#resources) so that others may discover this helpful info more easily. Thanks for the write up.

@yuvipanda Is there any dev work still needed here?

[2018-02-27 21:32] consideRatio commented on #357
@willingc Hmm hmmm I think I currently lack relevant understanding of how the logs travel from print() statements in the config to the response of `kubectl logs`. This could be a z2jh issue, a jupyterhub issue, or perhaps even not an issue...

To summarize
- Logs are cleared during startup of the hub, this made it harder to debug config code
- It isn't a big deal, but I'd say that it is an unwante

[2018-02-27 21:33] willingc commented on #100
@yuvipanda I'm going to close this since I think we've gotten into a docs groove now.

[2018-02-27 21:33] #100 closed

[2018-02-27 21:48] yuvipanda commented on #264
Yep, I think we should support this out of the box, since lots of people
use this authenticator.

On Tue, Feb 27, 2018 at 1:30 PM, Carol Willing <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-02-27 21:49] yuvipanda commented on #468
Yeah, I dropped the ball on this one. Sorry about that! +1 on waiting for
next one.

On Tue, Feb 27, 2018 at 1:04 PM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-02-27 21:51] choldgraf commented on #468
(FWIW I apologize if that came off as me pinning this one on @yuvipanda - I in no way wanted to ascribe any kind of blame here...this is a team effort IMO)

[2018-02-27 21:58] yuvipanda commented on #468
Oh no, didn't come across like that at all, @choldgraf (although I
appreciate the comment!). I feel responsible because I started the blog
post, thus licking the cookie, and then didn't follow through...

On Tue, Feb 27, 2018 at 1:51 PM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-02-27 22:01] choldgraf commented on #468
lol I just had the weirdest thought...when you said "licking the cookie" the recent jupyterlab EU cookie thread made me think you were referring to some obscure tech term related to the cookies we store on disk

[2018-02-27 22:03] yuvipanda commented on #468
:D

(for others, http://communitymgt.wikia.com/wiki/Cookie_Licking has context)

On Tue, Feb 27, 2018 at 2:01 PM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-02-27 22:36] ryanlovett commented on #468
Reminds me of [Debian ITPs](https://wiki.debian.org/ITP).

[2018-02-27 23:35] yuvipanda commented on #534
I think ingress is fairly easy policy:

1. Proxy allows ingress from everywhere
2. Hub allows ingress from proxy and singleuser servers only
3. singleuser servers allow ingress from proxy and hub only.

Egress is definitely going to be more complicated, so I suggest we tackle ingress first and then go from there?

[2018-02-28 02:00] willingc commented on #468
Good one @ryanlovett.

[2018-02-28 02:03] #10 closed

[2018-02-28 02:41] willingc commented on #11
Closing this issue. Feel free to open a new issue if needed.

[2018-02-28 02:41] #11 closed

[2018-02-28 02:44] willingc commented on #20
Closing as it looks like this has been done. See https://zero-to-jupyterhub.readthedocs.io/en/latest/create-k8s-cluster.html#setting-up-kubernetes-on-google-cloud item 5.

[2018-02-28 02:44] #20 closed

[2018-02-28 03:23] willingc commented on #221
Closed by https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/266

[2018-02-28 03:23] #221 closed

[2018-02-28 03:31] willingc commented on #239
@yuvipanda I'm thinking that this issue can be closed.

[2018-02-28 03:32] #87 closed

[2018-02-28 05:50] choldgraf commented on #528
see https://github.com/jupyterhub/mybinder.org-deploy/issues/496

[2018-02-28 05:50] #528 closed

[2018-02-28 09:27] manics commented on #534
Thanks for the feedback, I'll open a PR today/tomorrow.

[2018-02-28 10:02] minrk commented on #493
It does seem like a networking problem, but I'm not sure what the best way to debug it would be. You could edit the Hub command to run a `while true; do sleep 10; done` and then `kubectl exec hub-pod bash` and see if you can communicate with the proxy via curl/etc.

You could also try communicating with the proxy from another context (e.g. outside the cluster, another pod, etc.) to be sure that th

[2018-02-28 10:04] minrk commented on #518
This file is only used for things like `jupyter notebook list`, so it should be safe to launch without it. I suspect there are several stages where small runtime files are created during startup (e.g. the notebook signatures database file, which *is* needed, but probably already exists on disk if it's full), so it may be a bit of whack-a-mole to make sure that it starts up without touching *any* f

[2018-02-28 10:13] minrk commented on #525
Was the user's server running at the time you requested access? My guess is you are running into [this sort of event](https://github.com/jupyterhub/jupyterhub/issues/1629#issuecomment-365259056) which I'm currently working on in https://github.com/jupyterhub/jupyterhub/pull/1660.

[2018-02-28 11:45] clkao commented on #518
Apart from this, there's actually nowhere in the UI for emptying trash.  Perhaps the notebook image should just do that in the startup script.

[2018-02-28 12:03] mrocklin commented on #525
When running into this I did typically click "start server" and then "access server" directly afterwards.  I would not be surprised to learn that the pod was still spinning up when I pressed "access server".

[2018-02-28 12:07] consideRatio commented on #525
@mrocklin I think so too, this happens when the server is about to start, but has not actually done it fully.

I guess, that what happens is that the admin visits another user page but that user page is in the "server is starting up..." state.

[2018-02-28 12:38] gsemet opened #545 "Embed wrapspawner to allow selection of image"
Hello

How hard would it be to embed wrapspawner or similar in order to allow user selection of desired profile upon connection.
What I mean by "profile" is a predefined list of "image + cpu number + disk space + memory".

I imagine something like a dropbox where user can select for instance"small datascience notebook", "big memory datascience" or "Python training notebook", and so on, and it woul

[2018-02-28 14:57] minrk commented on #525
Yeah, access server definitely results in the wrong behavior if the intended server isn't finished starting up. This will be fixed by jupyterhub/jupyterhub#1660.

[2018-02-28 15:12] minrk commented on #518
I think automatically emptying trash without user input is something that shouldn't be done in general. However, if this is being caused by the new support for send2trash in the notebook, I think it makes sense to disable that by default in jupyterhub-singleuser as you say, since there is no UI for the trash in a hosted deployment.

[2018-02-28 15:20] minrk commented on #518
https://github.com/jupyter/notebook/pull/3384 makes these non-fatal errors and https://github.com/jupyterhub/jupyterhub/pull/1688 disables the trash mechanism by default in jupyterhub

[2018-02-28 18:36] yuvipanda commented on #545
Thank you for opening this issue, @gsemet! I agree that it would be very useful to have!

I think adding something like https://github.com/jupyterhub/dockerspawner/pull/219 to github.com/jupyterhub/kubespawner is a better fit! What do you think, @minrk?

[2018-02-28 18:37] yuvipanda commented on #538
@consideRatio good question! I wonder what the charts in github.com/kubernetes/charts do. We should probably follow whatever it is they do...

[2018-02-28 19:35] cam72cam commented on #545
I'd like to help out, even if that is just being a guinea pig on this ticket

[2018-02-28 21:06] gsemet commented on #545
Isn’t it easier or better to integrate wrapperspawner in zero to jupyterhub or hack into kubespawner?

[2018-02-28 23:51] zcesur commented on #421
I was able to use my NFS-backed persistent claim on Google Cloud as the user storage by following the steps @cam72cam outlined, so I can attest his solution. Thanks for paving the way guys!

[2018-03-01 10:15] kdubovikov commented on #493
@minrk, I think no NetworkPolicy is present. The cluster was set up using `kubeadm`. Cloud you clarify on where do I need to change the Hub command?

[2018-03-01 12:29] wydwww commented on #182
Hi @camilo-nunez I met exactly the same problem as yous. Did you solve this issue? Thanks.
cc @yuvipanda

[2018-03-01 13:42] gsemet commented on #545
@yuvipanda If I follow you proposal to hack into kubewrapper, I would like to propose the following change in kubewrapper:
- New option `c.KubeSpawner.single_user_profile_list` is added and take precedence over `singleuser_image_spec
- this option is a list of dictionnary of form:
[code]
Note that `lifecycle_hooks` and `volume_mounts` can be superseeded in this configuration (I propose the followi

[2018-03-01 13:48] gsemet opened #548 "Rework computation of user email and name"
Currently, user email is built from the following snippet (in `jupyter_config.py`):
[code]
This does not render the right email in some cases (ex: Gitlab Oauth, the email is `username@local`). Some auth providers are able to extract the real email address and real name of the logged in user.

Also, there might be a need to distinguish username and user name (myself: on Gitlab I am gsemet but my na

[2018-03-01 17:01] clkao opened #549 "proxy should still work while the hub pod is down"
The configurable proxy should be able to work while the hub pod is down, so active user sessions are not interrupted by upgrades.  Right now it seems the proxy is hanging while the hub is being upgraded, until the hub pod is running again.

[2018-03-01 17:26] yuvipanda commented on #549
Thanks for opening the issue!

I haven't been able to observe similar behavior. Can you tell us a bit more
about what you mean by hanging?

On Thu, Mar 1, 2018 at 9:01 AM, Chia-liang Kao <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-03-01 17:34] clkao commented on #549
nvm, i tried `scale --replicas=0 deployment hub`, and user session seems to work as expected.  There must have been something else going.  Closing.

[2018-03-01 17:34] #549 closed

[2018-03-01 18:50] willingc opened #550 "Add an example of configuring an external service"
From gitter channel today: How to set up as an external jupyterhub service in z2jh?

User issue:  I was trying `services: name: <name>` when I should have been doing `services: <name>:`

[2018-03-01 20:06] summerswallow commented on #550
Here is my specific example using whoami-flask.py adding my helm chart
`
hub:
  services:
    whoami:
      apiToken: <Secret generated by openssl>
      url: 'https://whoami-test.mydomain.com'
      admin: false
`
This passes helm but I will update this as I get a version working.

[2018-03-02 01:19] willingc opened #552 "Update minikube instructions in CONTRIBUTING.md"
Step 7 for the local minikube CONTRIBUTING.md installation instructions errors when running on MacOS High Sierra.

I believe that the error is due to RBAC and/or permissions. Perhaps after the switch to chartpress this changed.

[2018-03-02 07:08] wydwww commented on #182
Add some info:
I use Kubernetes v1.9.2 on my own 2-node cluster.
I created storage class according to https://kubernetes.io/docs/concepts/storage/storage-classes/#local and https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/84670ff9158490c6887580e05dcc1e2430fee57b/doc/source/user-storage.md#type-of-storage-provisioned
and enabled feature gates for VolumeScheduling and PersistentLocalVolumes

[2018-03-02 07:36] wydwww opened #553 "Error from pvc: no volume plugin matched"
Hi all,

I tried to deployed JupyterHub on Kubernetes according to [document](https://zero-to-jupyterhub.readthedocs.io/en/latest/setup-jupyterhub.html) on my own 2-node cluster.
## Kubernetes version
[code]
And my config.yaml is:
## Contents of `config.yaml`
[code]
At first I met the problem same as https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/182#issuecomment-347024506
Because I d

[2018-03-02 10:57] manics commented on #552
CI uses minikube with RBAC enabled: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/ci/install.sh#L27

If you're updating the instructions to enable RBAC might be worth pointing out this bug: https://github.com/kubernetes/minikube/issues/2510
Fix (for v0.25.0) was `kubectl create clusterrolebinding kube-system-cluster-admin --clusterrole=cluster-admin --serviceaccount=kube-system:

[2018-03-02 12:02] minrk commented on #493
You can edit the jupyterhub command with:

    kubectl edit deployment hub

and change the command that looks like:

[code]

to

[code]

This will create a new hub pod with the new command, which you can `kubectl exec -it` into.

[2018-03-02 13:07] minrk commented on #545
indeed, adding wrapperspawner support may be the best way to go.

[2018-03-02 14:12] gsemet commented on #545
I have made a proposal in this PR: https://github.com/jupyterhub/kubespawner/pull/137

[2018-03-02 14:22] jzf2101 commented on #149
@choldgraf @yuvipanda I can do this if you want

[2018-03-02 18:19] #552 closed

[2018-03-02 18:20] willingc commented on #552
Closed by #554. Thanks @manics for the additional info :cake:

[2018-03-02 18:51] jzf2101 commented on #226
@choldgraf is the presentation available in this repo?

[2018-03-02 18:58] choldgraf commented on #226
Good catch on this issue - I'll take a pass through it today to figure out what we've done, what can be turned into other issues, etc.

All the workshops that we've got materials for are here:

https://drive.google.com/drive/u/1/folders/0B8VZ4vaOYWZ3V2tfRVU3NlN4dW8

I think that in this case we lumped this together with the UC Davis workshop that was a week later, so that's all there!

[2018-03-02 19:08] consideRatio commented on #226
Wooooo nice material !!!
If I'd have a workshop of my own in Sweden for some university/school or similar, could I use it?

Hoping to get funding helping schools/unis set up jupyterhubs using the z2jh. I will know if my funding request is approved in may/june I think.

[2018-03-02 19:09] choldgraf commented on #226
@consideRatio that's precisely why we make 'em available :-)

there are also talks in this folder:

https://drive.google.com/drive/u/1/folders/1l-j6OjhnXOETe6HqS0iunIDWQX-OT2WN

[2018-03-02 19:10] yuvipanda commented on #226
@choldgraf w00t! Shall we officially put a CC-BY or CC0 license on them?

On Fri, Mar 2, 2018 at 11:09 AM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-03-02 19:12] choldgraf commented on #226
cool idea - I have no idea what that means when it comes to a google drive folder :-) can we just put a thing at the root of the folder stating that the license applies to all the materials inside?

[2018-03-02 19:14] yuvipanda commented on #226
That's a start! I think we should just put the logo at the end of the slide
decks or something?

I personally prefer CC0, but CC-BY is great too!

On Fri, Mar 2, 2018 at 11:12 AM, Chris Holdgraf <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-03-02 21:51] jzf2101 commented on #226
We should reference https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/156

[2018-03-02 23:03] willingc commented on #177
Add link to https://www.youtube.com/watch?v=buOl6WGa8x4 JupyterHub on OpenShift

[2018-03-03 02:33] choldgraf commented on #149
I'm +1 on that! Been meaning to get to this for a while now, but please don't hesitate to give it a go! I'll make sure to ping here and see if you've started on something if I'm inclined to start working on this myself!

[2018-03-03 15:53] choldgraf commented on #548
hey! this seems like an important issue, but I'm a bit unclear as to what is the path forward for resolving it. Could you write out a list of the important changes that you think need to happen for your use-case to be met?

[2018-03-03 15:56] choldgraf commented on #156
I updated the top-level comment to include links to the folders where we store talks etc, I think for now this is enough for this issue, but we can re-address the idea of having standardized talk material if we think it'd be useful in the future

[2018-03-03 15:56] #156 closed

[2018-03-03 18:05] gsemet commented on #548
The goal is to leverage authenticator that are able to extract the following 3 values from user profile:
- username: on GitHub: gsemet. It should be unique
- user full name: Gaetan Semet (better for git commit's author). Two persons might have the same full name
- user email (the one registered in the auth system. Normally no collision is possible.

Every authenticator returns at least the usernam

[2018-03-03 21:07] willingc opened #556 "Submit the jupyterhub helm chart to the Kubernetes incubator"
Based on recent discussions about the project, it would be great to consider if we would like to submit the JupyterHub chart to the Kubernetes chart incubator. Here's a document that talks about Contributing to the incubator and the requirements for a stable package: https://github.com/kubernetes/charts/blob/master/CONTRIBUTING.md#technical-requirements

@yuvipanda Have you given any thought to do

[2018-03-04 01:57] yuvipanda commented on #556
I have some unresolved questions about the maintainership models present in
the kubernetes/charts repo beforew we can consider this. I had opened an
issue there - https://github.com/kubernetes/charts/issues/3434 listing them
out, and think we need movement on that before we can reconsider this :)

On Sat, Mar 3, 2018 at 1:07 PM, Carol Willing <notifications@github.com>
wrote:

--
Yuvi Panda T
http

[2018-03-04 02:55] willingc commented on #556
Very well articulated in the linked issue. I completely agree that we don’t want to make things more difficult for our users. Let’s briefly discuss at our team meeting. Thanks @yuvipanda

[2018-03-04 15:06] minrk commented on #491
I'm happy to help on this tutorial. I can help on the talk as well. I agree that we should only do the z2jh tutorial and skip manual jupyterhub. Conference wifi was extremely untrustworthy last time, so we shouldn't expect people to be able to download and run *anything* on their laptops during the tutorial.

Just so things don't fall through the cracks, who is planning to submit this one?

[2018-03-04 15:47] choldgraf opened #558 "Improvements to the Z2JH tutorial"
These are from the post-mortem on 10/06 (#226). The Latest Z2JH lives here:

https://docs.google.com/presentation/d/1loynWNwsv3lgK5DCe5Ai8GbCyjS2JviaefsygXEhlLU/edit?usp=sharing

**NOTE: Please copy/paste the tutorial into another workshop folder before making edits if you're holding a workshop**

## Specific notes
- [ ]  Improve the tear-down documentation at the end so that it's more complete, a

[2018-03-04 15:49] choldgraf opened #559 "Add guidelines for how much RAM/CPU is a good default for common usecases"
At the last Z2JH there was confusion from the audience about how much CPU or RAM they should give users. Some gentle suggestions would be helpful in the docs.

[2018-03-04 15:51] choldgraf opened #560 "Curate a list of example helm charts"
Some folks find it useful to look at other helm charts in production in order to understand how the various k8s pieces fit together. We could create a list of some well-known helm charts for jupyterhub deployments, and link to those for inspiration.

[2018-03-04 15:54] choldgraf commented on #226
OK all - I took a pass through and created a bunch of new issues for the various points in this issue (top-level comment edited accordingly). I think that we can close this is issue if we like now, and follow up in more topic-specific issues from here. Are folks OK with that?

[2018-03-04 16:01] consideRatio commented on #491
@minrk Awesome!!! =D

I'd certainly appreciate someone else doing it, but I figure we all think like this. I'll make it happen, all help appreciated though. I figure I start by making it easier for us to collaborate about this.

I put up [a HackMD document](https://hackmd.io/r4sKE_mwSm6qu1MGZfWVUQ) with topics of the fields we need to fill about the workshop.

[2018-03-04 16:45] consideRatio commented on #491
@choldgraf made a summary regarding previous workshop experiences and material used in #558 !

[2018-03-04 17:12] consideRatio commented on #559
Paying for my students cloud expenses right out of my own pocked, I have tried very low CPU requirements. I ended up giving them 450m CPU and 1 GB ram. They can still make nice plots and such. I noticed that 200m CPU seemed to cause issues.

[2018-03-04 17:13] consideRatio commented on #560
Yes! I remember looking, and it would certainly help to be suggested 1-3 specific examples to look at.

[2018-03-04 18:59] tylere opened #561 "In docs, reference.txt links to non-existing page (user-experience.html)"
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/3c23fd2860aa885c283b3549fe9d673019c25222/doc/source/reference.txt#L13

[2018-03-04 21:02] choldgraf commented on #226
ok, closing!

[2018-03-04 21:02] #226 closed

[2018-03-04 23:09] consideRatio commented on #491
@minrk @willingc I did my best to populate the required proposal submission fields but there are quite a bit more to write and perhaps even a short video to produce. If you have time to spare, I'd appreciate if you could review what I've written so far and perhaps even write something in the abstract or similar. I marked the various topics with (HELP), (REVIEW) and (DONE) to indicate some kind of

[2018-03-05 01:19] willingc commented on #491
@consideRatio Thanks! I'll take a look in the morning. I'm happy to fill in any spots.

Please don't worry about a video since O'Reilly is  familiar with me and Min as speakers.

[2018-03-05 10:57] gsemet opened #562 "GRANT_SUDO on started servers"
Hello
I don't seem to be able to grant SUDO permission on the started instance. The container should have the `GRANT_SUDO` environment variable and be started as root, and the later condition does not seem to be met.

I have put this env in extraEnv and does see in the started container:
[code]

[2018-03-05 13:10] gsemet commented on #538
Hello. I like the fact that every names are prepended with the release name, so that two helm deployment can be done on the same namespace without conflict. Do you think it can be feasible for Zero-to-Jupyterhub?
In `_helpers.tpl` we would have:
[code]
And all name metadata are prepended with this:
- Configmap:
[code]
- Deployment:
[code]
And so on.

[2018-03-05 15:57] consideRatio commented on #491
@willingc thank you!!

[2018-03-05 22:05] amanda-tan commented on #421
Just to clarify, do we do a helm installation first using a config file with the start-singleuser.sh command inserted; and then do a helm upgrade using an updated config file with singleuser image?

[2018-03-06 09:50] choldgraf opened #564 "Document how JupyterHub relates to EU privacy law"
Specifically with respect to JupyterLab and persistent state. The short version is that we are probably *not* in violation of this law by default, since the server never sees the cookies that are stored on a user's machine in JupyterLab (they're only used locally). We should document this, and also add a note about this on the Binder user docs.

Here's a relevant comment about this: https://github

[2018-03-06 19:59] jhamman commented on #175
@yuvipanda - The jupyterhub minikube documentation in CONTRIBUTING.MD is primarily targeting the jupyterhub developer. Would it be possible to add a section in the main documentation that lays out instructions for non-developers on how to use minikube with jupyterhub? This would look similar to an AWS/GCP deployment, albeit much simpler.

xref: https://github.com/pangeo-data/pangeo/issues/137

[2018-03-07 07:30] choldgraf commented on #492
shall we close this now that it's submitted? Or leave open for discussion in the future if it's accepted?

[2018-03-07 13:20] willingc commented on #492
Let's close. If the talk is accepted, we can open a new issue referring to this one ;-)

[2018-03-07 13:20] #492 closed

[2018-03-07 15:06] gsemet opened #567 "allow postgres in requirements.yaml"
Can we instantiate a postgres sql server using requirements.yml for `hub.db.type = postgres`?

[2018-03-07 17:06] willingc commented on #560
If you are a community member, please let us know if you have an example that you would like to share.

[2018-03-07 17:37] gsemet opened #568 "Documentation about storage type hostPath and homeHostPathTemplate"
There is no documentation about storage type "hostPath"

[2018-03-08 14:31] gsemet commented on #548
I validate it works. In my server, users have the following environment variables:
[code]
with the right values.

`GITLAB_HOST` is configured in the `extraEnv` of my `config.yaml`

[2018-03-08 16:23] gsemet opened #569 "Restart or stop/start cycle takes a few time, use gets a "is pending stop" annoying message"
When using user_form (at least), when the container is pending stop, the user get an error message instead of the "waiting start" message:
[code]

Proposal: use the same UI than when the container starts but add "(stop pending)" to warn user. But the asked start occurs automatically.

[2018-03-12 08:09] choldgraf commented on #548
that's pretty cool! I can take a closer look at this over the week, a lot of the team is traveling right now so things are moving slowly 🐌

cc @minrk, who may have thoughts on how best to patch the authenticator

[2018-03-12 09:09] gsemet commented on #548
I agree my solution is ugly, but i would be happy to have a few pointers on how to implement it better

[2018-03-12 19:45] gsemet commented on #567
will you be interested by this feature?

[2018-03-12 19:48] gsemet commented on #562
so, it does not work because jupyterhub starts the user server using the user id and not root (see [base-notebook/start.sh#L57](https://github.com/jupyter/docker-stacks/blob/a7b1f8103423d7ba05a1ee0ab987f66c0d4ca86c/base-notebook/start.sh#L57).

[2018-03-12 19:54] yuvipanda commented on #567
Can you explain a bit more by what you mean? Installing and maintaining a postgres db ourselves? What advantage would this give over just using sqlite?

If you want to use postgres, my current recommendation is to maintain that separately and configure the hub to use it, rather than install and maintain it as part of this chart.

[2018-03-12 20:10] gsemet commented on #567
actually, i did this modification and was surprised how easy it is to instantiate a full postgresql server using [helm requirements](https://github.com/kubernetes/helm/blob/master/docs/helm/helm_dependency.md). The main advantage i see over sqlite it is that it allow rolling update of the hub.
of course, this could be done under a condition, typically a value such as `postgres.enabled` that can in

[2018-03-12 20:14] yuvipanda commented on #567
I think we should not do this in the chart here :) Running a database is serious business, and I don't think we should get ourselves into it. We could possibly provide instructions somewhere on people who want to install and maintain one themselves, but I don't think we should put it directly in this chart. It's pretty easy to have your own 'deployment chart' that has as its requirements both the

[2018-03-12 20:15] yuvipanda commented on #568
I'll try write something up soon! Thanks for the poke!

[2018-03-12 20:15] yuvipanda commented on #569
Can you explain a bit more the sequence of actions that leads to this?

Also /cc @minrk

[2018-03-12 20:17] yuvipanda commented on #560
Can you explain a bit more what you mean by:

?  From the first sentence, I'd imagine something like the charts in https://github.com/kubernetes/charts/, but am confused by the second sentence :)

[2018-03-12 20:17] gsemet commented on #567
can we at least provide the option, it is commonly found on helm charts:
- [example for sonarqube](https://github.com/kubernetes/charts/blob/95c27d4e66fa044b6eb8a30fb5792238eb7009f7/stable/sonarqube/requirements.yaml), configurable by the user if it defines [this value settings](https://github.com/kubernetes/charts/blob/95c27d4e66fa044b6eb8a30fb5792238eb7009f7/stable/sonarqube/values.yaml#L80).

[2018-03-12 20:18] yuvipanda commented on #553
Thank you for reporting this issue!

This looks like the k8s cluster's dynamic provisioner isn't working? Are you able to get dynamic provisioning working with a simple deployment / pod?

[2018-03-12 20:19] yuvipanda commented on #536
I think the --hub-api-url refers to a env variable, at least in z2jh? I could totally be wrong though, haven't looked at it in ages :)

Closing this, since as you said the right way to do this is filter in your image's startup script.

[2018-03-12 20:19] #536 closed

[2018-03-12 20:21] yuvipanda commented on #526
There's a 100 pod limit by default per node, and enabling the continuous pre-puller eats into that. So at least for now, I don't think we should enable it by default.  We should have better autoscaling docs tho!

I'm going to close this for now, do re-open if you think that's an inadequete answer!

[2018-03-12 20:21] #526 closed

[2018-03-12 20:24] yuvipanda commented on #567
I appreciate the links and the thought you have put into it! However, given that:

1. sqlite is more than good enough for most hub use cases,
2. Using postgres on Kubernetes is a very complicated setup (see https://medium.com/kokster/postgresql-on-kubernetes-the-right-way-part-one-d174ee8a56e3 and its continuations)
3. Anyone using Postgres on kubernetes will probably have to customize it intensel

[2018-03-12 20:52] gsemet commented on #567
i try again :) Adding it as an example would help, but i agree a cleaner warning for user that postgres on kube with high availability is hard.
But i must admit since i have enabled it against z@jh, our hub is much stable.

[2018-03-12 20:54] gsemet commented on #569
it only add delay for the user until he is able to restart a server. i guess this is linked with the fact kubespawner kind of hardcode the launched server pod name (probably linked to https://github.com/jupyterhub/kubespawner/issues/142)

[2018-03-12 21:22] chicocvenancio opened #573 "Cull_idle fails for some users with non ascii usernames"
At the moment Cull Idle queries the API for the users with inactive running servers and sends a `DELETE` to the endpoint users/USERNAME/server. https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/706a8f7637881ace06b66c90c5267019d75d2cf0/images/hub/cull_idle_servers.py#L69 This works for most users, but fails with users with non ASCII usernames as the api responds with a 404.

By url-encoding

[2018-03-12 23:40] chicocvenancio commented on #573
Fwiw, I have tested this and it kept working with ascii users and started working with users with non-ascii characters. https://github.com/chicocvenancio/paws/commit/9a77d1df995d41aa41233aa4e50c95b4144c7269

[2018-03-13 02:10] consideRatio commented on #526
Makes sense @yuvipanda ! Also one less mechanism that can cause bugs.

[2018-03-13 08:51] #573 closed

[2018-03-13 09:33] moskiGithub opened #577 "How to configure jupyterhub-k8s pvc to use ceph"
I configure ceph cluster as pvc of jupyterhub-k8s, the jupyter docker throws error:
Warning   FailedMount   kubelet, ip-10-0-58-63.ap-southeast-1.compute.internal   MountVolume.SetUp failed for volume "pvc-81d53fb4-2699-11e8-af36-06a45990210c" : CephFS: mount failed: mount failed: exit status 32
Mounting command: systemd-run
Mounting arguments: --description=Kubernetes transient mount for /var/lib

[2018-03-13 12:04] choldgraf commented on #567
I'm always +1 on adding more documentation in lieu of making the underlying
tech more complex :-)
--

On Mon, Mar 12, 2018 at 8:52 PM Gaetan Semet <notifications@github.com>
wrote:

[2018-03-13 12:08] choldgraf commented on #560
By "well-known helm charts" I mean configurations for specific deployments. E.g. "if you want to see the `mybinder.org` deployment helm chart, click here"

[2018-03-13 15:48] minrk commented on #538
@gsemet while it's not impossible for two hubs in one namespace to work, I think it's probably good practice to always deploy only one jupyterhub per namespace. Namespaces are a very low-cost entity, and it makes it very easy to be sure what belongs together.

There's one case where we have [`app: kube-lego`](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/e7a147d51d635e4be413ec9ce2bf9d6

[2018-03-13 15:55] gsemet commented on #538
I understand how I do not have this option on our environment (baremetal with team that is ramping up on this subject). For automatic test, it may be useful to use several deployment even in the same namespace. Helm charts usually add the "release name" in front of each element (pod, configmap, claim,...) to ease the readability, I find it a good practice.

[2018-03-13 18:52] alexmorley opened #578 "Passing Environment Variables to Jupyter Servers Via REST API"
Hey,

Does anyone know if I can pass environment variables to servers when they are spawned using k8s.

E.g. I'd like to be able to:
`POST /hub/api/users/newuser/server?file_to_download=some_download_link.com HTTP/1.1`

## Example contents of `config.yaml`
[code]

TIA!

[2018-03-14 22:11] sylus commented on #402
I'd be curious as well as following the existing examples via kubeflow didn't quite give me enough of the info necessary to proceed.

Thanks a bunch!

[2018-03-14 23:17] cam72cam commented on #402
I'd also like to see how to do this :)  Happy to be a guinea pig!

[2018-03-15 00:45] whosford commented on #561
I'd like to work on this issue if nobody else is

[2018-03-15 07:35] choldgraf commented on #561
Please feel free to make a pr!

On Thu, Mar 15, 2018, 12:45 AM William Hosford <notifications@github.com>
wrote:

[2018-03-15 09:35] choldgraf commented on #567
To clarify my previous comment a bit. It sounds like both of the following points are true:

1. Using postgres for the hub DB can make it more stable, and gives you nice things like rolling updates
2. For the majority use-cases, this isn't strictly necessary as sqlite is a "good enough" solution
3. For those use-cases, having a lot of information on Z2JH for setting up postgres will likely confuse

[2018-03-15 19:36] yuvipanda commented on #562
Thanks for bringing this up! We should document how to do this!

You can grant sudo by:

[code]

The uid:0 will start the notebook as root, and you won't need extra entries.

[2018-03-15 19:51] gsemet commented on #562
ok, and after it will start the notebook server as joyvan as usual, right?

[2018-03-15 19:55] yuvipanda commented on #562
It should, yeah - at least with the default image / docker-stacks images.
The user id switching is done in the scripts in the image.

On Thu, Mar 15, 2018 at 12:51 PM, Gaetan Semet <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-03-15 20:42] yuvipanda opened #584 "Restart jupyterhub process instead of pod when mounted configmap changes"
Currently, when the config changes, we restart the whole hub pod to have it pick up. This is sometimes quite slow, and when this is happening new users can not log in.

We only need to restart the hub *process* itself, and this is much quicker than restarting the whole hub pod - especially if you are using an sqlite PVC (which can take time to attach and detach).

It would be great if we can have

[2018-03-15 21:33] Mohitsharma44 opened #585 "helm error: transport is closing"
Hi,
I'm trying to setup jupyterhub following the documentation at https://zero-to-jupyterhub.readthedocs.io/en/latest/ with a difference being that I am running a canonical distribution of kubernetes running locally installed using conjure-up (/juju).

**Overlay network**: flannel

**helm version**:
[code]

**Contents of config.yaml**
[code]

**helm install debug output**:
[code]

**running pods**

[2018-03-15 21:53] consideRatio commented on #585
Oh hmmmm...

This might be related to an issue with the pre-puller that I think will work better after #502 , but it seems like your code contains the old pre-puller (i see it on the pod names).

I'm not confident on the helm-chart releases and what code you will get if you write --version=0.6. Looking here: https://jupyterhub.github.io/helm-chart/ it seems like the 0.6 release contains code from

[2018-03-15 21:56] consideRatio commented on #585
Ah well also, you can disable the pre-puller in values.yaml as a workaround.

[2018-03-15 21:56] yuvipanda commented on #585
Are you sure the image you are using exists and can be pulled? The
ErrImagePull makes me think it is trying to pull the image you have
specified and failing.

On Thu, Mar 15, 2018 at 2:53 PM, Erik Sundell <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-03-15 22:01] consideRatio commented on #585
@yuvipanda suggestion makes more sense! Ensure your declared singleuser image is actually available to be pulled from the pod.

[2018-03-15 22:04] Mohitsharma44 commented on #585
@consideRatio I did try disabling the pre-puller but that doesn't seem to help.
@yuvipanda Hmm.. for some reason I thought that by default it pulls minimal-notebook (I'm not sure if it does). I'll try
[code]
will report back in sometime.

[2018-03-15 22:14] consideRatio commented on #585
@Mohitsharma44 oh hmmm, if you disable the pre-puller pods you will probably end up failing for the same reason in a singleuser pod when it is about to be spawned.

Can you lookup additional information about failing pods using these commands?

`kubectl logs <pod-name-here> --namespace <namespace-here>`
`kubectl describe pod <pod-name-here> --namespace <namespace-here>`

[2018-03-15 22:40] gsemet commented on #584
oh, you mean a side process within the container that uses the kube api to detect and inject the configmap change into the current docker and then restart the hub process?

[2018-03-15 22:44] yuvipanda commented on #584
yep! It should probably be the parent process of the hub process, but in
the same container.

Ideally someone would've written this already and we can just use it! Or
maybe an existing process supervisor can do things like restart a process
when a file changes, and we can use that?

On Thu, Mar 15, 2018 at 3:40 PM, Gaetan Semet <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-03-15 22:51] gsemet opened #586 "Best option to auto populate some notebooks within user env"
Hello

Just a few question about the best practices and see what people do around how to populate the user's environment when they starts.

One approach could be to load a shared, readonly volume somehow (NFS, or a dedicated kube mount), but user would need an easy way of "copying" the notebook to their own location so they can change and play with them.

There is also the simpler "read/write shar

[2018-03-15 22:56] gsemet commented on #584
i use a lot S6-overlay, pretty damn good [supervisor](https://github.com/just-containers/s6-overlay/) that can launch the hub and the watcher. The watcher can simply kills the hub and it will be automatically restarted.
Implementing this watcher in python is not that hard. For the "injection" part not sure how to do it properly.

[2018-03-15 23:03] yuvipanda commented on #584
ah, nice. So we can use s6 to supervise two processes - a watcher and the hub. The watcher can use the kubernetes-api to watch for configmap changes, write them out to disk, and kill the hub process. s6 will notice this and restart it. Am I understanding this correctly?

If so this sounds great :)

[2018-03-15 23:04] yuvipanda commented on #586
We primarily use http://github.com/data-8/nbgitpuller a lot! It works very
well for us, and you can use it with the notebook extension or from the
commandline.

On Thu, Mar 15, 2018 at 3:51 PM, Gaetan Semet <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-03-15 23:08] gsemet commented on #584
See the documentation: https://github.com/just-containers/s6-overlay#the-docker-way

Restarting the process is not hard, s6 can do it. the tricky part is to find a way to still allow to hub to die when something goes wrong.

their might be simpler supervisor for docker, s6 handles lot of stuff

[2018-03-15 23:11] consideRatio commented on #586
I have also used nbgitpuller and appreciate that a lot for many use cases.

I liked the idea of having a way to provide my students with links and various read-only stuff always up to date, so I also mounted a kubernetes git-volume, that way, no matter if they arrived to the hub with or without a nbgitpuller link, they had access to some common up to date material, such as a list of nbgitpuller li