[2019-10-14 02:18] clkao commented on #1444
@betatim right, i think that's exactly the 3rd one i listed. let me link that as well.

[2019-10-14 08:48] betatim commented on #1444
Now merged https://github.com/jupyterhub/kubespawner/pull/356. Maybe it is a temporary fix but it'll get people unblocked and we can make a better fix later. WDYT?

[2019-10-14 12:41] kramstrom commented on #1281
I'm using this exact set up and when the Azure Oauth redirects I get a "500 Internal Server Error", did you have to add anything else to get this working?

[2019-10-14 14:21] stv0g commented on #1444
@betatim Unfortunately, #356 did not solve the issue for me:

[code]

[2019-10-14 14:58] lapeng opened #1446 "500 : Internal Server Error - starting server for new user after deploying jupyterhub on k8s"
After installing jupyterhub on my k8s cluster running on VMs all pods/services are up and login page available.  I try to initiate first user login and I get "500 : Internal Server Error"

![image](https://user-images.githubusercontent.com/34749269/66759728-cfb3ef80-ee6e-11e9-91cb-28d4b2cbddd4.png)

From pod log:

[D 2019-10-14 14:31:55.894 JupyterHub reflector:263] events watcher timeout
[D 2019-

[2019-10-14 15:02] manics commented on #1446
@lapeng Are you using K8s 1.16? There's at least known known bug when running Z2JH on it: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1444
In particular it looks like you're seeing https://github.com/jupyterhub/kubespawner/issues/354

[2019-10-14 16:16] lapeng commented on #1446
Thank you, yes I am using K8s 1.16. Do you know if the scripts will be updated with patch described in [jupyterhub/kubespawner#354](https://github.com/jupyterhub/kubespawner/issues/354)
or this is only a temporary fix.  If not what version of k8s would you recommend for jhub?

[2019-10-14 16:58] ktaletsk commented on #1444
@betatim I have the same issue as @stv0g:
[code]

[2019-10-15 14:01] chrisillapacloud commented on #1281
Hi Kasper,

From the JupyterHub config, no, nothing more added anywhere.
Have you double-checked the Application you created in Azure AD has the correct callback URL configured?
It should all work as long as you have all the pieces in place.
I tried to make sure it is obvious that all values in between < > are replaced with your values and the < > omitted as that’s what caught me out with quotes i

[2019-10-16 08:40] #1446 closed

[2019-10-16 19:42] gsemet commented on #616
First, I never ever installed Tiller in Kube-system. This means it has permission on ALL your cluster. At least link tiller to a service account with only permission on 1 namespace (1 tiller per namespace).

Now we have switched to tillerless model, were you launch tiller on your local computer (using [tillerless](https://rimusz.net/tillerless-helm)) or in your CI, use a kube config file with serv

[2019-10-17 03:24] akaszynski commented on #421
Thanks for everyone who commented on this.  I was having issues long login times when using Jupyterhub on Azure Kubernetes Service (AKS), and was able to take the login times from two minutes to 20 seconds by using NFS.  For any who are interested, here's how I did it:

 - Create a NFS share on a VM on the same virtual network as my cluster
 - Create a persistent volume and persistent volume claim

[2019-10-17 06:15] consideRatio commented on #421
@akaszynski was the delay related to attaching the default PVCs that were dynamically created by JupyterHub, or perhaps on its creation? Did you notice this big time difference between first login ever and the second login, or was there a big time delay even on second login and jupyterhub user pod startups?

[2019-10-17 09:44] consideRatio commented on #683
Rook has progressed since this issue was first opened, I think it is not possible to use with PVCs and dynamic provisioning etc, which was one hurdle for me when I considered the use of Rook.

https://github.com/rook/rook/issues/2107

[2019-10-17 09:57] consideRatio commented on #1444
In #1422 I'm now testing against 1.16 but allowing allow for failures.

https://travis-ci.org/jupyterhub/zero-to-jupyterhub-k8s/jobs/599062620

[2019-10-17 19:14] #1260 closed

[2019-10-17 19:14] #493 closed

[2019-10-17 19:14] #1399 closed

[2019-10-17 19:14] #1403 closed

[2019-10-17 19:20] consideRatio commented on #1429
This may have been solved by #1422 if I got it right, I'll work to verify this right now.

[2019-10-17 20:23] akaszynski commented on #421
@consideRatio: The delay was for both.  Maybe 1-2 minutes to create, 30-60 seconds to mount.  When the end user expects things to load near instantly, having the progress bar hang there will drive them crazy!

I've even moved the hub-db-dir over to nfs as it was taking forever create the hub pod everytime I upgraded the cluster:

[code]

[2019-10-17 20:29] consideRatio opened #1447 "Followup to #1422 - Remaining tasks"
#1422

# Post merge TODO
- [ ] Verify the publish stage runs and works on merges to master
  - It fails, `helm init` has not been run.
- [ ] Verify the publish stage runs and works on tag pushes to master

- [ ] Verify the developer experience of returning on reboot etc makes sense.
- [ ] Reference a JupyterHub release instead of a commit.
- [ ] Create and add an upgrade test from latest tag of x.

[2019-10-17 21:55] consideRatio commented on #421
@akaszynski thanks for sharing this insight! :heart:

[2019-10-17 22:10] #1445 closed

[2019-10-17 22:20] consideRatio commented on #1447
# Local development test matrix
- [ ] Windows without VM
- [ ] Windows with VM
- [ ] Mac without VM
- [ ] Mac with VM
- [x] Linux without VM (@consideRatio, Ubuntu)
- [x] Linux with VM (@consideRatio, Ubuntu)

[2019-10-17 22:22] #1429 closed

[2019-10-17 22:23] consideRatio commented on #1429
Closed in favor of #1447

[2019-10-17 22:40] supern8ent opened #1448 "letsencrypt now wants ACMEv2"
I just tried to set up another z2jh and the autohttps pod is reporting the following error:
```"Error while processing certificate requests: 403 urn:acme:error:unauthorized: Account creation on ACMEv1 is disabled. Please upgrade your ACME client to a version that supports ACMEv2 / RFC 8555. See https://community.letsencrypt.org/t/end-of-life-plan-for-acmev1/88430 for details." context=kubelego```

[2019-10-17 22:42] consideRatio commented on #1448
:O Thanks for reporting this!

ping @jupyterhub/mybinder-org-operators and others who this may concern.

[2019-10-17 23:03] manics commented on #1448
Looks like we need to switch to cert-manager as ACMEv2 isn't supported https://github.com/jetstack/kube-lego/issues/301

Related z2jh issues
- https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/475
- https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/755

[2019-10-18 00:35] n3o-Bhushan opened #1449 "Links in z2jh authentication (OpenID Connect) documentation are outdated."
Was following the docs to use OpenID connect for authentication and apparently links to examples provided in the following section are outdated.
https://zero-to-jupyterhub.readthedocs.io/en/latest/authentication.html#openid-connect

[2019-10-18 07:57] betatim commented on #1444
https://github.com/jupyterhub/kubespawner/pull/357 is up for people who are having trouble running with kubernetes 1.16 to take over and finish off. I won't get around to pushing it over the finish line.

[2019-10-18 14:22] sunmakrules commented on #806
@chicocvenancio @clancychilds I have been tracking this issue and have been on every link possible to find a solution or a workaround but can't figure it out yet.

Tried editing the deployment and changing the ports `kubectl edit deployment proxy -n jhub` and `kubectl edit svc proxy-public -n jhub`.
Also tried adding a command in the values file to change redirection to port 443 command: "configur

[2019-10-18 15:27] consideRatio commented on #1427
Upgrade tests takes longer time, and is perhaps most important before releases. So... I figure making them something you run now and then manually could make sense.

By triggering a custom build, and having a `.travis.yml` that builds different depending on `if: type = api` or not. one could also use the pretended commit message to signal what kind of build one would want in the `.travis.yml` file

[2019-10-18 16:56] guzman-raphael commented on #1448
+1
Just ran into this provisioning a JupyterHub Demo environment for a conference...
Any idea when could be addressed? Guess I will use a manual config for now.

[2019-10-19 11:56] manics commented on #1427
Does it matter if the upgrade test takes a long time, especially if it's part of a Travis matrix build so you can see the results of the non-upgrade tests early if you really need to? I think asking people to decide whether an upgrade test is required or not for a PR is an unnecessary extra step. If the PR shouldn't affect the upgrade the test should pass quietly and no-one cares, if it fails due

[2019-10-19 12:06] consideRatio commented on #1427
@manics deal I agree.

To mitigate CI delay issues, we perhaps also limit ourselves to four jobs in our test stage. And also... feels kind of silly to fix this now and not sooner, but we should not rerun all tests if no changes has been made to the chart.

[2019-10-19 12:08] consideRatio opened #1451 "PR Discussion - Don't rerun CI helm chart tests on already published chart versions"
I don't think we should rerun Helm chart tests in our CI setup if the chart has not changed, and is found to be the same as an already published helm chart.

One could argue that we should if `.travis.yml` has changed, hmmmm...

[2019-10-19 14:01] MBcom commented on #1312
I managed with the following workaround:

[code]

[2019-10-21 06:25] cometta commented on #1323
i'm looking for similar feature too

[2019-10-21 14:17] suryag10 commented on #1286
Solved this issue as ingress controller was filtering out the cookies.

[2019-10-22 12:21] sunmakrules commented on #806
@consideRatio Thanks for your response. Can we atleast document or just put down here a working workaround for this issue?

[2019-10-22 12:48] consideRatio commented on #806
For now, the suitable workaround is to use `0.9-1743b85` @sunmakrules.

[2019-10-22 17:43] sunmakrules commented on #806
@consideRatio Thanks. But I still have an issue accessing the proxy since it gives me an error saying >jupyter.example.com redirected you too many times>

[2019-10-22 18:42] consideRatio commented on #806
This could happen for various reasons, and if you are using a fresh version of the helm chart, then the issue may not be this specific issue causing that.

Perhaps you could open a new issue about that? If you do, please provide information about your `config.yaml` with sensitive stuff redacted, the jupyterhub helm chart version used, notes about kubernetes is setup, and perhaps the most relevant

[2019-10-24 11:39] mschroering commented on #1343
I am seeing this too. I think it has to do with the fact that the cull options are applied in jupyterhub_config.py before the `extraConfig` options are.  The culling service is configured without the `base_url` setting.  I was able to work around it by manually adding the cull service in the `extraConfig`. In my case the `base_url` is `/notebooks`

` cull: |
      c.JupyterHub.services.append({

[2019-10-24 12:54] vindvaki opened #1455 "Update oauthenticator to include GitLab authorization fixes"
We are eager to see https://github.com/jupyterhub/oauthenticator/pull/283 upstream so we can update the JupyterHub GitLab-managed app. See also https://gitlab.com/gitlab-org/gitlab/issues/31165

I am happy to help in any way I can

[2019-10-24 23:17] sgloutnikov commented on #1103
Also ran into the need to mount secrets as environment variables into the user pod and ended up with two options. For now, the first one looks easier to manage as there are less moving pieces.

1) Use `hub.extraConfig` to alter `c.KubeSpawner.modify_pod_hook`. The idea came from the following kubespawner [issue](https://github.com/jupyterhub/kubespawner/issues/306). You would do something like thi

[2019-10-25 08:38] bitnik commented on #1343
You don't need `extraConfig` to set base url. You can do:

[code]

[2019-10-25 16:38] manics commented on #1448
There are instructions for using cert-manager in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/755
The PR needs more work but as far as I know they should work, if not please comment on that PR.

[2019-10-26 05:31] #1449 closed

[2019-10-27 23:35] rolinston4 opened #1458 "environment variables problem"
my config.yaml:
![image](https://user-images.githubusercontent.com/28034434/67643710-4368f880-f955-11e9-9b7b-4129afe31b19.png)

`kubectl -n jhub get pods`
![image](https://user-images.githubusercontent.com/28034434/67643721-6c898900-f955-11e9-8091-b181ed5eda03.png)

image logs
![image](https://user-images.githubusercontent.com/28034434/67643703-2a604780-f955-11e9-95b4-b913111502a7.png)

[2019-10-28 17:08] alexandermichels opened #1460 "Ephemeral Storage Problem when Pulling Docker Image"
Hello, I've deployed JupyterHub on Kubernetes using two Ubuntu VMs (not a cloud provider), but I'm having a problem when I try to incorporate a specific Docker image. The relevant part of the config is below:

[code]

When I deploy this using Helm pods get evicted, disrupting even Helm because the nodes do not have enough "ephemeral storage." Part of the describe can be seen below:

[code]

The im

[2019-10-28 21:54] vindvaki commented on #1455
@consideRatio do you think this is something you can help us with?

[2019-10-29 05:39] consideRatio commented on #1455
Absolutely, i'll work hard towards it whenever i get time to do so! Hard to provide an ETA but i'm doing my best

[2019-10-29 06:21] consideRatio commented on #1427
TravisCI will always run a primitive upgrade test now, but locally you wont, as of #1459. There is room for improvements, and the "primitive part" of the upgrade tests, I mean that it only verifies that when we go from 0.8.2 to current master, we land on a functional state without errors during the upgrade process if we use the save config before and after.

So, we should perhaps refer to this as

[2019-10-29 07:06] cometta opened #1463 "Error when running 0.9.0-alpha"
I get below error when with prebuilt images 0.9.0-alpha.** for jupyterhub

[2019-10-29 07:15] consideRatio commented on #1463
prebuilt hub image? It is not properly documented what you need to consider in 0.9.0 for that, but i could benefit from input.

How is your image built? Is it using FROM our k8s-hub image or from scratch mimicing our past image?

[2019-10-29 07:32] cometta commented on #1463
@consideRatio i use image directly from https://hub.docker.com/r/jupyterhub/k8s-hub/tags

[2019-10-29 07:48] consideRatio commented on #1463
The image needs to go alongside the helm chart, in 0.9.0-alpha will inject configuration. I'm very low on time, but briefly I suggest: use the same helm chart version as the image foundation, and if you get into additional trouble, await the next beta release.

[2019-10-29 08:01] consideRatio opened #1464 "Putting z2jh.py next to jupyterhub_config.py in the hub image"
@mrow4a came with excellent input and a concrete suggestion in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/1407#issuecomment-538936442 on how to make the ability to customize the hub image more reliable. I like this proposal, it just needs to be implemented.

You are very welcome to contribute with the implementation as well @mrow4a! :sunflower:

[2019-10-29 08:01] consideRatio commented on #1381
Related #1464

[2019-10-29 08:11] cometta commented on #1463
I did another testing. I'm using helm 0.8.2 , git checkout ec3b97df3f758ce69102a77502622c3be4b53e77   (same image like 0.9-ec3b97d , not the 0.9alpha), then docker built the hub. Still i get the error.

[2019-10-29 08:17] consideRatio commented on #1463
use exactly the same hub image version as the chart version, check this repos readme that has a badge eith info about latest bleeding edge version and use the fresh 0.9.0-alpha.1.014.something for both chart and image

[2019-10-29 08:18] mrow4a commented on #1464
Yes, I will have a look next days.

[2019-10-29 12:09] sampathkethineedi commented on #1411
Hi, I need help changing jovyan to {username} at all places. What worked for you?

[2019-10-30 01:32] #1463 closed

[2019-10-30 04:04] cometta opened #1465 "Can't pull private image for SingleUser"
I am using helm 0.9.0-alpha.1.  In pod/continuous-image-puller-2hlk8, it shows
[code]

but when i use jupyther hub to spin up a user with similar private image <private_repo>.azurecr.io/jupyter-minimal-notebook:latest , i get

[code]

In config.yml file, i have
[code]

[2019-10-30 05:28] sampathkethineedi commented on #1292
Hi, I need help changing jovyan to {username} at all places. What worked for you?

[2019-10-30 06:02] sampathkethineedi commented on #1411
This worked for me

[code]

[2019-10-30 07:12] cometta commented on #1465
removed pullPolicy: "Always" is the workaround. This is a bug when hub needs to pull the image

[2019-10-30 21:59] manics commented on #1427
Supporting and testing a major upgrade with the same config sounds good and is the process that most people will go through.

Testing changes in configuration with or without an upgrade involves a potentially infinite number of combinations, might be nice to have but assuming(!) Helm cleans-up after itself the main persistent state will be storage volumes and the JupyterHub DB. The latter could be

[2019-10-30 22:05] manics commented on #1458
You shouldn't need to set `PROXY_API_SERVICE_HOST` and `PROXY_API_SERVICE_PORT`.
Which instructions are you following that tell you to set them?

[2019-10-30 23:14] sunmakrules opened #1466 "ERR_TOO_MANY_REDIRECTS with OAuth and SSL setup"
I am able to setup 'keycloak' authentication and SSL seperately. But as soon as I intergrate the two I end up with too many redirects error.

Note: I have a seperate nginx-ingress controller running in EKS. Hence, my keycloak and jupyterhub setup are type `ClusterIP`.

Below is the output of my curl command:
`> curl -vvv <jupyterhub_host.xyz.com>`

config.yaml:
[code]

Helm deployment:
[code]

[2019-10-30 23:16] sunmakrules commented on #806
@consideRatio Thanks for your help! Have created a new issue as per your suggestion. #1466

[2019-10-30 23:46] consideRatio commented on #1458
(These are set by kubernetes on pods in a namespace with kubernetes services)

[2019-10-31 07:37] Ufaowl commented on #1379
Thank you so much, sir!!! I almost gone nuts trying to figure it out for two days. It didn't occur to me to look into config.py. This definitely should be somewhere in  the manual

[2019-11-01 15:47] hdimitriou opened #1467 "Adding optional imagePullSecrets for proxy Image"
Currently proxy image does not support imagePullSecrets, in case someone wants to use a custom image.

I have created #1391 which solves this and it passes the tests

[2019-11-02 15:23] arpitsri3 opened #1468 "configuring jupyter-hub with kubespawner"
Hello !

This question is regarding configuring jupyter-hub with kubespawner on a kubernetes cluster. There was a use case where it was needed to spin up a notebook server for a user with node-selector and tolerations defined while calling the '/users/{name}/servers/{server_name}' POST API of jhub server.
I have tried giving the 'node_selector' and 'tolerations' option (as key-value) directly in t

[2019-11-03 09:14] rolinston4 commented on #1458
I guessed the settings...

Then how should I do to solve the error problem in the image logs ?  And why does it happen?

[2019-11-04 03:28] rolinston4 commented on #1458
Thanks for the hint, I find the place to add environment variables in k8s service.

[2019-11-04 03:28] #1458 closed

[2019-11-04 03:30] rolinston4 opened #1469 "jupyterhub can not start"
![image](https://user-images.githubusercontent.com/28034434/68098218-70d61900-fef6-11e9-8343-a4d88aa72c73.png)
Why this happen

[2019-11-04 16:49] consideRatio commented on #1469
I don't know =/

I also know too little in order to try help. I think it may relate to a change you have done following https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1458.

I don't know for sure why you got the issue in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1458, but missing environment variables like those ending with SERVICE_HOST seems to me like a good indica

[2019-11-04 21:01] stevenstetzler commented on #1130
I ran in to this issue as well, where I wanted to have tolerations for every schedulable object in the chart. I tweaked the Chart to allow for this. I haven't had time to run extensive tests, but I've been able to deploy a JupyterHub and everything works as expected. I've forked the repo and made a new branch with my changes, here is the commit: 456b78a25a237e7cf83bd2241d75f45a09f272c4 I think it

[2019-11-04 21:16] betatim commented on #1130
sounds like a good idea/PR to make. One thing that @consideRatio commented on in another PR is that things should be wrapped in if statements so that they only get added to (say) an objects template when they are set to "not their empty value". Another thing to double check is if kubespawner adds the right tolerations to the pods it starts. Potentially with a short bit of documentation for how to

[2019-11-04 23:32] alexandermichels commented on #1460
I checked the node's ephemeral storage capacity and that is listed at 16GB, so I'm thinking the problem lies with specifying the limit/request for the puller. Anyone know how to do that within the Helm chart?

[2019-11-05 01:22] stevegore commented on #684
Thanks so much for this! Was struggling for a while without this.

[2019-11-05 05:01] arpitsri3 commented on #1323
Even I am stuck with this. Did you guys find anything?

[2019-11-05 05:38] IamViditAgarwal commented on #1323
@arpitsri3 I have found a solution for my issue. Might be it works for your use case also

So, my issue was that, i was unable to choose the kubespawner singleuser profile list dynamically or choose based on some query params.

For this issue , what i have done is:
" I havent used singleuser profile list directly as given above in the issue by @sampathkethineedi  because it will not allow you to c

[2019-11-05 05:56] arpitsri3 commented on #1323
Hey Thanks a lot for the information!

I think we have the same use case. I also , would like to be able to launch a profile on the fly from the POST API -
http://petstore.swagger.io/?url=https://raw.githubusercontent.com/jupyter/jupyterhub/master/docs/rest-api.yml#/default/post_users__name__servers__server_name_

I followed your inputs and have defined a profile list like so in the jupyterhub_con

[2019-11-05 06:00] arpitsri3 commented on #1323
[jupyterhub_config.zip](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/files/3807428/jupyterhub_config.zip)
Attached the jupyter_config.py file that i am using for reference.

[2019-11-05 06:44] arpitsri3 commented on #1323
Also, when you said - 'In my use case , i have a need that there will not be always a case where user will come and select the profile from the spawner page. There can be chances where the user just need to bypass that page and opens his profile set bydefault', does that mean that the user 'bypass that page' via the jupyterhub API is it? (like i mentioned above in my use case)

[2019-11-05 06:51] manics commented on #1460
How much free disk space do you have in your VMs?

[2019-11-05 06:58] IamViditAgarwal commented on #1323
@arpitsri3 So, I m doing this in 2 ways for my use case.
First, In bypassing the screen, how i achieved by this :
" I was checking the params for which the profile selection page needs to be bypassed. In those params, I was not setting the `kubespawner.profile_list` . So here is breif snippet from my configs for bypassing the selection page:
[code]
Pay attention to first line , i have set kubespaw

[2019-11-05 06:58] IamViditAgarwal commented on #1323
@arpitsri3  and for the rest of the case , things are same .
"i m setting the kubespawner.profile_list , so that the user can select the profiles and proceed"

[2019-11-05 07:04] arpitsri3 commented on #1323
@IamViditAgarwal  Hey Thanks!

Is there a config file besides jupyterhub_config.py that I am missing?

I am a bit confused as to where you are setting the 'kubespawner.profile_list' property. In the first comment the 'kubespawner.profile_list' property is empty ( [] ) , but then, where are you setting the details for the profile_list?

Thanks!

[2019-11-05 07:07] arpitsri3 commented on #1323
@IamViditAgarwal Also if you look at the jupyterhub_config.py file that i have attached, I can't leave the profile_list empty because the use case needs that GPU profle to be set as default, so as to automatically pick it when i spawn a server with the POST API that i mentioned.

Thanks!

[2019-11-05 11:51] IamViditAgarwal commented on #1323
I have only one Jupyterhub config file which is the default and the main config file .
Regarding setting the details for the profile list . it is set as default .
Only for the use case that requires by passing or custom profile list (based on some query params or something else etc) , I m setting the `kubespawner.profile_list to empty`
I m defining this code in `process_user` function. U can find

[2019-11-05 22:52] alexandermichels commented on #1460
@manics thanks so much for the reply!

Here is the output of df -H on master

[code]

df -H on the worker node
[code]

[2019-11-06 06:23] arpitsri3 commented on #1323
@IamViditAgarwal
Hey Thanks!

What i eventually did was , built the latest kubespawner wheel from source (as it has support for dynamic profile by default, via the JHUB API). Then built a custom docker image for jupyterhub-k8s with manual installation of that whl file and using this image now.
It solves the use case as now 'profile' parameter can be passed in the body of POST request.

Thanks for

[2019-11-06 11:00] mkjpryor-stfc commented on #1464
+1

Putting `z2jh.py` in the `WORKDIR` is important when the hub image in use does not use the exact same OS and Python version as the reference implementation. At the moment, if you are not using Python 3.6 with `dist-packages` under `/usr/local/lib`, `z2jh.py` cannot be found!

[2019-11-06 16:16] mjuric commented on #705
A quick question: I tried to customize the hub image and override it in `config.yaml` by setting:
[code]
But after running `helm upgrade`, it's still picking up the `jupyterhub/k8s-hub:0.8.2` image. Can you tell if there's something obviously wrong that I'm doing?

[2019-11-06 16:39] mjuric commented on #705
Figured it out (h/t to @stevenstetzler) -- the `hub` section should be top-level, not under `jupiterhub`. Leaving it up there in case someone else has the same problem!

[2019-11-06 21:29] Chrisjw42 commented on #1393
Hi guys, and thanks for your work on this project.

I believe a feature such as this could solve an issue I'm having. The pre-puller fails to complete it's initial boot when a separate image is defined as part of one of the profiles.

Multiple profiles have worked well, it's only when an image is defined that the error occurs. In the below example, the helm install runs fine, except when the final

[2019-11-07 06:00] clkao commented on #1428
I wonder if the proxy-public's default type should be LoadBalancer since it's not always available. also when ingress is configured, you might end up with a public ip from ingress, and another public ip from LoadBalancer svc that is not actually used.

[2019-11-09 19:12] manics commented on #1460
How big is your Docker image- what does `docker image ls` show?

Note that the size displayed on Docker Hub is misleading, as it's the size of the compressed layers.

[2019-11-11 07:35] consideRatio commented on #1460
Im on a mobile and cannot look into things as much as id like, but i suggest verifying if our helm chart config supporting configuration of resources in this way for the hub deployment pod.

If it doesnt, its time we fix it. One way to check is to run kubectl describe on the pod to see that you got the requested ephemeral storage

[2019-11-11 08:33] consideRatio opened #1474 "Enforce JupyterHub version match between hub image and singleuser-sample image"
#1390 was a non-problematic but potentially problematic issue caused by a mismatch of JupyterHub versions between our singleuser-sample and hub image. I think we should make our sample override the JupyterHub version but I got stuck trying to make sure it really could do that.

Apparently there is some complexity of specifying a git version and I failed to understand the parts involved. @clkao mad

[2019-11-11 08:34] #1390 closed

[2019-11-11 15:16] cslovell opened #1475 "Authenticator.logut_url - Ignored by tornado?"
The intention is to make it so that when you logout, you get redirected to a particular page, in this case: https://auth.oursite.com/welcome, while the jupyter environment is set up on 'jupyter.oursite.com'.

This doesn't work--it would be great to know the proper way to accomplish this.

[code]

[2019-11-11 15:55] consideRatio opened #1476 "Are we listening to SIGTERM? We should!"
By default, a pod can have 30 seconds on it to shut down by first being asked kindly with SIGTERM on its containers, and then forcefully with SIGKILL.

It is very possible that our code running in a container will ignore SIGTERM and then get forcefully killed by SIGTERM after the `terminationGracePeriodSeconds` has passed. I think our proxy pod does this currently. With that said, I think the quic

[2019-11-11 22:34] alexandermichels commented on #1460
@manics Good suggestion, it's 14.5GB compared to Jupyter/datascience-notebook which is 4.71GB. When the Helm 2.16.1 is released I will try redeploying with higher ephemeral storage limits and get back to you.

@consideRatio Thank you for the reply, I will get back to you with outputs when Helm 2.16.1 is released.

[2019-11-11 22:57] manics commented on #1460
You'll always be limited by the disk space available on your VM. Assuming you're using Docker the images will be somewhere under `/var/lib/` which is a 17GB partition (or 16GB depending on how you round things), and you're already using around 4GB of that.

[2019-11-11 23:07] alexandermichels commented on #1460
@manics So what do you suggest? I am using Docker. Is there an easy way to resize the `/var/lib` partition and/or make VMs with larger `/var/lib` partitions or do I have to choose smaller images?

[2019-11-12 00:30] manics commented on #1460
You should be able to create a larger VM or resize the existing one, but you'll have to look at the documentation for your hypervisor/virtualisation/storage platform.

[2019-11-12 07:04] kumarasenthil opened #1477 "proxy-public never gets an external-ip"
Everything seems to work until the last step that is mentioned in the Z2JH guide:
kubectl --namespace=jhub get svc

![image](https://user-images.githubusercontent.com/55604143/68649381-7cd76180-051a-11ea-9fba-83dfbde5669c.png)

The proxy-public node never gets an external-ip.

The config.yaml file is clean just containing the secret token and nothing else.

Any help?

[2019-11-12 07:05] kumarasenthil commented on #1477
cloud provider: AWS
EKS Cluster and Worker nodes created through Terraform

Running the kubectl command from within the instance that created the EKS cluster and worker nodes.

[2019-11-12 14:16] consideRatio commented on #1477
This relates to your Kubernetes setup, my initial feeling was to think of things in #1428, but if you are using EKS i figure that should be setup for you. I'm not sure. Look for help generally on this issue of not being provisioned a external IP for a LoadBalancer service on EKS.

[2019-11-12 21:41] mrachakonda commented on #1477
@consideRatio  I followed your comments. So you are saying proxy-public will never get external ip for load balancer. Is that right? If yes there is any work around?

[2019-11-12 22:22] BertR commented on #1477
@kumarasenthil which Ingress controller do you have installed on your EKS cluster?

[2019-11-12 22:38] consideRatio commented on #1477
@mrachakonda I only know that you are supposed to get one, and if you don't, it relates to your Kubernetes setup. And I assumed EKS would mean that you got it setup automatically to a good functional state with this functionality included, but apparently not, so I'm a bit surprised about that.

It does not relate specifically to this Helm chart or JupyterHub though.

[2019-11-12 23:47] chicocvenancio commented on #1477
I have successfully deployed jupyterhub in eks and it does provision ELB for LoadBalancer services. `kubectl describe` on the service might give an idea of what is going on. Failing that I would investigate the nodes and the master plane logs (in CloudWatch for EKS).

[2019-11-13 02:15] andrewcheny commented on #937
Same issue here running on microk8s with RBAC enabled. k8s 1.16

[2019-11-13 06:50] kumarasenthil commented on #1477
Thanks guys! I followed what was mentioned by @BertR and got the below
![image](https://user-images.githubusercontent.com/55604143/68739783-942d5200-05e1-11ea-88fb-a53aaa230dbd.png)

Still I dont get the external-ip for proxy-public:
![image](https://user-images.githubusercontent.com/55604143/68739830-b2934d80-05e1-11ea-930b-155ceab7bd49.png)

@consideRatio  I second you! When I created my EKS clu

[2019-11-13 06:55] kumarasenthil commented on #1477
Also I came across this page on aws documentation: https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html

This mentions subnet-tagging and few more steps for ingress controller setup. Should I follow this?

[2019-11-13 13:22] mrow4a opened #1479 "Make readiness and liveness configurable"
Currently readiness probe for hub is enabled by default, and liveness probe is disabled. I suggest in this draft commit https://github.com/jupyterhub/zero-to-jupyterhub-k8s/compare/master...mrow4a:fix_probes to make it configurable in the chart, for few reasons:
- to support with chart 0.9.0 JH <1.0.0
- sometimes it might be desirable to enable/disable certain probes (e.g. liveness)
- issues like

[2019-11-13 14:36] #1464 closed

[2019-11-13 17:09] consideRatio commented on #1479
I think I'd like to see them be made configurable as well!

[2019-11-14 01:13] kumarasenthil commented on #1477
@chicocvenancio
Here is the output of thekubectl describe service proxy-public -n jhub
![image](https://user-images.githubusercontent.com/55604143/68818126-e1f69880-067b-11ea-888d-cc685e57c0d6.png)

[2019-11-14 01:48] chicocvenancio commented on #1477
@kumarasenthil there seems to be missing output on the bottom from that screenshot.
From that message, I'm guessing it may be a failure of aws creating the ELB, perhaps https://eksworkshop.com/deploy/servicerole/ might help.

[2019-11-14 03:23] chicocvenancio commented on #1477
Maybe `kubectl -n jhub get events` can give you the full error messages.

[2019-11-14 09:22] consideRatio commented on #1444
Help debugging this would be appreciated, not that the current development setup described in [CONTRIBUTING.md](CONTRIBUTING.md) may make it a little bit easier, use the `dev` script to create a kind cluster with k8s 1.16 and run tests etc.

I think a development path would be to git clone kubespawner into the images/hub folder and in the Dockerfile add some steps where we copy the local kubespawn

[2019-11-14 09:30] manics commented on #1444
Quick and dirty way:
Replace `jupyterhub-kubespawner==0.10.1` with `https://github.com/jupyterhub/kubespawner/archive/884f2f6f68e13401a39265d4617ce465a716a4a3.zip`:
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/be710d7f0107f64219bbd2eb52c22e2f89840715/images/hub/requirements.txt#L7

And test as normal (or push to GitHub as a temporary branch and let travis will test it for you)

[2019-11-14 16:19] #1479 closed

[2019-11-16 12:07] consideRatio commented on #1444
@clkao, all these issues are now being addressed, mostly in #1483:

- Helm init part is outside the scope of this helm chart, but can be resolved by using a modern version of helm.
- The pending user pods is solved by bumping to a more recent kube-scheduler binary which is used by user-scheduler.
- The kubespawner issues is being solved by a PR in kubespawner and a bump in Z2JH.

[2019-11-17 16:38] lynchs61 commented on #1398
In my case I just want to do some work with Jupyter and JupyterHub and I have a kubernetes cluster. So although the number of users will be small (in the immediate future, only me), the k8s setup is the most straight forward except for the fact the LDAP or OAuth isn't reasonable. This would be nice to have and while I've looked through the helm chart and JupyterHub to try and figure it out, at lea

[2019-11-18 14:08] jtlz2 commented on #1415
I still have this problem too. How can I fix it? It's a showstopper right now. I can provide any info required. Otherwise jhub saves the day!

[2019-11-19 09:42] jtlz2 commented on #1415
@manics @consideRatio Do you know of a workaround? In my case it is 0.9.2 / 0.9.6 - every since yesterday my installation is borked - nothing I have found has overcome this problem :\

[2019-11-19 14:10] jtlz2 commented on #1103
@sgloutnikov Did (1) work? :\

[2019-11-20 00:39] manics commented on #1415
@jtlz2 which singleuser docker image are you using? The singleuser demo image might be out of sync but that doesn't contain anything useful for a production image.

[2019-11-20 06:21] jtlz2 commented on #1415
@manics Thanks! The problem goes away when I (presumably correctly) portforward into the proxy pod rather than the hub. I am not sure why there is a difference though. But at least this is resolved... I wonder if I am the only one to have made this silly mistake? Thanks again

[2019-11-20 09:58] wlyu commented on #895
@frouzbeh
Did you let it work?
k8s + jupyter/all-spark-notebook + Spark/Yarn

[2019-11-20 17:00] rajashreetutgirl commented on #664
Hi,
Even I have same situation, but I want to write a file with Instance metadata and some dynamic data that I get from POST request's body.

Any idea how to achieve it?

Thanks in Advance!!

[2019-11-21 00:52] jaskiratr opened #1486 "Core pods (hub/proxy/autohttps/user-scheduler) doesn't get the hub.jupyter.org/dedicated=core:NoSchedule toleration"
I'm unable to leverage taints on an instance group dedicated for core pods.
Following is the configuration for `jhub-core` instance group created for core pods.
[code]
The core pods don't seem to have the relevant tolerances applied when deployed via helm. Following is the `config.yaml` used by helm
[code]
**Jhub Version** = `0.9-445a953`
`helm upgrade -i jhub jupyterhub/jupyterhub --namespace jhu

[2019-11-21 03:37] frouzbeh commented on #895
@wlyu Yes, it's working.

[2019-11-21 18:57] brianv0 commented on #1222
This is a related issue:
https://discourse.jupyter.org/t/how-to-force-re-login-for-users/1998

The problem with this is that, once you are finished spawning and dropped in the notebook, the hub never sees any HTTP requests from the user’s browser/CHP, because everything is routed to the notebook and most of it is websockets. The only HTTP requests are to the notebook server (kernelspecs, sessions,

[2019-11-22 08:29] jtlz2 commented on #562
singleuser.uid=0 seems to throw "Running as root is not recommended. Use --allow-root to bypass." for me which prevents the container from coming up properly.

My use case is:

1. Install editor, packages etc. to container via apt-get
2. Easily run a start-up script from the command line without having to go the image registry route
3. Do the above in jupyterlab

I still can't get sudo working for

[2019-11-22 11:12] manics commented on #562
@jtlz2 can you paste or link to your configuration and Dockerfile? There are several suggestions in this thread, so please give us more detail on your current setup.

[2019-11-22 12:55] jtlz2 commented on #562
@manics Many thanks. Here you go:

`helm upgrade --tiller-namespace=myns --install saturn jupyterhub/jupyterhub --namespace=myns --version=0.8.2 --values=config.yaml`

config.yaml -

[code]

Thanks!

[2019-11-22 15:16] jaskiratr commented on #1486
I eventually ended up customizing the helm chart and implemented the needed by taking folliwing steps.

**1. Create Instance Groups**
Create two instance groups `jhub-core` and `jhub-user` with following taints.
[code]
[code]

**2. Create Helm chart configuration**
[code]

**3. Fetch the chart**
Whichever version you prefer
`helm fetch jupyterhub/jupyterhub --version=0.9-445a953 --untar`

**4. Cus

[2019-11-22 16:03] consideRatio commented on #1486
They should have been automatically added, so why wereny they? I will try verify it works in my deployment.

[2019-11-25 07:53] Aisuko commented on #1049
Thanks for you all made a discussion. I have a consideration on this. If I just want to no root user of the container. How should I do it?

[2019-11-25 08:47] Aisuko commented on #1415
I hit the same issue, Is there has any solution to fix this? I used the helm chart of `jupyter` was 0.8.2(https://jupyterhub.github.io/helm-chart/)

[code]

[code]

[2019-11-25 12:14] chaoyangfan-lgi opened #1521 "Redirect loop detected. Notebook has jupyterhub version 1.0.1dev, but the Hub expects 1.0.0."
Help!

I deployed Jupyterhub as a container. After the following setting, when I start the single user server I got the error. I check the version.

The JupyterHub image: jupyterhub/jupyterhub 1.0.0

In the image it generates: jupyterhub/singleuser:1.0

[code]

I can not access the single use server.

### My configuration

[code]

[2019-11-25 23:57] ltupin opened #1491 "Deploying on a cluster with strict PodSecurityPolicies"
Hello there,

First of all I want to thank you a lot for all the work on this helm charts, its really changing the game and avoid hand-craft we did before to customize my jhub server !!!

### Situation
My cluster is secured with PodSecurityPolicies
[code]

### Issue
As you can see containers cannot run as root and must run with a UID. This is best practices to deploy k8s like this accordly with do

[2019-11-26 07:21] consideRatio opened #1492 "Declare known unsupported versions in Chart.yaml"
As suggested in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/1483#issuecomment-558398811 we can try to put an upper bound on the supported k8s version of the chart to allow it to fail early rather than late, but we also want our tests to keep trying k8s 1.16 until we get it working but as an allowed failure, so a good solution for that is needed.

/ from mobile

[2019-11-26 07:21] consideRatio opened #1493 "Declare known unsupported versions in Chart.yaml"
As suggested in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/1483#issuecomment-558398811 we can try to put an upper bound on the supported k8s version of the chart to allow it to fail early rather than late, but we also want our tests to keep trying k8s 1.16 until we get it working but as an allowed failure, so a good solution for that is needed.

/ from mobile

[2019-11-26 07:33] consideRatio commented on #1491
Id be happy to see updates of the chart to reduce root-iness with this in mind.

Steps to take:
1. Identify where we have rootiness causing problems and if they can be disabled etc.
2. Reduce the need for root wherever we can.
3. Document about PSPs and what can be done to manage a restrictive PSP

Workarounds for now to avoid some of them, is to disable prepulling with the hook puller and to not

[2019-11-26 07:40] #1492 closed

[2019-11-26 10:22] hnykda commented on #1313
Hello :wave: . Any updates :grin: ? We are still stuck on quite low versions of ipython/jupyterlab/jupyter as there hasn't been any new release for quite a long time.

[2019-11-26 11:23] consideRatio commented on #1313
I'm working very hard on this, but it is a lot of work to bump dependency packages. To help out, check out this issue. There are some PRs that could very much benefit from review so we can make a release so we can bump the dependency packages so we can release this helm chart updated.

[2019-11-26 12:36] manics commented on #682
@arthurk If this is still a problem on the latest version and you've verified that your k8s proivder supports network policies for both ingress and egress please feel free to reopen.

[2019-11-26 12:36] #682 closed

[2019-11-26 12:37] manics commented on #1491
If network policies are enabled by default the network tools container may not be needed any more.
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/1271

See also https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1408

[2019-11-26 12:44] consideRatio commented on #1491
@manics well hmmm, If they are enabled so this helm chart creates a networkpolicy resources AND there is a controller to enforce them installed, such as calico. But, that isn't part of a fresh k8s cluster setup with kubeadm.

[2019-11-26 15:17] raybellwaves opened #1494 "Missing page link - ways to set up a cluster"
On https://zero-to-jupyterhub.readthedocs.io/en/latest/create-k8s-cluster.html clicking the link 'ways to set up a cluster' gives a 404 (https://kubernetes.io/docs/setup/pick-right-solution/).

Found a webpage here but it is not up to date https://v1-13.docs.kubernetes.io/docs/setup/pick-right-solution/

The code is here https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/doc/source/c

[2019-11-26 17:29] choldgraf commented on #1494
Hmmm - @consideRatio I don't believe that this comes from the documentation refactor, it's a link out to the official kubernetes docs. That page seems to have moved? I'm not quite sure what'd be the best new version of that page

https://kubernetes.io/docs/setup/pick-right-solution/

[2019-11-26 18:39] raybellwaves opened #1495 "suggestion of updating docs for az account set -s"
Currently going through https://zero-to-jupyterhub.readthedocs.io/en/latest/microsoft/step-zero-azure.html

A (very) small stumbling point for me was https://github.com/Azure/azure-cli/issues/7304#issuecomment-420797466

If you think it is worthwhile I could update this line of the docs (https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/doc/source/microsoft/step-zero-azure.rst#L60)

[2019-11-26 22:09] consideRatio commented on #1494
Ah, thanks for helping figure that out, sorry for offloading this on you like that! Ill look into it!

[2019-11-27 00:25] dimm0 commented on #1252
Been fighting with this issue for a long time in rook/ceph volumes...
Here's k8s issue: https://github.com/kubernetes/kubernetes/issues/69699
Rook issue: https://github.com/rook/rook/issues/2254 (was fixed for flexVolumes by disabling chowns in driver, now back in CSI)
ceph-csi issue: https://github.com/ceph/ceph-csi/issues/718

[2019-11-27 00:29] dimm0 commented on #1252
Would the workaround in kubernetes thread work? I'm not sure what supplementalGroup does

[2019-11-27 09:00] consideRatio commented on #1494
From https://github.com/kubernetes/website/pull/14468 I learned that https://kubernetes.io/docs/setup/ makes sense to reference instead! A PR to fix it is appreciated! :heart:

[2019-11-27 11:08] consideRatio opened #1496 "Upgrade and disruptions for users"
If I make a Helm chart upgrade, some issues typically arise that disrupts the users. This issue is meant to investigate these and consider what we can do.

As a user in JupyterLab I get a dialogbox saying connection lost and suggesting a restart or dismissal of the popup box. [Here is the source code relating to that popup](https://github.com/jupyterlab/jupyterlab/blob/78e7bf2d6848fe22f2b59200c832

[2019-11-27 11:36] raybellwaves commented on #1494
Will do after the holidays

Sent from my iPhone

[2019-11-27 12:38] aguinaldoabbj commented on #1430
It's a reasonable mechanism, though. However, there's a sync problem between jupyterhub and kubernetes. Pod is culled but jupyterhub seems to be unaware of that. When the user logs in again, an error 503 appears and user can't spawn a new pod.

[2019-11-27 13:17] consideRatio commented on #1430
I'm never getting enough clarity about this, but there are two cullers in play. One by jupyterhub, and perhaps also one by the jupyter server created by jupyterhub.

The culling by jupyterhub is not communicating with KubeSpawner which is the logic within JupyterHub on how being aware of what servers are running etc though, and this may be the crux.

I don't think this is an issue in the latest ve

[2019-11-27 13:41] aguinaldoabbj commented on #1430
Jupyterhub helm chart version 0.8.2 and app version 0.9.6 on Kubernetes 1.16.

[2019-11-27 13:49] consideRatio commented on #1430
:O Hmmm can you run 0.8.2 on k8s 1.16? Is that your kubectl client rather than the cluster itself?

[2019-11-27 14:00] aguinaldoabbj commented on #1430
No, I have upgraded the whole cluster to 1.16. The only big problem I had with that was hotfixed with the workaround suggested in #354.

[2019-11-27 17:39] scottyhq opened #1497 "Helm3 compatibility"
Opening an issue to track compatibility of z2jh chart and deployment instructions with the latest stable release of helm (v3):

https://github.com/helm/helm/releases/tag/v3.0.0
https://helm.sh/docs/faq/
https://helm.sh/blog/migrate-from-helm-v2-to-helm-v3/

I think the most important things to be aware of are that 1) tiller is no longer part of helm and 2) helm2 support and the stable chart reposi

[2019-11-27 17:55] betatim commented on #1496
Maybe the JupyterLab hub extension could check if it can reach the proxy (does it have a public health endpoint?) and if it can reach the JupyterHub API (something like https://hub.mybinder.org/hub/api). This might help with separating the case "my kernel crashed" and "everything is down right now". It sounds like if we can tell the difference between these two cases you can use a different timeou

[2019-11-27 18:08] manics commented on #1497
I've been deploying BinderHub (which depends on this project) using Helm 3 without issues, no changes were needed to the charts. Main change when it comes to deployment is creating the namespace in advance.

I think the hardest part will be testing upgrades from Helm 2 to 3.

[2019-11-27 18:33] consideRatio commented on #1496
I want to consider potential improvements anyhow. I've updated my hub/proxy enough with feedback from my colleagues often enough to care :D

The issue regarding proxy is unconfigured for a time window after restart, is only a matter for CHP though. Traefik will handle that well. So I don't care to optimize CHP for that somehow.

## Questions
- Does the dialog box with restart/dismiss in JupyterLab

[2019-11-27 18:43] betatim commented on #1496
I think with a HA setup of traefik most problems will go away. Restarting the hub can be done (I think) in a way where the new hub pod is started and only when it is ready (via k8s readyness probe) is the old pod killed.

The reason I was thinking about how much people will notice if they aren't watching during the upgrade is that if they don't notice anything if they don't catch you "in the act",

[2019-11-27 22:20] ltupin commented on #1491
So far here what I did.

I ve put:
[code]
for all container images (as it was not helmized, I quickly did it by hand on my cluster) and now JHub is running :-D : Maybe we should add this as an option for the charts what do you think ?

But, when I want to spawn a notebook I get a :
[code]
Where I can set this `runAsUser: 1000` `securityContext` for the spawned notebooks ?

I'll continue troublesho

[2019-11-27 22:34] consideRatio commented on #1491
Look into disabling cloud metadata, there is a init container that does some adminny things. Look in the charts default values.yaml and look for cloudmetadata or something like that. Switch that enabled flag to get rid of the init container!

[2019-11-27 23:31] ltupin commented on #1491
It works ! Many thanks !

Now lets work on user management :-) with a token authentication I want to make a local env associated to the logged in user /home/loggeduser/ but thats another story.

What do we do with this :
[code]

Adding as an option in the templates ?

[2019-11-28 00:01] consideRatio commented on #1491
Perhaps this works? I recall we recently got ourselves a passthrough general purpose configuration way in the helm chart. If not, this is meant to be supported.

[code]

;)

[2019-11-28 05:56] ltupin commented on #1491
I was talking about all containers running at root or with a non-numeric
user ? This parameter is only for the spawner no ?

Le jeu. 28 nov. 2019 à 01:01, Erik Sundell <notifications@github.com> a
écrit :

[2019-11-28 06:48] #1444 closed

[2019-11-28 06:55] consideRatio commented on #1491
No, I realized that limitation in kubespawner recently. If you want to help, it would be helpful to write that this is of relevance to you in an issue for the kubespawner repository. fsGroup on the pod spec supports this, but kubespawner only sets integers because of historical reasons for JupyterHub spawners in general.

[2019-11-28 07:12] consideRatio opened #1499 "Updates to ./dev script"
- I've come to appreciate modern minikube a lot more, and I want it also alongside kind.
- The port-forwarding part is too unreliable for kind and it is more troublesome getting back to past states with kind without doing things over and over.
- The ./dev scripts should probably be able to help install a network policy controller in more than just kind clusters if needed for minikube functionality

[2019-11-28 10:19] consideRatio commented on #1491
It is only for the users being spawned yepp. I think you presume I understand more than I do about your issues currently and what you specifically aim to accomplish, in a technically specific manner.

I know that a PSP can specify something totally unreasonable for this helm chart to comply with, so a question to you is, what specific aspect of a PSP would you like to see this helm chart being abl

[2019-11-28 11:41] JPMoresmau commented on #1466
I have the same two issues (this one and #806). Using 0.8.2 I get #806 (accessing the hub from the outside redirects from 443 to 8443, which breaks the nginx ingress rules and the HTTPS certificates).
If I use the indicated alpha version of 0.9 of the helm chart (and the corresponding hub image), I get too many redirects.
If I revert back to the 0.8.2 chart and replace 8443 by 443 in the deploymen

[2019-11-28 11:54] rafalrojek opened #1500 "404 error on redirect to singleuser notebook"
Hello,
I'm creating jupyterhub on AKS (Azure Kubernetes Service), with AAD (Azure Active Directory). Everything works properly until redirect to user notebook. I get 404 error. There ins't any error on login and singleuser pod initialization. As auth plugin I use `oauthenticator.azuread.AzureAdOAuthenticator`. I extended hub and singleuser images with PyJWT.
On hub pod I only see a redirect to not

[2019-11-28 12:35] consideRatio opened #1501 "Spawner event stream malfunctions :/"
https://github.com/genesis-platform/genesis-jupyterhub-automator/issues/5

[2019-11-28 13:59] JPMoresmau commented on #1466
The way I could progress is to add nginx.ingress.kubernetes.io/backend-protocol: "HTTPS" to the ingress annotations, then change the ingress, proxy service and deployment to use 443 instead of 80 or 8443. In this case I don't have any redirect and I can connect to the hub.

[2019-11-28 14:43] consideRatio commented on #1466
I recall this is fixed post 0.8.2, i don't remember where right out of my head.

[2019-11-28 15:08] bitnik commented on #1501
@consideRatio I just tested jupyterhub-0.9.0-alpha.1.060.6698eb9 locally and I get the same error, I got many "Server requested" message. And in the hub pod, this error was occurring many times:

[code]

I think the problem is with raw_event object in event ( https://github.com/jupyterhub/kubespawner/blob/0.11.0/kubespawner/spawner.py#L1631). When I comment that line, events work as expected.

[2019-11-28 15:40] JPMoresmau commented on #1466
Using jupyterhub/k8s-hub:0.9.0-alpha.1.058.002ae04 as the base hub image and 0.9.0-alpha.1.060.6698eb9 as the chart version, I get ERR_TOO_MANY_REDIRECTS, so no this is not fixed.

[2019-11-28 20:35] Montereytony commented on #990
A big thank you to all the developers!  I have had a few researchers at HaasBerkeley ask for this.   I tried for a few days and could not get it to work. I then copied the Dockerfile Eric published above and it worked for me with a few minor changes.

Here is the Dockerfile I used:

[code]

[2019-11-28 21:10] consideRatio commented on #1501
Excellent debugging work!!! Hmm, I dont come up with a clear idea on what we should do to resolve the situation...

[2019-11-28 21:13] consideRatio commented on #1466
The best insight to debug this i think, will be gained from logs on how the user was bouncing around. Was it from A to B to A to B or from C to A to C to A etc.

To find such info, check the logs of the proxy pod and the logs of the hub pod.

Having figured out that, and with info about authenticator used etc, could maybe get someone insightful enough to figure out a solution.

[2019-11-28 22:06] mjuric commented on #1501
I see the same messages as @bitnik -- nice detective work!

[2019-11-29 07:31] consideRatio commented on #1501
Hmmm perhaps it relates to using a post-1.0.0 jupyterhub commit, and that this was tested to work with kubespawner only on 1.0.0, so makes the breaking change part of jh perhaps?

[2019-11-29 08:45] JPMoresmau commented on #1466
OK, let's me try to give more info. Since everything works with SSL is disabled, the problem is linked to the proxy and ingress configuration. This is what I have in the config:
[code]

I then try to access the URL https://<hostname>/hub/user/admin/notebooks/<foldername>/<notebookname>?kernel_name=python&somekey=somevalue
(the key and value are needed for the custom authenticator)
- nothing happen

[2019-11-29 10:33] #440 closed

[2019-11-29 11:31] consideRatio commented on #1501
So `raw_event` is new for kubespawner 0.11.0: https://github.com/jupyterhub/kubespawner/blob/master/docs/source/changelog.md#new

And I also recently made it test against jupyterhub master, so its not something magically new in jupyterhub master.

It simply wasn't covered in the test by kubespawner.

[code]

TypeError: Object of type 'V1Event' is not JSON serializable

[2019-11-29 13:20] ltupin commented on #1491
@consideRatio the helm must only be compliant with (thats what I find as now):
- MustRunAsNonRoot
- MustRunAs id 1 to 65535

Putting the securityContext bellow for **each container** solve the point because all of them are trying to RunAsRoot and/or with a username (jovyan) instead of an id.
[code]

So my idea is to add a boolean statement in charts such as:
`MustRunAsNonRoot: true` ( securityCont

[2019-11-29 15:19] manics commented on #1491
@ltupin which of the current containers don't comply with the policy? It's good practice to run as non-root, and I think everything in this repo already runs as non-root unless they require privileged access, i.e. network tools and pre-pullers.

[2019-11-29 15:23] manics commented on #1466
Sounds like an interaction between your external ingress and the internal one used for let-encrypt.

How is your external ingress configured? Does it have it's own https certificate, or are you somehow proxying through to the let-encrypt certificate managed by the Z2JH internal ingress?

[2019-11-29 15:39] consideRatio commented on #1491
Questions:
1. What is the benefit of saying they must run as id in the range 1-65535? Is this viable to comply with?
2. Does a username like jovyan not always map to a UID also? Can our use of for example jovyan as a username be compliant with a UID range of 1-65535?
3. Is the UID range of 1-65535 the same as "run as non root", how are they different?

[2019-11-29 16:15] ltupin commented on #1491
@manics at least I found those images are running as root:
- docker run -ti jupyterhub/k8s-network-tools:0.8.2
- quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.15.0
And all jupyterhub images are running as jovyan (hub and notebooks)

@consideRatio
1. 2. 3. First of all, in my context, I'm not the kubernetes manager, it is owned by another team so I cannot change anything and I al

[2019-11-29 17:56] manics commented on #1491
you can safely disable the two root containers:
- `k8s-network-tools`: As @consideRatio said earlier you can disable cloud metadata to avoid running this. Since it manipulates network config it has to run as root.
- `nginx-ingress-controller`: This will only be used if you've enabled the built-in https lets-encrypt certificates in z2jh. This is provided so people with minimal experience are able t

[2019-11-29 17:56] betatim commented on #1491
In a lot of other helm charts you can define a `securityContext` for the chart which sets the UID that pods run as. I've discovered this as part of running helm charts on OpenShift where you have to set the UID explicitly.

You then put something like this in your `deployment.yaml`:
[code]

and something like this in the `values.yaml`:
[code]

I think trying to follow this structure would be good

[2019-11-29 18:01] betatim commented on #1491
Another thing people do to deal with getting their container to run in an OpenShift cluster where the UID you will end up running as is unknown until you start the pod is to make directories and files owned by group `root`. Which I think means because the UID that OpenShift picks for you doesn't equate to a user that exists you are in the "root" group and hence can access stuff.

I need to find my

[2019-11-29 18:41] betatim commented on #1491
This is a security context I use to deploy the keycloak chart from `helm/charts` on an OpenShift cluster:
[code]

[2019-11-29 20:00] manics commented on #1491
I was wrong, you can run a singleuser server with an arbitrary UID. It needs write access to the home directory, e.g. this works:
`podman run -it --rm -u 12345 -p8888:8888 --group-add 100 jupyter/base-notebook`
gid `100` is `users` which has write access to the `jovyan` home directory

[2019-11-30 14:09] consideRatio commented on #1500
I'm unsure whats wrong, but i suspect using a username in JupyterHub like `name, surname` can be causing the issue.

[2019-11-30 14:14] consideRatio commented on #1049
@Aisuko i think the hub containers etc are run as non-root already since #1280, we are aiming to not run as root throughout the helm chart.

The original issue was one relating to the kubernetes cluster itself, and how storage was provisioned I believe. I'm closing this issue, feel free to open a new.

[2019-11-30 14:14] #1049 closed

[2019-11-30 14:18] rafalrojek commented on #1500
Probably yes, but when we have Jupyterhub with dockerspawner we don't have this issue. Also we can't change this because we are using this AAD for many other things

[2019-11-30 14:29] consideRatio commented on #1500
Are you using the same Docker image?

[2019-11-30 14:33] rafalrojek commented on #1500
No, because dockerspawner is working on jubyterhub 1.0, but this I must use jupyterhub 0.9.6 and I use your docker image for that

[2019-11-30 14:43] consideRatio commented on #1500
Can you check if this is an issue on the latest version of this helm chart? We have jupyterhub something later than 1.0.0, i wonder if this is already fixed

[2019-11-30 14:53] consideRatio commented on #1475
Agree!

To get this working properly in this helm chart, we need support for it in the actual Authenticator class we use, perhaps through the base Authenticator class declared in JupyterHub. I'm not confident on the status of this in general and if it is only a matter of how to configure something that works or more.

[2019-11-30 14:58] rafalrojek commented on #1500
Alpha version of chart don't start on my cluster so I can't start higher version of chart

[2019-11-30 15:10] consideRatio commented on #1343
@mschroering excellent catch and excellent suggestion @bitnik. I'm not sure what makes the most sense to do about this. I lean towards thinking that things that startup should be done after extra config is considered, such as JupyterHub and the culler script, so I'll move the culler script startup to a later point.

[2019-11-30 15:15] #1343 closed

[2019-11-30 15:16] consideRatio commented on #1343
Thanks for a clearly written issue @Rothmanberger, that makes a big difference! :heart:

[2019-11-30 15:17] consideRatio commented on #1500
What makes it not start? Is that an issue already reported somewhere? I'm working towards a release, so this is an important question for me!

[2019-11-30 15:28] rafalrojek commented on #1500
At this moment I'm not at work but I will try check taht on monday

[2019-11-30 15:34] consideRatio commented on #1476
I've learned that `docker stop` will send a SIGTERM and then later a SIGKILL. Very similar to kubernetes, so we can check if a container is good or bad when it comes to this.

I'm closing this along with https://github.com/jupyterhub/configurable-http-proxy/pull/217 is merged where we fixed the issue for the CHP container of the proxy pod. If the autohttps pod has this fix isn't confirmed to me, b

[2019-11-30 15:34] #1476 closed

[2019-11-30 15:36] consideRatio commented on #1500
@rafalrojek thanks! There has been a lot of fixes since alpha.1 so the perfect insight would be to get feedback if it works on master or if there is something stopping your ability still to use this helm chart.

[2019-12-01 01:09] gosha1128 commented on #748
Here is what worked for me on GKE:
1) got a GCP external ip address ( regional type, matching the region of the cluster )
2) used that ip address in the config yaml for proxy.service.loadBalancerIP
3) applied the new yaml to the cluster
4) killed the proxy pod ( it should restart with the new ip address )
5) browsed to the ip address and confirmed it worked

[2019-12-01 10:54] consideRatio opened #1504 "Fix fragile configuration of pullPolicy for singleuser, and complement for the proxy pod."
#1426 added the ability to use an existing imagePullSecret, but didn't propagate it to the singleuser pods but only to the pre-puller pods. If someone would use a pulling policy of Always this would fail or if the imagepullers didnt pull the images to the nodes first it would also fail.

So, to avoid the fragility of that, we should also add the existing image pull secrets to the singleuser pods d

[2019-12-01 18:01] ltupin commented on #1491
Thanks @manics @betatim  ! I have things to try on monday :-) ! Keep you in touch !

[2019-12-02 02:54] Aisuko commented on #1049
I see, thanks.

[2019-12-02 06:09] stevegore commented on #722
I'm trying the same things with the [JWT authenticator](https://github.com/mogthesprog/jwtauthenticator/), and getting the same error. Any pointers? I'll also raise a new issue.

[2019-12-02 06:27] #1494 closed

[2019-12-02 06:29] stevegore opened #1506 "Unable to get JWT Authenticator working with Z2JH"
I'm not having much luck with using [JWT Authenticator](https://github.com/mogthesprog/jwtauthenticator) with Z2JH.

I have a custom Docker image to include the authenticator:

[code]

Running it confirms it is available in the same environment that JupyterHub runs under:

[code]

Here's my `config.yml` (slightly redacted):

[code]

However, I still get the following error on start, which would se

[2019-12-02 06:44] sgloutnikov commented on #1103
@jtlz2 yes, both worked. Not in the example above, but I went with a loop in there to minimize on copy-pasting a bunch of the same code since ENV variable and key were the same name.

[2019-12-02 06:44] stevegore commented on #1506
It would appear that something is wrong with my YAML. It was still running the default hub image despite the below:

[code]

Once I used  ` --set hub.image.name=qctrl/jupyterhub-k8s-hub  --set hub.image.tag=0.8.2` with my `helm upgrade` the issues seems to have resolved.

[2019-12-02 06:53] JPMoresmau commented on #1466
I don't use lets-encrypt, as you can see above my proxy tls settings are set to secret. I use the same secret for the ingress and proxy.

[2019-12-02 07:51] rafalrojek commented on #1500
Today I tried to install the latest version: `jupyterhub-0.9.0-alpha.1.073.53374ee`. Hub and singleuser started but the login problem still exist:
[code]

[2019-12-02 08:09] consideRatio commented on #1500
[E 2019-12-02 07:46:37.456 SingleUserLabApp web:2991] Could not open static file ''

This is the real question i figure, what is going on there and why.

My guess is an error in the singleuserlabapp caused by the username with a space and , in it.

[2019-12-02 08:10] consideRatio commented on #1500
Note that you can use the AzureAD users etc, but mapping them to amother names if needed, or stripping away spaces etc

[2019-12-02 08:11] consideRatio commented on #1500
Id personally use their email or something, that is unique while their name isnt, so thats problematic.

[2019-12-02 08:12] consideRatio commented on #1500
How to do it, i dont remember in detail how to go about it though, but it is doable and certainly somehong id suggest. I may not find time to resolve this edge case even though i do consider it a bug somewhere.

[2019-12-02 08:45] consideRatio commented on #1466
Hmmm "pathSuffix" was new to me, is it something that we consider in the helm chart template for the ingress when we use these provided values to create the ingress resource?

[code]

If you want traffic to the hub deployment setup on some URL like example.com/myhub
you should set `hub.baseUrl` to that and your ingress should route to that as well which a pathSuffix may do for you but you must ens

[2019-12-02 08:51] consideRatio commented on #722
Please raise a new and reference this if this is still an active issue, this technical issue is fixed atm. Also note that there may be pointers on how to work with that authenticator in its gitrepo. // brief because of on mobile in commute

[2019-12-02 08:56] consideRatio commented on #1506
Oh hmmm, then i also draw the same conclusion, perhaps use a yamlvalidator and a yaml to json to see if it output what you intend. A single space here and there can be disruptive.

Helm 3 will thankfully make it easier for us to enforce schema etc when we transition.

[2019-12-02 08:57] konradsitarz commented on #1500
This is linked with the issue https://github.com/jupyterhub/oauthenticator/issues/213

[2019-12-02 12:33] rafalrojek commented on #1500
That right! You can repair this issue with:
[code]

[2019-12-02 12:33] #1500 closed

[2019-12-02 13:01] manics commented on #562
[code]
This sets the startup command to `jupyter-labhub`. Can you try removing that and setting `singleuser.cmd: null` as in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/562#issuecomment-453968479?

[2019-12-02 18:50] raybellwaves opened #1507 "Missing page link for methods to install Helm"
On the site https://zero-to-jupyterhub.readthedocs.io/en/latest/setup-jupyterhub/setup-helm.html

The text 'While several methods to install Helm exists,' points to https://github.com/helm/helm/blob/master/docs/install.md which is missing

Should it be https://github.com/helm/helm#install? or perhaps better https://helm.sh/docs/intro/install/

doc source: https://github.com/jupyterhub/zero-to-jupy

[2019-12-02 19:30] consideRatio commented on #1507
Thanks! It should be https://helm.sh/docs/intro/install/ - want to help close this excellent clearly described issue with a PR fixing it? :heart: :sunflower:

[2019-12-02 19:59] raybellwaves opened #1508 "Missing page link for our RBAC documentation"
On
https://zero-to-jupyterhub.readthedocs.io/en/latest/setup-jupyterhub/setup-helm.html#initialization
Step 2 says '...See our RBAC documentation for more information'. The page points to https://zero-to-jupyterhub.readthedocs.io/en/latest/setup-jupyterhub/security.html#use-role-based-access-control-rbac
which is missing.

doc source: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/maste

[2019-12-02 20:42] consideRatio commented on #1508
It should be pointing to https://zero-to-jupyterhub.readthedocs.io/en/latest/administrator/security.html#use-role-based-access-control-rbac ! Thanks for catching and reporting these issues!

[2019-12-02 20:43] raybellwaves opened #1509 "Feature request: update docs for helm3"
https://zero-to-jupyterhub.readthedocs.io/en/latest/setup-jupyterhub/setup-helm.html

https://v3.helm.sh/docs/topics/v2_v3_migration/

[2019-12-03 00:35] #1506 closed

[2019-12-03 00:36] stevegore commented on #1506
Thanks @consideRatio!

[2019-12-03 09:50] n3o-Bhushan opened #1511 "Links in z2jh "customizing/user-management" documentation points to empty resource"
Link in https://zero-to-jupyterhub.readthedocs.io/en/latest/customizing/user-management.html#authenticating-users documentation is broken.

[2019-12-03 19:22] n3o-Bhushan commented on #1511
Fixed in #1510

[2019-12-03 19:25] consideRatio commented on #1511
Awww... We failed :p .html is missing.

Crap ;§

[2019-12-03 19:28] n3o-Bhushan commented on #1511
Lol, I will push new changes

[2019-12-03 19:38] n3o-Bhushan commented on #1511
@consideRatio There you go  #1512

[2019-12-04 08:18] ltupin commented on #1491
It works, so I ve added :
- cloudmetadata: enabled
- securityContext added for puller ds, awaiter job and hub deployment on all containers (I think its not necessary for all of them...)

[2019-12-04 08:44] consideRatio commented on #1491
@ltupin can you examplify the securityContext you added by showing some yaml?

Also note that a securityContext can be on a container level or a pod level, on what level did you apply a securityContext?

[2019-12-04 09:53] n3o-Bhushan commented on #1511
I think this can be closed now.

[2019-12-04 09:53] #1511 closed

[2019-12-04 10:35] consideRatio opened #1515 "Fix broken links in documentation"
I used a online website service to check our documentation links and if they functioned as they should, and came up with this report: http://website-link-checker.online-domain-tools.com/link/1c23febgtzy0pMUbGj/

@choldgraf and @willingc I've seen you solve link breakage effectively before and I hope to learn from your experience!
- Are you aware of a similar tool like that online based tool above

[2019-12-04 11:28] manics commented on #1515
Sphinx comes with a linkchecker https://www.writethedocs.org/guide/tools/testing/#link-testing
I've also used https://github.com/dkhamsing/awesome_bot#examples

[2019-12-04 14:51] cgiraldo commented on #1300
I hit the same problem deploying version: 0.9.0-alpha.1.084.5ca8a6f on a k3s.
Inspecting the user-schedule-xxxx pod log:

I fix it by creating a new roleBinding to let user-scheduler update the volume claim:

[code]

[2019-12-04 15:42] choldgraf commented on #1515
holy shit I had no idea @manics! Gah I hate-love sphinx so much 😆

[2019-12-04 16:01] #1300 closed

[2019-12-04 18:15] #1508 closed

[2019-12-04 21:54] choldgraf commented on #1515
@consideRatio I just ran `make linkcheck` and pasted all of the broken links into the top-level comment

[2019-12-05 22:11] manics opened #1517 "Add Helm chart to Artifact Hub (Helm Hub's new home)"
With Helm 3 there's a push towards decentralised chart repos: https://github.com/helm/hub/blob/master/README.md
The old https://github.com/helm/charts/ repo is being deprecated

Helm 3 includes a command for search Helm Hub:
[code]
And you can also search on https://hub.helm.sh/

Should we try and get https://jupyterhub.github.io/helm-chart/ added? The process and requirements for getting a repo l

[2019-12-06 05:52] snickell commented on #1292
Anyone have an example of how to do this for z2jh?

[2019-12-06 05:56] snickell commented on #1292
This example config from https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/990#issuecomment-432609082 might help others:

[code]

[2019-12-06 19:35] mjuric commented on #1501
FWIW, I'm still seeing this issue with `jupyterhub-0.9.0-alpha.1.085.6ccbe82` chart (which has the `jupyterhub/k8s-hub:0.9.0-alpha.1.071.b0d70c2` hub image) -- not sure if I'm doing something wrong?

Relevant part of the log:
[code]

[2019-12-07 11:21] consideRatio commented on #1501
Thanks, I've verified everything you say to be correct. I visited https://jupyterhub.github.io/helm-chart/ and downloaded the latest helm chart, alpha.1.085, and concluded that its values.yaml indeed used the alpha.1.071 image as could make sense.

[code]

We need to use 0.11.1 because the bug is fixed there. The issue is apparently that I've falsely assumed that a requirements with jupyterhub-kub

[2019-12-07 12:17] manics commented on #1501
The confusion probably comes from `pip` and `conda` behaving differently (conda will install the latest `.*`).

You should get the same behaviour with pip using `kubespawner>=0.11,<0.12`.

[2019-12-07 12:21] consideRatio commented on #1501
Ah, thanks @manics, I'll submit a PR soon! Got stuck fixing ltiauthenticator that had conflicting dependencies.

[2019-12-07 15:46] #1501 closed

[2019-12-08 18:39] mathematicalmichael commented on #990
update: This is a minimal set-up Dockerfile that seems to allow for RStudio install. Uses `nbrsessionproxy` and `jupyter-server-proxy` (apparently the same pre-reqs allowed `streamlit` to run via jupyterlab):
https://discuss.streamlit.io/t/jupyterhub-streamlit/1238/2

From `minimal-notebook`, this appeared to be enough:
`RUN pip install jupyter-server-proxy jupyter-rsession-proxy`

(I used to have

[2019-12-09 18:10] akaszynski commented on #1285
The latest helm 3 upgrade seems to have broken something.  Certificates are no longer being issued automatically (or at all).  I'm using the following in my `config.yaml`
[code]
Any idea what needs to happen to get this working?

[2019-12-09 18:24] akaszynski commented on #1285
I think I found the problem:
[code]

[code]

[2019-12-09 18:25] consideRatio commented on #1285
It is probably lets encrypt that has deprecated things which now impacts us.

Id love to solve this but im so low on time and this may require some tinkering and will be a change that will require manual interventions of many different kinds because of many different setups in the wild.

[2019-12-09 18:26] akaszynski commented on #1285
Looks like the issue has been noted here: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1448

[2019-12-11 15:29] Ufaowl commented on #1023
I also have this problem. No matter what I use, either
singleuser:
  image:
    name: myimage
    pullPolicy: Always
    tag: latest
or
singleuser:
  imagePullPolicy: Always
my singleuser pods are always have:
kubectl get pod -o yaml jupyter-user | grep imagePullPolicy
    imagePullPolicy: IfNotPresent
    imagePullPolicy: IfNotPresent

[2019-12-11 16:05] consideRatio commented on #1023
This is what should work in the latest release, `0.9.0-alpha.1.088.1350ad7`.

[2019-12-11 17:35] #1023 closed

[2019-12-12 16:32] sstarcher opened #1520 "combine proxy and hub into a single pod so TLS gets terminated at the same pod"
Currently, the proxy is implemented as a separate deployment.  The proxy supports TLS, but terminates TLS at its pod and forwards unencrypted traffic over to the hub.  This type of behavior is not optimal and for security reasons, it would be preferred to combine the proxy and the hub into the same pod.

Would you accept a PR to combine the proxy and the hub?

[2019-12-12 17:04] faizanbashir commented on #1413
I was facing the same problem the whole day, solved it finally for multi-az scaling using the following steps:
1. Deleted the default StorageClass ```gp2```, which was present by default in the cluster after creation.
2. Created a new StorageClass with almost the same config:
[code]
3. Applied the patch to make it the default StorageClass:
[code]
4. Created PVC and it is working for me.

Spread ac

[2019-12-12 17:28] manics commented on #1520
The proxy and hub have different roles- the hub is responsible for authentication and managing the user's server, but after that communication goes directly between the proxy and the user's server, so they can't be combined. For instance, if the hub is upgraded the proxy can continue to direct traffic to users with a current session.

There's also a plan to replace the proxy with Traefik:
- https:

[2019-12-12 18:05] sstarcher commented on #1520
Thank you for the detailed description.  I'll work on getting support in for SSL for the hub if it's not something that can currently be supported with the current chart.

[2019-12-12 23:14] mjuric commented on #1501
Happy to confirm event stream now works for me on v1.16 with the latest Helm chart. Thanks for all the hard work!

[2019-12-13 08:17] RAbraham commented on #1386
@misteliy  how did you solve this issue?

[2019-12-16 16:22] sstarcher commented on #1520
@manics any advice on what I might be doing wrong in a very basic case.

[code]

[code]

When doing a kubectl port-forward locally I can run openssl and see the certificate, but when running
` curl -k https://localhost:8081/hub/api`
curl: (35) error:1401E410:SSL routines:CONNECT_CR_FINISHED:sslv3 alert handshake failure

And in the logs
`[W 2019-12-16 16:15:54.314 JupyterHub iostream:1407] SSL Err

[2019-12-16 22:16] manics commented on #1520
I'm afraid I haven't used `internal_ssl` before. This was the original PR that added it https://github.com/jupyterhub/jupyterhub/pull/2055
@minrk @consideRatio Do you have any advice?

[2019-12-16 22:31] consideRatio commented on #1520
I know very little about the internal ssl setup. But in a k8s environment, if encryption between all pods is of importance, I would do suggest the use of Istio's mutual TLS possibilities.

[2019-12-16 22:37] sstarcher commented on #1520
Any reason you would specifically recommend going that route?  As I understand it JupyterHub supports running each component separately and supports TLS between them all I would have imagined using something like istio's mutual TLS would have complicated the setup.

[2019-12-16 22:37] sstarcher commented on #1520
My understanding from reading through the code is the only way to turn on ssl for the Hub portion is to use the `internal_ssl` config.

[2019-12-16 23:37] consideRatio commented on #1520
Istio solves it properly for all pods communication, but it perhaps can be solved without that for z2jh pods.

I really lack the domain knowledge here though. I would be happy to understand more about this though and have lots of questions rather than answers about the internal_ssl configuration that I haven't yet read up on.

[2019-12-16 23:41] sstarcher commented on #1520
I'm entirely new to Jupyter so I have been working through the SSL config trying to see how to set up it up as the document seems to not have sufficient information in it.

[2019-12-18 21:49] SPTKL commented on #1392
how do you solve the 'insufficient memory' issue?

[2019-12-19 07:24] consideRatio commented on #1497
there is an issue in chartpress as well relating to helm 3. The versions with .005. etc in it has leading zero and is a fully numeric version, snd that is invalid SemVer, and helm3 sometime complains, for example when using the chart as a dependency.

I have a PR to fix solve it.

[2019-12-19 07:34] minrk commented on #1520
The main thing needed for internal_ssl to work in z2jh is to distribute the credentials to the pods appropriately. The Hub needs to store them somewhere, and they need to get to the other pods. Ideally, the Hub would store them directly in kubernetes tls secrets, but I don't think this is possible with the APIs we currently have, they must be on disk for the hub container at least. KubeSpawner wou

[2019-12-19 11:00] cutiechi opened #1525 "How to individually modify the resource allocation of Pods"
How to individually modify the resource allocation of Pods？

[2019-12-19 20:42] kylejn27 commented on #1491
This was super helpful. Saved me hours of debugging time

[2019-12-20 12:01] sgibson91 opened #1526 "Deploying k8s to Azure does not automatically obey Network Policies"
As we have discovered in https://github.com/jupyterhub/mybinder.org-deploy/issues/1154#issuecomment-564277002, network policies defined in helm charts won't automatically be obeyed as expected when using a k8s cluster on Azure.

To enforce this, the k8s cluster needs to be deployed into a vnet with network policies enabled. Currently, this must be done at the deployment stage and cannot be retroac

[2019-12-20 12:05] consideRatio commented on #1526
@sgibson91 yepp!

Kubernetes does not by default come with something, called a controller, that enforces what is described in k8s networkpolicy resources. On GKE you can get that automatically installed if you press something similar in the k8s cluster setup.

For the documentation, it should be a general note about this alongside specific cloud provider implementation details on how to go about s

[2019-12-20 14:01] cslovell opened #1528 "503: service unavailable"
Jupyterhub is configured and working nicely for all users. Occasionally though, one of the users will reach the following error:

![503-service-unavailable](https://user-images.githubusercontent.com/6457695/71259714-11e22d00-2307-11ea-9379-a7f7489fe24d.PNG)

His pod is not running, and there are no errors in the pods. It is unclear how we can clear this error and restart his notebook.

![status](h

[2019-12-20 14:14] consideRatio commented on #1528
Try capture the logs of the hub when you notice this happening. Also a question right away, did this happen in conjunction with a long time of inactivity, or by doing something very compute intensive that may have caused a out-of-memory kind of eviction of the pod?

[2019-12-20 14:55] cslovell commented on #1528
Thanks for the fast reply. Here is the logs for this user over the two hours where things seemed to be working, then weren't anymore.

I've reached out to the user to see what s/he was doing when this happened--will update. Thanks again.

[james-bond-logdump.txt](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/files/3988763/james-bond-logdump.txt)

[2019-12-20 14:57] cslovell commented on #1528
If I wanted to get this started for him again, would it simply be enough to restart the hub?

[2019-12-20 15:16] consideRatio commented on #1528
@cslovell I know too little about what version is used, but yes that is a good measure in 0.8.2 for example, while in the latest development release you may not need to do anything.

From the logs, it seems you the hub cull's the user for being inactive after 24 something minutes. This is configurable, I'd make it a longer duration for most deployments of a jupyterhub I can imagine. 1 hour perhaps

[2019-12-20 15:33] cslovell commented on #1528
Excellent, I'll give that a shot. I'm on 0.9-03215dd for the moment. I'll look into 0.9.0-alpha.1.095.3e95dc3 as it's the latest version. Definitely will look into configuring the culling to at least one hour.

[2019-12-20 15:42] cslovell commented on #1528
Got it working - upgrading seemed to have worked. I've upped the culling to be a bit longer than an hour. I'll try to work with the analyst to see what happened. And by the way, great job with this project--we're all very grateful for it.

[2019-12-20 15:42] #1528 closed

[2019-12-24 03:28] raybellwaves opened #1532 "mention in docs that the helm section refers to helm2"
Before https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1509 you could add a line at the top of https://zero-to-jupyterhub.readthedocs.io/en/latest/setup-jupyterhub/setup-helm.html to say this section refers to helm2 and is subject to change with the latest version of helm (helm3)

[2019-12-24 16:40] sstarcher commented on #1520
@minrk Thank you for your assistance and let me know what you think of the PR.  https://github.com/jupyterhub/kubespawner/pull/386

[2019-12-25 19:04] sstarcher commented on #1520
So with my above PR my next issue is the dns/ip is being validated by the certificate and in the Kubernetes world the IP is dynamic.  Any recommendations for handling the following.  I would attempt to create a svc for the pod and have it use it's IP as the name of the service.  Or does anyone have a better idea.

[code]

[2019-12-26 17:41] #1525 closed

[2019-12-27 19:12] sstarcher commented on #1520
Thanks, everyone for the assistance.  My 2 above PRs resolve this issue for me.

[2019-12-31 03:16] satra commented on #1118
i'm using the latest helm chart (0.8.2), and this still required me to switch to `org_whitelist` for things to work.

[2019-12-31 12:49] alexkreidler commented on #1189
Any updates on this?

[2020-01-02 16:39] suryag10 opened #1536 "Need info on jupyterhub pod working with replicas set to 2"
hi,
we are using 0.8.2 version and trying to achieve scale in and scaleout for the hub/proxy pods by changing the replicas value to more than 1. When hub pod and proxy pod are deployed with replicas set to 2, we are observing the error

   File "/usr/local/lib64/python3.6/site-packages/tornado/web.py", line 1697, in _execute
        result = method(*self.path_args, **self.path_kwargs)
      File "

[2020-01-03 17:31] suryag10 commented on #1420
we had figured this and had implemented the same.

[2020-01-03 17:31] #1420 closed

[2020-01-03 20:22] consideRatio commented on #1536
It is currently not supported to use something else than 1 replica, we should provably not even allow it

[2020-01-04 09:37] suryag10 commented on #1536
thx erik.

[2020-01-04 12:02] #1536 closed

[2020-01-04 12:06] consideRatio opened #1537 "Document usage of multiple replicas of hub/proxy pod not yet supported"
In #1536 it became clear that we should make it more clear that it wont work reliably to use more than one hub or more than one proxy pod. Im not sure how, for starters the values.yaml should have some note about it i think. If the schema.yaml dont mention it and it is documented there, that should be fixed also.

[2020-01-06 05:16] moriwang opened #1538 "How to install/update package for the default environment?"
Hello, I'am a python TA and a former The littlest jupyerhub(TLJH) user. I used to install package in the default environment  using `sudo -E `, then students have the same environment. That's really convenient.

Recently, I install the Z2JH system in my k8s cluster to server more students. But I have no idea about how to install package in Z2JH's default environment.
* I have a admin user in Z2JH

[2020-01-06 06:22] moriwang commented on #1538
Oh, I see. I need to create a Dockerfile with my desired packages, and use helm command to update. Is that right?
But is that meaning I need to update the manually, or it can upgrade automatically when I update my Dockerfile?

[2020-01-06 06:48] consideRatio commented on #1538
You need to build and make a docker image available for kubernetes. You can do it by creating a new Dockerfile that you `build` and `push` and then update the config.yaml file under singleuser.image with the new image location, if it is a private image registry additional stuff needs doing as well.

You can manually automate that, but it isnt something in the scope of the z2jh-guide to help with o

[2020-01-06 10:44] moriwang commented on #1538
It works, thanks for your reply.

Kubernetes is really a new technology for me. I deployed z2jh on my own pc k8s cluster, not gcp or aws etc, things is much harder without mannual. I stuck on how to deploy a nfs storage as a storageclass for a long time, and finally I did it. I suggest that the z2jh document can be more helpful if it contains more detail on nfs storageclass even deploy on bare met

[2020-01-06 12:03] consideRatio commented on #1538
I agree, it is very hard to maintain it all though so it is up to date. Anything added ought to be maintained to some degree. I like the idea of having some pointers on bare metal clusters and storage option overview perhaps, without going into the details.

Personally i dont have experience up a bare metal cluster or my own NFS server yet.

[2020-01-06 17:59] sorin00 opened #1541 "timeout error of 5 minutes"
hello,
i got an timeout error of 5 minutes when when I started an server .
I added poststart hook. the code from config.yaml

    kubespawner_override:
        lifecycle_hooks:
          postStart:
            exec:
              command:
                - "conda"
                - "install"
                - "--yes"
                - "catboost"
                - "hyperopt"
..

how can I increase

[2020-01-06 20:29] RAbraham commented on #1491
@ltupin seconding @consideRatio 's request. Could you give us examples of your securityContext. Much appreciate it.

[2020-01-07 23:32] yuvipanda commented on #1448
I'm working on replacing the current kube-lego based autohttps with something much simpler based on upstream certbot that should help fix this without requiring the super heavy-weight cert-manager. https://gist.github.com/yuvipanda/64756b1bdc34faf1f20175ae5ea0e98e contains a minimal working example. I'm working on a PR to z2jh for this.

[2020-01-08 13:15] hnykda commented on #1313
Hey. https://github.com/jupyterhub/team-compass/issues/228 looks really promising, any updates?

[2020-01-08 14:02] consideRatio commented on #1313
0.9.0-beta.2 is out, 0.9.0 perhaps end of january? I aim to have jupyterhub 1.1.0 in the release of z2jh 0.9.0 which is also released as beta now

[2020-01-08 14:14] hnykda commented on #1313
:clap: That's awesome, thanks.

[2020-01-08 20:48] erinfry6 commented on #1538
I'm having the same problem. I understand how to create a new Docker image with the additional libraries, but I'll be deploying JupyterHub to a large group of people, at least some of which I would like to be able to install their own python packages and not have to go through me! Do we know the jovyan password? Is there a less maintenance-heavy solution?

Thanks!

[2020-01-08 21:56] consideRatio commented on #1538
Users will need to install it in their home directories for their dependencies to persist in a z2jh deployment.

The z2jh has some documentation about conda environments and nb_conda_kernels etc, try find it! I write from mobile so i have a hard time browsing it for you. Note that this has now stopped being a programmer language agnostic discussion, as conda environments wont solve everything etc!

[2020-01-08 21:57] consideRatio commented on #1538
If you want to have sudo to install packages with apt-get, they also wont persist unless they reside in the user home directory as i dont think they will. So, there is no easy fix in general here.

[2020-01-09 01:49] RAbraham commented on #1491
I see a `singleuser.serviceAccountName`. Previously, I have attached my PSPs to a service account and then provided that service account to a helm chart and  it worked. However, it did not work in this case.
I just wanted to confirm if that is the use of `singleuser.serviceAccountName`?

[2020-01-09 01:50] RAbraham commented on #1491
@ltupin sorry of the re-ping :(. I'm stuck and would appreciate any help you can give me.

[2020-01-09 10:36] #1526 closed

[2020-01-09 10:58] ltupin commented on #1491
@RAbraham and @consideRatio sorry for the delay. Here you have the code I used in the PR. Hope that helps, implementation is open to discuss and improve of course ;-)

[2020-01-09 11:49] minrk commented on #1541
Set `singleuser.startTimeout`:

[code]

[2020-01-09 14:38] RAbraham commented on #1491
@ltupin Thank you very much! Very grateful

[2020-01-09 15:00] sbrunk commented on #1189
Microk8s doesn't allow priviliged containers in its default config.

I could solve the spawning failure by setting `cloudMetadata` to true as described above in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1189#issuecomment-472601915 by @manics.

[2020-01-10 15:05] erinfry6 commented on #1021
To answer the question of what libraries would be installed - for us, it would be extremely useful to have a way to install python libraries without needing to ask the administrator to build a new single user docker image with the new package. If you're working on a project and need a package to continue coding, not being able to install packages becomes a roadblock.

[2020-01-10 15:17] metonymic-smokey commented on #1537
@consideRatio wanted to try and take a crack at this issue.
Some brief pointers on where in the docs to add the information would be helpful!

Thanks!

[2020-01-10 16:02] erinfry6 commented on #562
I also cannot get this approach to work. I'm not trying to default to JupyterLab, so I just inserted the singleuser code. Do I need to do something else? My config file is as follows:
[code]

[2020-01-10 18:05] pbadenski commented on #1028
Is there plans to get this out in stable release version?

[2020-01-10 18:56] consideRatio commented on #1028
I dont have a clear idea about when this issue occur or why yet :/

[2020-01-10 19:12] meeseeksmachine commented on #421
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/efs-multi-user-home-directories/3032/3

[2020-01-12 09:39] scivm commented on #990
Any reason why you are using rstudio-server-1.1.419?  I am using the latest rstudio-server-1.2.5033.

[2020-01-12 15:55] mathematicalmichael commented on #990
Just was the working version when I tried it.
I’ve since figured out that the pip install version works just fine, no need to install from source

[2020-01-13 06:07] scivm commented on #990
I noticed that after installing from the rstudio server binary and running in jupyterhub that when I try to run a 1 line python script it demands to download unrelated python binaries.  The R studio interface also has a pulldown where you it shows out of date r modules and lets the user update them into the docker image which would be lost after their server restarts.  Im hoping to have happy user

[2020-01-13 09:16] consideRatio commented on #990
@scivm How do you notice this? I want to make sure it doesnt happen me as well, so understanding if this was a background process or something obvious is relevant for me to know if i may be affected as well for example.

[2020-01-14 21:24] timothyjlaurent commented on #1468
We're having trouble with this as well -- We need to be able to specify toleration so that we can allow notebook pods to use a GPU while ensuring that we're not paying for GPU instances when we don't need them.

[2020-01-15 16:30] martindurant commented on #1251
For more information here: I believe the kube API is simply rejecting the request to create pods which do not have the resource profile attached to them.

[2020-01-16 00:51] jaskiratr commented on #1030
Hi, I'm able to launch Spark app in client-mode from within a jupyter notebook hosted on jhub kubernetes. However, I'm not able to apply pod template configuration : `spark.kubernetes.executor.podTemplateFile`. The need is to deploy the executors with [toleration](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/) so that executor pods are launched on specific nodes.
[code]

[2020-01-16 04:35] moorepants commented on #174
We have a kubernetes based JupyterHub deployment at UC Davis (on bare metal) and would like to get nbgrader running on the system for instructors to use. I have a team of four CS seniors that will spend about 40 collective hours a week for 5 months with the goal to develop a community usable solution for this issue. They need some help getting oriented to understand what the current state of affai

[2020-01-16 05:06] consideRatio commented on #174
I have not set it up myself successfully, but my understanding is that the most challanging part is connecting the relevant storage with relevant permissions, and the need for ability to read/write to this storage from multiple connected pods. All while also not granting permissions to users that shouldnt have them etc.

That i think only describe the key challange to prepare for i think.

[2020-01-16 05:50] scivm commented on #174
I have been using jupyterhub for about 3 weeks now to get a analytics workspace functionality to a client.  I had good kubernetes, helm and docker experience.  I was able to put up the basic system in a few days after reading docs and then started with storage, ssl, and oauth integrations which took another week.  The documentation is 90% which is understandable because users have on prem, azure,

[2020-01-16 12:32] consideRatio opened #1545 "TLS termination spread out making things too complicated"
We have both TLS termination (encrypt outbound/decrypt inbound traffic using certificates) in different places, depending on using automatic certificate acquisition from Let's encrypt or if they are manually provided.

When certificates are automatically acquired, they are currently acquired using kube-lego or traefik after #1539, and then they are currently used for TLS termination by an nginx pr

[2020-01-16 12:36] manics commented on #1545
Is it worth including the `internal_ssl` work in this too, since it's another set of certificates that needs to be maintained? https://github.com/jupyterhub/kubespawner/pull/386

[2020-01-16 12:40] consideRatio commented on #1545
It certainly relates, I figure we want to aim for all communication being encrypted.

Between user browsers and proxy, proxy and user pods, proxy and hub, for example. And currently we have two proxies, the initial autohttps TLS termination proxy, and the CHP proxy dynamically routing traffic etc.

We can have another issue tracking 100% encrypted traffic perhaps?

[2020-01-16 13:04] consideRatio opened #1546 "Readiness probe of autohttps new traefik proxy"
In short, #1539 introduce a new TLS termination proxy to replace kube-lego + nginx running in an autohttps pod. This doesn't have a readiness probe, but it is a deployment with rolling updates. That can lead to downtime of a length equal to the time it takes to make the traefik container start up and be able to respond to webrequests on a /ping endpoint, as compared to having no downtime at all.

[2020-01-16 14:50] betatim commented on #1545
I think a good action item for this issue would be to investigate what it would take to move the manually provided certs to traefik (assuming #1539 is merged). It might not even be possible or sensible to have an extra proxy "just to do" TLS termination in the manual certs case but it would allow us to have it all in one place.

[2020-01-16 16:41] consideRatio commented on #1545
@betatim I'd like to have TLS termination centralized, but also TLS acquisition, and jupyterhub's need for a configurable proxy - all in one place. That way, we will reduce the amount of different edges that could need encryption to accomplish 100% encrypted traffic.

Challenges:
1. To not always have automatic certificate acquisition but sometimes have it, without needing to adjust tech.
2. To no

[2020-01-17 07:30] leosunmo commented on #1118
Yeah this needs to be reopened, using `orgWhitelist` causes a 403 for me, using `org_whitelist` works as expected.

[2020-01-17 13:40] metonymic-smokey opened #1547 "Broken links in installation guides"
There are a few broken Edit this Page links, which on clicking lead to a 404 error.

The ones I've found till now are:
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/edit/master//index.rst
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/edit/master//google/step-zero-gcp.rst
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/edit/master//microsoft/step-zero-azure-autoscale.rst
https://

[2020-01-17 13:44] metonymic-smokey commented on #1547
@consideRatio @willingc is this a documentation issue that you would like fixed shortly?
If so, could I send in a PR for the same?

New to z2jh so would appreciate any pointers for the same!
Thanks!

[2020-01-17 14:02] satra commented on #1118
there were two issues that affected me:
- `whitelist` and `orgWhiteList` cannot be used simultaneously
- initially i used `org_whitelist` but that was not actually working. it was simply allowing `whitelist` to work. when i switched to `orgWhiteList` the org did work, but `whitelist` stopped working.

[2020-01-17 14:49] #1448 closed

[2020-01-17 15:12] consideRatio commented on #1547
@metonymic-smokey I like all issues to be fixed shortly haha, if you can help out with this that would be great :heart:

Hey I remember now reading your question on Gitter about contributing but I forgot to answer at that time! Looking back at my journey, I think I have got myself onboarded into various repositories in the JupyterHub realm by reviewing others code in PRs. Sometimes I review PRs ev

[2020-01-17 15:47] consideRatio commented on #1118
Opening this as I'm not sure what is described in the comment above this (https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1118#issuecomment-575637581) is resolved in 0.9.0-beta.2.

[2020-01-17 16:31] manics commented on #1118
@consideRatio it's a known issue, this isn't a regression https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/521

[2020-01-17 16:43] consideRatio commented on #1118
A, closing in favor of #521.

[2020-01-17 16:43] #1118 closed

[2020-01-17 19:08] yuvipanda commented on #1545
A while ago, I drew a diagram that might be useful: https://discourse.jupyter.org/t/jupyterhub-traffic-flows-how-they-are-secured/1246

[2020-01-18 17:33] willingc commented on #1547
Thanks for the report @metonymic-smokey and offer to work on a PR. Looking at the links you provided, I see a `//` in the URL after the `master` directory. This leads me to believe that it may be an issue with the URL parser in Sphinx or the theme. cc/ @choldgraf just in case you have seen this before.

[2020-01-18 18:26] choldgraf commented on #1547
Ah good question, let me look at the theme a bit and see if that could be the issue

[2020-01-19 11:42] metonymic-smokey commented on #1547
@consideRatio thanks a lot! Will keep your tips in mind in future!

[2020-01-19 16:34] choldgraf commented on #1547
Hey all - I think I figured out what was going wrong with this theme, and I've opened an issue about it here:

https://github.com/pandas-dev/pydata-bootstrap-sphinx-theme/issues/76

In the mean-time, we could fix the problem by adding the configuration for the 'edit this page' button, following the instructions here: https://pandas-sphinx-theme.readthedocs.io/en/latest/user_guide/configuring.html#

[2020-01-20 13:34] metonymic-smokey commented on #1547
@choldgraf thanks a lot for your inputs!

I've tinkered around a bit and fixed the broken links by :
* changing my conf.py according to the fix you have linked above.
* changing the `__init__.py` file in the pandas_sphinx_theme folder by removing the extra `/` and adding `source` after the documentation path.

This struck me as quick solution(if I may call it) when I compared the 2 URLs.
Wanted to

[2020-01-21 19:43] choldgraf commented on #1547
I believe that all we'd need to do is add the proper configuration values to the `conf.py` file (in this case, the `doc_path` keyword). Then the "edit this page" URLs would be properly created...

[2020-01-22 02:46] metonymic-smokey commented on #1547
@choldgraf agreed, what I'd tried was just a stop-gap for a short term fix(and admittedly a convoluted one).

Regarding changing `doc_path` in `conf.py`, changing it to `doc/source` in `html_ context` also fixes the links.

Thanks!

[2020-01-22 10:18] belfhi opened #1550 "Upgrade from Beta2 to Beta3 fails"
I get a TOO_MANY_REDIRECTS error when upgrading from Beta2 to Beta3 that
uses the traefik proxy, so I'm guessing that might be cuasing the problems for me.
We use Nginx Ingress controller into the k8s cluster, which worked fine. There is an alias set in out
DNS to resolve eosc-pan-jhub.desy.de to one of the Cluster nodes.
Cert-manager is installed and used instead of the provided kube-lego which i

[2020-01-22 13:23] minrk commented on #1550
Since you are using cert-manager, you definitely don't want to be using the autohttps that's built-in. I think that means you should omit the `proxy.https` configuration entirely, since https is handled at a different layer. The traefik pod in this chart shouldn't be running at all if you are using cert-manager, I think.

For instance, [here's my deployment](https://github.com/minrk/simula-summer-

[2020-01-22 13:33] belfhi commented on #1550
Okay thanks that worked, I set
[code]
and now it works. The certificate was already created so I don't really know if that part still works but the http redirects aren't an issue any more

[2020-01-22 13:33] #1550 closed

[2020-01-23 07:44] conet opened #1551 "GitLab OAuth require api scope in 0.9.0-beta.3, but didn't before"
I was running the version `0.9-484ce8e` for a while now without problems and I thought it's time for an update, when I ran `0.9.0-beta.3` everything works properly for logged in users even the login works if it's not oauh, I have one instance where I have gitlab ouath defined but that fails on `0.9.0-beta.3` even though it works without issues on `0.9-484ce8e`.
Here is the error log:

[code]

Seem

[2020-01-23 07:48] conet commented on #1551
It seems like this issue https://github.com/jupyterhub/oauthenticator/issues/322#issuecomment-567813243 let me try the proposed fix.

[2020-01-23 07:56] conet commented on #1551
I see that the problem appeared in this commit https://github.com/jupyterhub/oauthenticator/commit/712617b5c23b7cc5ae63adaaf851e0d9ff1466f3

[2020-01-23 07:59] consideRatio commented on #1551
@vindvaki, I think this relates to the PR we spent time on here: https://github.com/jupyterhub/oauthenticator/pull/283

Is it perhaps so that this issue relates to permission to check gitlabs API on the version endpoint?

[2020-01-23 08:02] ankitladhania opened #1552 "Not able to spawn specific notebooks using API"
Hi Guys,
We are using Jupyterhub API to spawn notebooks, the request goes through but it is spawning the default image everytime. We have deployed the infra using Zero to JupyterHub.

PFB the config file and API that we are using:
[code]

API:
[code]
Also tried (without success):
[code]

**Jhub version: 0.8.2**

The Api is spawning the default image everytime, irrespective of the profile.

[2020-01-23 08:03] conet commented on #1551
Sounds like the `read_user` scope is not enough to do the version check, looking at gitlab scopes I don't know which extra scope to enable to allow the call to the version api, `api` would probably work but I'm reluctant to do that because:

I don't see why auth would require such extended permissions.

[2020-01-23 08:29] consideRatio commented on #1551
Yes it seems like the access_token received cause the request to /api/v4/version respond with `HTTP 403: Forbidden`. Another response could have been `401 Unauthorized` if the identity of the person trying to access this was unknown, but now it is simply forbidden.

@conet, could you try visiting your gitlab instance /api/v4 after signing in as a non-admin user on gitlab to see if you get a proper

[2020-01-23 08:35] conet commented on #1551
The `/api/v4/version` properly returns the version when accessed by a regular (non-admin) user.

[2020-01-23 08:46] consideRatio commented on #1551
@vindvaki it seems that https://github.com/jupyterhub/oauthenticator/pull/283 escalated the required scope for the requested access_token in order to function properly. Now I wonder, what is the minimal scope needed currently.

I would like to have this documented, and consider the security implications, and potentially changing something.

[2020-01-23 09:55] manics commented on #1551
@consideRatio Do you know if there's a list of all available GitLab OAuth scopes? I can't find anything in the GitLab docs.

[2020-01-23 09:57] conet commented on #1551
I got this from gitlab's UI:
Scopes:
**api**
Grants complete read/write access to the API, including all groups and projects, the container registry, and the package registry.
**read_user**
Grants read-only access to the authenticated user's profile through the /user API endpoint, which includes username, public email, and full name. Also grants access to read-only API endpoints under /users.
**re

[2020-01-23 10:08] manics commented on #1551
https://docs.gitlab.com/ee/api/v3_to_v4.html

Do you know when v4 was first supported? If it's old enough we could always assume v4 and avoid the version check?

[2020-01-23 10:11] conet commented on #1551
@manics isn't that something else handled by this? https://github.com/jupyterhub/oauthenticator/blob/master/oauthenticator/gitlab.py#L51
The new check looks for >=`12.4` which is something else.

[2020-01-23 10:13] manics commented on #1551
@conet Sorry, you're right!

[2020-01-23 10:42] consideRatio commented on #1551
The check for >=12.4 was added as a the logic depends on the GitLab version currently.

@conet, if you can manipulate the scopes easily, can you verify that adding `read_user,openid,profile,email` isn't enough either?

I typically ended up requesting these scopes as part of authenticating with services, even though it isn't well documented.

Further, I know that if the /versions endpoint is OK, it

[2020-01-23 10:51] conet commented on #1551
`read_user,openid,profile,email` is not enough only `api,read_user,openid,profile,email` works.

[2020-01-23 11:19] consideRatio commented on #1551
I would very much like to know if we are able to access the /groups endpoint using an access token as received by requesting `read_user,openid,profile,email`. I hoped to get myself one using the GitLab UI under my user settings -> access tokens, but i cannot select `openid,profile,email` from there.

[2020-01-23 11:30] #1455 closed

[2020-01-23 12:59] conet commented on #1551
`openid,profile,email` only appear in OAuth context because those are standard OAuth scopes and do not refer to accessing gitlab API. I have no way of checking the call to groups using the OAuth token since I don't have access to the token. But if were to guess if `/version` is not accessible then neither will `/groups` be. I'm not exactly sure what the fix was for but could it be written like thi

[2020-01-23 13:14] consideRatio commented on #1551
@conet excellent summary. Yes I agree, we should support authentication without forcing need for `api` scope.

[2020-01-23 15:03] minrk commented on #1552
Discussed on gitter, but the issues here:

1. in KubeSpawner 0.11 and above, a "profile" field is supported (the profile display_name). This is the only supported key and should be documented with an example API call in docs.
2. the user_options dict is the top-level body of the request, not under an 'options' field, so the body should be `{"profile": "my profile name"}`.
3. z2jh 0.8.2 deploys kub

[2020-01-23 21:25] salvis2 commented on #1477
In case others have some problems similar to this, I've found 2 potential causes.

1. You accidentally put the Kubernetes cluster and control plane in private subnets only (no public subnets). This prevents the ELB from getting an external IP. Learned that [here].(https://stackoverflow.com/a/59059504/12771569)

2. Your config.yml file that you deploy the JupyterHub with contains a block like

[cod

[2020-01-24 05:38] #1552 closed

[2020-01-25 11:06] willingc opened #1556 "Offer of UC Davis student help for JupyterHub/nbgrader"
Surfacing the following as a new issue.

We have a kubernetes based JupyterHub deployment at UC Davis (on bare metal) and would like to get nbgrader running on the system for instructors to use. I have a team of four CS seniors that will spend about 40 collective hours a week for 5 months with the goal to develop a community usable solution for this issue. They need some help getting oriented to u

[2020-01-25 11:09] willingc commented on #1556
@minrk @GeorgianaElena @betatim This generous offer from @moorepants would be great to take Jason up on. Do you think that this is something that you could help get them started on? It would be great for those that use nbgrader. cc/ @jhamrick

[2020-01-25 17:04] BertR commented on #1556
Hi @willingc , we (@perllaghu, @lzach and myself) are running a similar setup with nbgrader at The University of Edinburgh.
Most of our work has been on making the "Exchange" functionality of nbgrader pluggable,
so that assignment can be send of the network instead of a local filesystem.
Happy to talk about our approach and ideas on how we could take this forward.

[2020-01-25 18:57] consideRatio commented on #1556
I'd be happy to review ideas on implementation strategies in conjunction with a cloud based setup!

Thinking about it now, an idea pops up inspired by seeing nice results of @GeorgianaElena and others work on [jupyterhub/traefik-proxy](https://github.com/jupyterhub/traefik-proxy) in conjunction with JupyterHubs nice pluggable architecture. JupyterHub works with different authenticators, spawners,

[2020-01-25 19:33] perllaghu commented on #1556
@consideRatio
There's the API we had back in the summer... before nbgrader added ` feedback`  into the loop: https://github.com/jupyter/nbgrader/issues/1130#issuecomment-498600471

There's an MR awaiting approval for the pluggable exchange : https://github.com/jupyter/nbgrader/pull/1238 (its reporting it needs a couple of tweeks)

There's an action with us to move our private code into a public sp

[2020-01-26 08:23] metonymic-smokey commented on #698
@cam72cam are you working on this issue?
@yuvipanda could I pick this issue, if no one else is working on it?

Thanks!

[2020-01-26 08:26] moorepants commented on #1556
Thanks @willingc for making this issue. The students will jump in on the conversation soon. I was traveling this week and will get them looped in now that I'm back.

[2020-01-26 09:01] rkevin-arch commented on #1556
Hi everyone, sorry for the late response! I'm part of the team of 4 (
@rkevin-arch, @lxylxy123456, @aalmanza1998, @Lawrence37) working on integrating nbgrader into JupyterHub for our senior design project. We're still playing around with the code, getting a JupyterHub+k8s setup in a Vagrant environment, installing nbgrader, etc. Just from what we understand, we have two possible solutions:

1. Wri

[2020-01-26 09:11] betatim commented on #1556
It would be great for people to pull together the scattered knowledge/expertise/snippets around this and contribute to the documentation of Z2JH as well as code to nbgrader. I don't know if there is someone who has an overview of how it could all fit together, what the issues are, who is working on what.

I don't know much about nbgrader deployments (on a kubernetes based hub). The point about the

[2020-01-26 09:54] consideRatio commented on #1556
### Setting up Z2JH for nbgrader trials
I recommend `minikube` for you to work on a z2jh setup. `kind` has not been so easy to work with as I hoped. The documentation is focused on `kind` still though.

### Kubernetes storage challenges
#### Kubernetes storage access modes
@rkevin-arch you wrote in point 2 about requesting storage from k8s etc. Various storage can be mounted for any pod, and on an

[2020-01-26 10:06] consideRatio commented on #1556
### Action point idea - nbgrader interaction mapping
Map out how nbgrader's users interacts with a filesystem.

What permissions should various users have to various storage areas? If you overview all interactions and permissions, you can overview what needs to be made available to each user better, and then you can realize the structure of content and permissions within this structure. This is re

[2020-01-26 10:11] consideRatio commented on #698
@metonymic-smokey as it has passed long time, you can certainly work on this! :heart:!

Note that I think this is a Kubernetes issue in general, at least on GKE as well. I don't understand all this so well either other than we block network access from our user pods to avoid an issue.

[2020-01-26 19:14] betatim opened #1557 "Setting resource requests only for some profiles"
A configuration like shown below with two profiles where one profile has a guarantee bigger than the default limit doesn't work right now. When you try to launch your user's pod for the second profile the Pod spec that gets sent to kubernetes has the defaut mem limit in it, instead of the mem limit set in the second profile. [Full log](https://gist.github.com/betatim/79e3b26d61415813f364350f0ee84e

[2020-01-26 19:40] consideRatio commented on #1557
Sounds like the helm chart values are applied last, after the kubespawner overrides, an issue of z2jh!

[2020-01-26 19:46] consideRatio commented on #1557
Ping @metonymic-smokey, i think this is a very suitable issue to tackle to get to understand what goes on in the project!

The provided values to render the helm chart templates will update a configmap, the configmap is mounted as many files on the hub pod, these files are read by the jupyterhub_config.py file. This configuration of kubespawner probably ends up making the kubespawner overrides get

[2020-01-27 14:27] jgwerner commented on #1556
@consideRatio @betatim @willingc we got this to work at IllumiDesk albeit it doesn't use the default exchange mechanism to interchange ipynb's. We would love to share our code to demonstrate how we got this to work with JupyterHub (we are hosted on AWS so it's somewhat opinionated).

Before we share anything we would just like to confirm how we did this to avoid unnecessary chatter.

We are defini

[2020-01-28 05:15] dirkcgrunwald commented on #1556
I would be happy to document what we did for an NFS setup on GKE. There were some non-obvious design choices I wish I had known about.

We are using NFS to share collected nbgrader files but not to collect the students work. We don't have a coherent way of doing that other than our LMS or Github Classroom.

We use another tool for grading non-notebook assignments ( https://inginious.readthedocs.io

[2020-01-28 21:19] betatim commented on #1556
I think a good place to share is [the forum](discourse.jupyter.org/) as a dedicated post. It provides pretty good editing (links, images, tables, bold/italic, sections, etc), receives a fair bit of traffic and doesn't require review before it is public. Then I'd link to those posts from https://zero-to-jupyterhub.readthedocs.io/en/latest/community/index.html to make them easy to discover from the

[2020-01-30 12:35] consideRatio opened #1561 "Get ldapauthenticator released and bumped here"
https://github.com/jupyterhub/ldapauthenticator latest release is very outdated and I hoped to get it bumped for 0.9.0 as it apparently contains quite a bit of fixes. It requires additional work from maintainers though, and we are very low on maintainers on that repo.

[2020-01-30 13:46] manics commented on #1561
What stopping us from releasing the current master now?

[2020-01-30 14:04] conet commented on #1551
I just noticed this PR https://github.com/pusher/oauth2_proxy/pull/231 of a similar project, the part that got my attention was:

isn't group membership what you were trying to obtain with the new calls?

[2020-01-30 14:10] manics commented on #1551
@conet Good find! It looks like oauth2_proxy uses the `/oauth/userinfo` endpoint which includes the lists of groups the user belongs to https://docs.gitlab.com/ee/integration/openid_connect_provider.html

[2020-01-30 14:28] consideRatio commented on #1561
I don't know fully, i lack understanding about ldap in general, so I cannot even answer that ;)

[2020-01-30 14:38] consideRatio commented on #1551
Will you receive group membership information by requesting the `groups` scope in the OAuth2 request to GitLab as an OAuth2 provider, and can this be used instead of manually interacting with the gitlab REST API?

I think the answer is "no/maybe" for two reasons:
1. I'm not sure, but I don't think a registered GitLab OAuth2 application will respond with information about group membership when pass

[2020-01-30 14:59] manics commented on #1561
There are several open issues and PRs, but I'm not aware of any regressions in `master` that prevent a release.

How about we release the current master? Now that the automated deployment work is in place it should be easy to push out smaller releases after.

@yuvipanda @dhirschfeld

[2020-01-31 16:43] metonymic-smokey commented on #698
@consideRatio [this page](https://zero-to-jupyterhub.readthedocs.io/en/v0.5-doc/security.html) in the Security docs touches upon something similar in the Cloud Metadata server security section. It has a brief on how to run `iptables` in an init container, which could potentially set specific firewall rules for the user pod.

For a start, I've added a brief note about init containers overriding `ip

[2020-01-31 22:27] consideRatio opened #1565 "Use an Let's Encrypt server for CI testing"
I'd like to CI test our automatic acquisition of certificates using Let's encrypt, but it isn't trivial because it involves accepting incoming network traffic from the public internet, if we use the Let's encrypt staging servers.

It is possible to start our own ACME server for testing purposes though, this is what the [letsencrypt/pebble](https://github.com/letsencrypt/pebble) project is all abou

[2020-01-31 23:07] kyleatmousera commented on #1028
I had this same error "400: Bad Request - OAuth state missing from cookies" when using (Google auth)
I found that remove "hostedDomain" setting for Google auth in the config.yaml worked for helm chart version 0.8.2.

[2020-02-01 01:15] consideRatio commented on #1561
I spent some time to do what I could:
1. Reviewed / Merged some PRs
2. Fixed merge conflicts etc and prepared https://github.com/jupyterhub/ldapauthenticator/pull/106 to be merged - review help wanted!
3. Wrote a changelog - review help wanted for https://github.com/jupyterhub/ldapauthenticator/pull/158!

@manics has already done work to update our CD to PyPI when pushing tags and made a RELEASE.m

[2020-02-01 07:32] ablekh commented on #803
Hey @consideRatio, Happy New Year! :-) Just wanted to let you know that Azure AKS now supports (GA) multiple node pools (AKS ticket 287 is Resolved and relevant documentation is here: https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools). As for the second item, it is not clear to me whether this feature is GA in AKS or not: on one hand, see https://docs.microsoft.com/en-us/azure/aks

[2020-02-01 08:08] sgibson91 commented on #803
I have some notes on setting up AKS for multiple node pools here: https://alan-turing-institute.github.io/hub23-deploy/deploy-k8s-cluster-multiple-nodepools/
I'll put it on my todo list to add to the repo

[2020-02-01 08:40] ablekh commented on #803
@sgibson91 Thank you for the link to your notes - I took a quick preliminary look. I was a bit surprised to see the VNET portion (and I know that official Z2JH documentation contains the same instructions - was surprised as well) - when I was deploying our cluster(s) last year, if I remember correctly I was not performing manually any VNET steps and the Z2JH docs did not contain relevant section (

[2020-02-01 09:12] sgibson91 commented on #803
So I deploy BinderHub (which has a JupyterHub under the hood and uses this chart) and we discovered recently that if you don't do the VNET steps, then the network policies provided by BinderHub to restrict traffic into the pods aren't obeyed (people could ssh into the JupyterHub when they shouldn't be able to). This is because AKS does not provide a kubernetes controller by default, more details h

[2020-02-01 09:59] ablekh commented on #803
@sgibson91 I very much appreciate your clarifications and links. Will review your excellent content at my earliest convenience. Should you learn of any projects or efforts focused on JupyterHub usage metrics collection for billing / accounting purposes, please let me know (hopefully, @consideRatio will chime in on the subject as well).

[2020-02-01 10:18] consideRatio commented on #803
Happy new year @ablekh! :D

Thanks for chiming in @sgibson91!

I have only worked on the public CI testing of z2jh. I have not automated the company pricate deployment i manage yet to be managed fully by gitops. Adding that complexity is a tradeoff, and would also cost development time that i have not yet opted to invest in.

Regarding metrics, im working on that now for the first time. I'm learni

[2020-02-01 10:28] ablekh commented on #803
@consideRatio Thank you! :-)

I appreciate your clarifications. Should you have anything public on the CI/CD aspect (content kindly shared by @sgibson91 is unquestionably very helpful -- again, many thanks to her! - but, in this case, the more, the merrier ...) as well as on the metrics / billing / accounting aspect, please let me know.

[2020-02-01 14:34] manics commented on #1561
Since there several changes and limited knowledge I think this should be tested as part of `beta4` alongside https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/1563#issuecomment-581012274

[2020-02-02 19:18] vindvaki commented on #1551
`/oauth/userinfo` is a great find, but unfortunately it only includes group names (as opposed to the different access levels), and does not cover project membership at all

[2020-02-02 22:02] rkevin-arch commented on #1556
Hi all,

tl;dr: We've just been busy trying to learn k8s. In terms of solutions, we're probably going to go with the first option (hubshare-like API for notebook distribution/collection). We have a working testing setup where we have a private fork of nbgrader and we can test it in z2jh, but it's kind of glitchy.

**Reply to betatim**: I agree that the notebook distribution / collection is the mai

[2020-02-02 22:09] consideRatio commented on #1556
@rkevin-arch I suggest that you build on 0.9.0-beta.3 instead of 0.8.2, it is a lot more mature and reliable to use with the latest JupyterHub 1.1.0 etc. I don't think 0.8.2 is fully ready for helm 3, but I'm quite confident 0.9.0-beta.3 should be fine with it. Also, 0.9.0-beta.3 is tested on newer k8s versions that you may be using, while 0.8.2 isnt.

Regarding the issue you have printed, I can c

[2020-02-02 22:15] consideRatio commented on #1556
Regarding learning k8s etc, I've spent a lot of time learning myself. These are videos I recommend my colleagues to watch:

About K8s (increasing complexity):
1. https://www.youtube.com/watch?v=4ht22ReBjno
2. https://www.youtube.com/watch?v=QJ4fODH6DXI
3. https://www.youtube.com/watch?v=90kZRyPcRZw

About helm:
1. https://www.youtube.com/watch?v=9cwjtN3gkD4

I also suggest the use of the official

[2020-02-02 22:20] rkevin-arch commented on #1556
Awesome, thanks! We'll use 0.9.0-beta.3 instead.

For the transport is closing issue, I believe helm is just timing out because the pod that should pull down the docker image is hanging forever because of a weird download issue. I tried pulling that image (`jupyterhub/k8s-singleuser-sample:0.8.2`) on my host system and it hanged weirdly as well, with the `484c6d5fc38a1` layer downloading forever (

[2020-02-04 07:29] consideRatio opened #1566 "Develop a Z2JH Grafana dashboard for use with prometheus"
## A primer of the situation

Grafana is a tool to visualize data in graphs and organize them into dashboards.

![image](https://user-images.githubusercontent.com/3837114/73722830-b5589700-4727-11ea-862f-07eab1a54a54.png)

Grafana reads from various types of data sources, and among them is a Prometheus data source.

Prometheus has the job to repeatedly ask the question "hello, you indicated you ha

[2020-02-04 14:14] metonymic-smokey commented on #431
@yuvipanda @consideRatio is this issue still open? Looking for an easy coding PR to start with in Z2JH.

Thanks!

[2020-02-05 08:44] jtlz2 commented on #1021
Any progress on this whatsoever?

I need to install dependent libraries for e.g. opencv, but (sudo) apt-get gives me permission errors.

Impasse? :\

[2020-02-05 08:58] jtlz2 commented on #1538
@consideRatio I am trying to install dependent packages in a singleuser instance but in order to run `sudo apt-get` (there does not seem an easy way without sudo) I need a root password (there does not seem an easy way with sudo). Is there a way to do this post-hoc? Or must everything be baked in to the image/helm chart, and if so how? Thanks!

[2020-02-05 08:58] jtlz2 commented on #1021
I am trying to install dependent packages in a singleuser instance but in order to run `sudo apt-get` (there does not seem an easy way without sudo) I need a root password (there does not seem an easy way with sudo). Is there a way to do this post-hoc? Or must everything be baked in to the image/helm chart, and if so how? Thanks!

[2020-02-05 09:00] consideRatio commented on #1021
Quick summary on relevant understanding for a zero-to-jupyterhub-k8s deployment:

1. JupyterHub runs in its own container, and the users get their own container.
2. If you install anything within any container, and that isn't persisted by being installed in attached storage that remains between restarts of the container, whatever was installed will be gone on container restarts.
3. To ensure somet

[2020-02-05 09:35] jtlz2 commented on #562
@manics Extremely belatedly - just tested - your scheme works! Thank you so so much :)

[2020-02-05 20:42] TheJaySmith commented on #1030
@h4gen have you updated this at all using updates over the past year or so?

[2020-02-06 08:47] consideRatio commented on #562
Note, starting `jupyter-labhub` was meant to add a menu item about JupyterHub to JupyterLab. This is now done automatically with JupyterLab itself, and `jupyter-labhub` isn't needed any more and has been deprecated (see: https://github.com/jupyterhub/jupyterlab-hub).

[2020-02-06 13:57] h4gen commented on #1030
Hi, @TheJaySmith . Sorry no updates from my side. We switched to kubeflow.

[2020-02-08 06:11] chrisroat commented on #326
I've successfully setup and am using a cluster w/ jupyterlab via the [Kubernetes+Helm](https://docs.dask.org/en/latest/setup/kubernetes-helm.html) method.  To use jupyterhub, is it recommend to use the same Helm approach (without jupyter server), and use an independent jupyterhub setup?  Is it tricky to setup communication between them?

I looked briefly at the native Kubernetes work, but it's not

[2020-02-08 07:47] gsemet commented on #326
Look at the kubespawner, it has a feature to define several profile where you can add different requests :)

[2020-02-08 17:35] chrisroat commented on #326
Thanks for the point @gsemet.  The [kubespawner homepage](https://jupyterhub-kubespawner.readthedocs.io/en/latest/spawner.html) indicates this is for launching different notebooks.  My use case, related to this issue, is to launch a single dask cluster with different types of workers (pods), each with a different set of dask resources.

I do this currently using a modification of the [dask helm] r

[2020-02-10 10:21] saurav-bhagat opened #1568 "Can we deploy jupyterhub in k8s without using helm chart?"
Inside my premise, I can't access the helm chart mentioned in the tutorial. Also, I can't download its zip. Is there any other way I can deploy jupyterhub to k8s?

[2020-02-10 10:21] fbalicchia commented on #1220
Hi, if this we can be useful to someone thanks to point suggest from  @consideRatio and @abinet in [link](https://github.com/jupyterhub/kubespawner/issues/306#issuecomment-474934945) in extraConfig: in hub definition and
adding echo ``"spark.driver.host $MY_POD_IP" >> "/usr/local/spark/conf/spark-defaults.conf";`` in lifecycleHooks in singleuser definition the problem is solve. Can seen as ugly ap

[2020-02-10 11:17] jacobtomlinson commented on #326
Not sure if anyone has mentioned it here yet but you may want to check out [Dask Gateway](https://gateway.dask.org/install-kube.html).

[2020-02-10 13:30] hnykda commented on #1313
![image](https://user-images.githubusercontent.com/2741256/74153857-c286f180-4c11-11ea-866d-c890c5a6a503.png)
Hey :wave: . Trying to orient in what's left. If this the only thing ^ or do you want to have something else in 0.9 as well?

[2020-02-10 15:20] consideRatio commented on #1313
There comes 0.9.0-beta.4 soon, including a bump of ldapauthenticator and oauthenticator. I figure leaving smarter environment variables out is reasonable because I fail to push towards fixing/reviewing such solution myself at the moment.

[2020-02-10 15:31] consideRatio commented on #1568
Are you not able to access this file for example? https://jupyterhub.github.io/helm-chart/jupyterhub-0.9.0-beta.3.n023.h6a2b994.tgz

That the latest helm chart from https://jupyterhub.github.io/helm-chart/, which represents what you can get from following the tutorial on z2jh.jupyter.org. With Helm 3, you don't need `tiller` on the k8s cluster, and it can be as if you were only using `kubectl`. It

[2020-02-11 05:30] saurav-bhagat commented on #1568
I went through the helm chart and internally it's using some docker images which are also not accessible, I can only use internal repository. Is there any reference on how can I make this from scratch?  Using very basic jupyterhub image, nginx, kube spawnner and other tools?

[2020-02-11 16:07] rprimet opened #1569 "Add gitlab_url trait to the chart"
Looking at the gitlab-specific configuration section in the chart ( https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/f14134c7ccfbb369333c2f44532d5af94c4423c6/jupyterhub/files/hub/jupyterhub_config.py#L287-L295 ), it seems that the `gitlab_url` trait is missing from the list of configurable gitlab-specific traits.

Adding it would allow configuring a custom gitlab instance without resortin

[2020-02-11 16:32] consideRatio commented on #1568
You could build them yourself and then upload them, but that requires internet, or you can download and transfer them.

[2020-02-11 17:24] Lawrence37 commented on #1556
We have decided to go down the hubshare route. We're looking through the nbgrader source code to locate filesystem interactions. The plan is to abstract them and implement classes for the existing exchange mechanism and for a hubshare (or similar) service.

I see part of this task has been worked on in jupyter/nbgrader#1238. Thanks @perllaghu for the link! I would very much like to build on the pl

[2020-02-11 17:31] moorepants commented on #1556
One tip: open pull requests for atomic changes (small, self contained). Open these often and early (even in the "work in progress" stage), so that you can get feedback and the CI tests will run.

[2020-02-12 07:24] saurav-bhagat commented on #1568
Thanks you and Yes, I can upload it in my internal repository. But the thing is there is no dockerfile present in hub for images like jupyterhub/k8s and some other to take reference from. There should be some other way? No?

[2020-02-12 10:34] consideRatio commented on #1568
To build your own images for everything, you can use `chartpress` the CLI from within this repository, and that way you will also have updated some configuration of relevance of the chart automatically.

I don't have time to help you much further than this at the moment, but, I recommend the following:

1. Download this z2jh repository, and use `chartpress` within it to build the needed docker ima

[2020-02-12 10:36] perllaghu commented on #1556
@Lawrence37 - here's some documentation I put together to show how the `assignment_list` and `formgrader` components call the exchange (the formatting is shonky, sorry) :

# Exchange API

## A simplistic overview

``Assignments`` are ``created``, ``generated``, ``released``, ``fetched``, ``submitted``, ``collected``, ``graded``. Then ``feedback`` can be ``generated``, ``released``, and ``fetched``

[2020-02-12 12:45] saurav-bhagat commented on #1568
Okay. I'll try this. Thanks

[2020-02-12 12:45] #1568 closed

[2020-02-13 10:04] consideRatio opened #1572 "Remove all hardcoding of documentation internal links in docs"
We should avoid hardcoding documentation internal links in our documentation. See @betatim and @clkao's discussion here: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/1570#pullrequestreview-357994286

For example, instead of in the documentation referencing `https://zero-to-jupyterhub.readthedocs.io/en/latest/create-k8s-cluster.html` we would reference `create-k8s-cluster`, `/create-k8

[2020-02-13 11:32] naveenkatlle opened #1573 "Not able to downgrade helm chart version"
Hi Team,

We have done JupyterHub setup by following Zero-to-JupyterHub steps (https://zero-to-jupyterhub.readthedocs.io/en/latest/setup-jupyterhub/index.html)

Now, we want to downgrade JupyterHub version to 0.8.2. For that, we executed Helm Upgrade command, with chart version v0.6.0. But we are getting below issue.

**CMD:**  helm upgrade jhub jupyterhub/jupyterhub  --namespace jhub   --version=

[2020-02-13 14:23] metonymic-smokey commented on #1569
@rprimet I'll make an attempt to figure this out.
From what I understood, you want the `gitlab_url` trait to be added to the existing traits like `gitlab_group_whitelist` and `gitlab_project_id_whitelist` right?
Is there anything I've missed?

[2020-02-13 14:31] rprimet commented on #1569
@metonymic-smokey Yes that's it!

[2020-02-13 18:21] kmhughes opened #1575 "Doing a Kubernetes upgrade if JupyterHub is running will stall the Kubernetes upgrade"
I have installed the JupyterHub chart 0.8.2.

I was doing an automatic upgrade of my Kubernetes cluster on GKE. Eventually the update stalled out. After some research I found that the node running the Jupyter Hub Hub pod was not updating. The Pod Disruption Budget for the Hub pod requires a minimum of 1 instance of the pod. This meant the single instance of the Hub could not be shut down because t

[2020-02-14 12:21] manics commented on #1575
This sounds like a valid use case. I've transferred this issue to the zero-to-jupyterhub repo which is where development happens. https://github.com/jupyterhub/helm-chart is for storing and publishing the charts.

[2020-02-14 12:34] manics commented on #1573
Hi @naveenkatlle
What version of K8s are you using? The kubernetes API can change between versions, so the 0.6.0 chart would've been developed against an older K8s version.
`DaemonSet` was dropped from `extensions/v1beta1` in 1.16: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2020-02-14 12:52] #1561 closed

[2020-02-14 15:06] kmhughes commented on #1575
Thank you!

[2020-02-14 15:11] kmhughes commented on #1575
If you like, I could create a pull request with the change.

[2020-02-14 16:01] betatim commented on #1575
Right now you can not run more than one JupyterHub pod at a time because of shared state. There are several people who are interested in changing this but this is a significant project so this will take some time.

In the mean time I think the thing to do is to document that automatic upgrades or other operations that require automatic pod relocation won't work and what to do in this situation. I

[2020-02-14 17:03] kmhughes commented on #1575
OK, good to know. I may disable the pod disruption budget for now.

Definitely an important thing to document, I waited for over an hour for that node to drain before I figured out something was wrong. I have't upgraded the cluster that often, so didn't fully understand if there would be a lot of variability in draining or not. Once JupyterHub was down, the nodes were pretty much clockwork.

[2020-02-16 13:59] rkevin-arch commented on #1556
Hey everyone, a quick update: Our team has pretty much split into two parts. Some of our team members is working on an exchange based on https://github.com/jupyter/nbgrader/pull/1238 to talk to a JupyterHub service, and others (like me) are working on writing a JupyterHub service that implements the API described in https://github.com/jupyter/nbgrader/issues/659. We're using Tornado and SQLAlchemy

[2020-02-16 16:04] metonymic-smokey commented on #1569
@rprimet I have a query about this issue.
In this WIP PR, I have used `None` as the `cfg_key` for the `gitlab_url` trait. I am not exactly sure if that's right/what value I should be using there.
Would love your inputs on the same!

Thanks!

[2020-02-16 16:09] #1532 closed

[2020-02-17 07:07] consideRatio commented on #1569
Thanks @rprimet and @metonymic-smokey for reporting and fixing this!

[2020-02-17 07:07] #1569 closed

[2020-02-17 14:21] betatim commented on #1575
Agreed on the documentation as it is a pitfall/source of frustration/confusion. Do you want to open a PR to add this?

[2020-02-17 15:16] lzach commented on #1556
Hi Kevin, I'm the one who wrote jupyter/nbgrader#1238.  We're still testing the new interface and I might push some minor changes as we find issues on our side, so you might want to check the pull request for changes every now and then. If you run into any problems, feel free to send me a message.

[2020-02-17 15:54] kmhughes commented on #1575
Let me go through the documentation generator and get an initial stab at
it. I have not done ReadTheDocs before, but it will probably be good to
learn.

On Mon, Feb 17, 2020 at 7:21 AM Tim Head <notifications@github.com> wrote:

[2020-02-17 16:41] manics commented on #1556
@rkevin-arch Sorry if I've missed it in this thread. Do you have your z2jh config and custom images (is it a Z2JH fork?) in a public repo that we can look at? We can probably make some general suggestions, but if we can see it we can hopefully give you more targetted advice.

[2020-02-17 16:57] rkevin-arch commented on #1556
Sorry, it's not in a public repo yet since we don't have the main functionality finished yet. For the Z2JH service setup, I can't even get the simple whoami service (https://github.com/jupyterhub/jupyterhub/tree/master/examples/service-whoami, which is tested to work on regular jupyterhub) to work on Z2JH. Here's my config:
[code]
Here's a Dockerfile that will get built into `k8s-hub-testing:0.0.1

[2020-02-17 17:45] moorepants commented on #1556
@rkevin-arch I just wanted to comment on your statement "Sorry, it's not in a public repo yet since we don't have the main functionality finished yet." I would like you all to work in public repos starting now, so that you can effectively get help. It's best to get into the same practices and workflows as ngbrader,  jupyterhub, etc.

[2020-02-17 18:27] consideRatio commented on #1556
To iterate faster, you can actually do this without building your docker image again after changing the whoami.py file, by mounting it in k8s.

Im one mobile, aim to give an example later on this.

[2020-02-17 21:05] rkevin-arch commented on #1556
Re: consideRatio, is there a way to restart the service managed by the hub without doing a helm upgrade or helm uninstall / install? If not, mounting the file inside k8s won't save much time, since the `docker build` finishes within a second (it's just copying one directory). If so, how can we do that?

Re: moorepants, our repo is a big mess, with lots of testing setups and throwaway scripts litte

[2020-02-17 21:57] moorepants commented on #1556
It is ok if it is a mess. The only thing you don't want public in this case are any private credentials. I recommend committing what you have (sans credentials) and working openly and collaboratively on github.

[2020-02-17 22:19] consideRatio commented on #1556
@rkevin-arch ah, i understand, then let's have it remain in this way - the option is more complicated!

I understand, once you update the docker image, you may want to update jupyterhub! You could do this:

1. Values to be passed to `helm` when running `helm upgrade`, for example from a file that we often refer to as `config.yaml`.
[code]

2. A terminal command to delete the jupyterhub pod running

[2020-02-19 11:34] marcreyesph opened #1578 "TypeError: expected string or bytes-like object"
I've used LDAP authenticator with the following configuration:
[code]

Upon logging in got the following in log:
[code]

I tried logging in with the config above using [ldap3](https://ldap3.readthedocs.io/) and was able to successfully login. Would like to know what could possibly I have done incorrectly. Thanks!

[2020-02-19 13:55] consideRatio commented on #1578
What version of the z2jh helm chart did you install? It ships with different versions of the ldapauthenticator.

Could you install and try the helm chart version: `0.9.0-beta.3.n030.h796379e` ? It is the latest version with the latest LDAP authenticator that was recently bumped, and it is a lot more useful to debug the latest version.

[2020-02-19 14:47] metonymic-smokey commented on #431
@yuvipanda could I work on this issue if it's still up for grabs? Looking for easy coding PRs in Z2JH.

Thanks!

[2020-02-20 05:36] marcreyesph commented on #1578
Thanks @consideRatio. Used the helm chart `0.9.0-beta.3.n030.h796379e` and got the following from the log:
[code]

I'm pretty sure that my password is correct. What could possibly have I done incorrectly? Thanks.

[2020-02-20 05:45] stevegore opened #1579 "Option to always start the singleuser server when required"
Hi, we host a JupyterHub instance with a custom JWT authenticator that handles the `/login` endpoint and creates the user etc.

However, we have users accessing direct links to notebooks. When they do so, no instance is spawned, and they are presented with the question:

[code]

They then have to click "Launch Server" before spawning begins.

We would like to avoid this happening. Ideally, the ser

[2020-02-20 06:30] betatim commented on #1579
Closing because #2924 is probably the better place for this.

[2020-02-20 06:30] #1579 closed

[2020-02-20 06:33] marcreyesph commented on #1578
So I removed all the templates and was able to sign in (doesn't work if password is incorrect), however, the url of the spawner uses my full name not my username.

[2020-02-20 07:02] consideRatio commented on #1578
@marcreyesph, I know very little about LDAP, but the crux is probably to configure the ldapauthenticator correctly. Inspect this documentation: https://github.com/jupyterhub/ldapauthenticator

Sadly, to configure this in the helm chart isn't trivial at all due to lots of logic here: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/d7181a6cd03d88b7f91f5d4f1b60c10524970b39/jupyterhub/files/

[2020-02-20 08:21] marcreyesph commented on #1578
Anyway, finally figured it guys. Thanks for all the help!

[2020-02-20 08:21] #1578 closed

[2020-02-20 15:58] metonymic-smokey commented on #645
@yuvipanda is this issue still up for grabs?

Thanks!

[2020-02-20 16:39] albertmichaelj opened #1580 "Dedicated .py file instead of snippets in extraConfig"
I'm opening this issue primarily for advice, but I also think that there may have been an unintentional side effect of a recent change to helm chart. #1407 moved the config files for the hub image to the helm chart `files/` directory. Overall, this seems to be a good thing, but there seems to be a problem with trying to use a custom hub image with a custom configuration with this helm chart as a s

[2020-02-20 20:47] consideRatio commented on #1580
I think you can actually sub class kubespawner from the extraConfig. Consider it as a python file that will run. You can define the sub class and then assign it.

---

If you really want to replace everything, then hmm... Perhaps override the command to start jupyterhub to use the specified configuration that you build with the image could accomplish it?

[2020-02-20 21:41] albertmichaelj commented on #1580
Your right that I certainly could sub class KubeSpawner in `extra_config`, but I think I would basically have to redo any part of the config file that sets values for the `c.KubeSpawner...` stuff, right? I would certainly have to do that as well if I had my own `jupyterhub_config.py` file, but it would be easier to do a find and replace instead of maintaining most of the `jupyterhub_config.py` as

[2020-02-20 22:26] consideRatio commented on #1580
Ah, no I actually think you would be good to go even though c.KubeSpawner.config_options are set and you wont need to reset these.

Regarding the hub command, woops... Okay so it is hardcoded, and then it is hard to change. We could certainly make this not hardcoded. It would make sense to me.

[2020-02-21 06:09] rajaharish79 opened #1581 "jupyterlab - HiveQL kernel shows No Kernel/Unknown on NFS mount"
We have deployed **jupyterhub on K8s** and successfully integrate HiveQL kernel to jupyterhub. But while we do NFS mount /home/jovyan files get **masked/overridden** by NFS mount. Due to which we are not able to see HiveQL in the launcher. But when we copied the files to different folder we are able to get HiveQL in the launcher. But on opening the HiveQL kernel, it says No Kernel and changes to U

[2020-02-21 09:56] consideRatio commented on #645
Configuring `c.KubeSpawner.extra_containers` is the way to go in order to provide a sidecar container to the user pods, or using a kubernetes mutating web hook that updates all pods created to have another container for example.

[2020-02-21 09:56] #645 closed

[2020-02-21 13:53] albertmichaelj commented on #1580
If it wasn't hardcoded, then this would be a path forward. Maybe that is the best that can be done right now. That should be a pretty minor change, right?

However, what would be really great is if we could somehow override the entire `jupyterhub_config.py` file with our own file. I have been trying to figure out some way to override files in subcharts, but there doesn't seem to be a way to curren

[2020-02-22 14:27] manics commented on #1581
Hi @rajaharish79
As you suggested it sounds like some files are being masked by the home directory mount. You could try mounting the NFS directory in a subdirectory such as `/home/jovyan/data`? Alternatively are you able to show us how you've created your single-user image, e.g. a link to a repo or Dockerfile- someone might be able to suggest a change.

[2020-02-22 14:38] manics opened #1582 "0.9.0-beta4"
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1561 and https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/1563 are closed. Is there anything else required before `0.9.0-beta4` is tagged?
@consideRatio If you want I can have a go at tagging next week following your guide https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/RELEASE.md

[2020-02-22 17:51] consideRatio commented on #1582
Please have a go! Note the tag should be `0.9.0-beta.4`!

[2020-02-22 18:30] lxylxy123456 commented on #1556
Hi, we have opened source the service side of our project at [ngshare](https://github.com/lxylxy123456/ngshare) repo. Please fell free to take a look and give some feedbacks.

The [database specification](https://github.com/lxylxy123456/ngshare/blob/license/ngshare/database/database.py) is almost complete using SQL Alchemy.

There are two versions of servers: [`vserver`](https://github.com/lxylxy1

[2020-02-25 09:03] rajaharish79 commented on #1581
When I tried to do as manics suggested. By changing the mount path in jupyter yaml file. The pod home path changes but I am not able to see the files of NFS.

[2020-02-25 17:18] vindvaki commented on #1551
We just merged https://gitlab.com/gitlab-org/gitlab/-/merge_requests/25211, allowing read_user to access /version. This will be included in GitLab 12.9, and live on GitLab.com some time in the next couple of weeks

[2020-02-25 19:40] cslocum commented on #1566
This is a great idea!  Would love to see this happen.

[2020-02-26 15:08] hnykda commented on #1582
Is it still true that if `0.9.0-beta.4` works fine we can get stable `0.9.0` :eyes: ? How long do you think it would take in the ideal scenario?

[2020-02-26 17:43] manics commented on #1582
Done! https://github.com/jupyterhub/zero-to-jupyterhub-k8s/releases/tag/0.9.0-beta.4

[2020-02-26 17:43] #1582 closed

[2020-02-26 17:53] consideRatio commented on #1582
Thanks @manics !! ❤️

[2020-02-26 22:23] consideRatio opened #1586 "Upgrade instruction detail for 0.9.0"
Upgrade instruction detail to ensure we add for 0.9.0 release upgrade instruction.

https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/1539#issuecomment-591623704

[2020-02-27 06:04] lxylxy123456 commented on #1556
We have basically completed the development for the API logic and a standalone backend server (`vserver`). Would you like to try it following https://github.com/lxylxy123456/ngshare#installation-and-setup and provide any comments and suggestions?

We also wrote the plan for the entire project structure in the same markdown file.

[2020-02-27 07:02] rkevin-arch commented on #1556
Hi,

I have been trying to make a JupyterHub managed service exposed to the proxy pod for a Z2JH setup. There are some very weird `pod has unbound immediate PersistentVolumeClaim` errors. I believe the hub pod keeps crashing (that's the only explanation for the occasional weird 404 errors, "Service Unavailable" messages, and the "MinimumReplicasAvailable" transition time to always be less than a m

[2020-02-27 08:06] consideRatio commented on #1556
Service unavailable is happening when accessing the k8s Service representing the hub pods (only one though). If the hub pod isnt considered ready, the k8s service will return "Service unavaialble".

Hmmm, running on minikube, what is your config.yaml passed to `helm upgrade`?

[2020-02-27 08:11] consideRatio commented on #1556
If some logic made the hub pod unresponsive for a while, it would fail to respond to /hub/health, and would show Service unavailable btw.

Can a JH service running on the hub pod that get stuck in a loop (or awaiting a network call and times out after 1 min) cause  the hub to get inresponsive?

[2020-02-27 19:24] rkevin-arch commented on #1556
Not sure. We have modified the Helm chart, and that's probably causing the issue, but I'm very new to Helm so I'm not sure what changes could have caused the problem. The `config.yaml` is [here](https://github.com/lxylxy123456/ngshare/blob/master/testing/minikube/config.yaml), although we have changed the Helm chart to add our custom stuff [here](https://github.com/rkevin-arch/zero-to-jupyterhub-k

[2020-02-27 22:42] ndjhartman commented on #553
@wydwww shouldn't the Storage Class provision the PVs for the PVC though?

[2020-02-27 22:44] chenbr commented on #553
gp2

On Thu, Feb 27, 2020 at 5:43 PM ndjhartman <notifications@github.com> wrote:

[2020-02-27 23:09] ndjhartman commented on #553
?

[2020-02-27 23:47] chenbr commented on #553
Sorry. Hit send to fast. And yea it should. But you must have a default
class set to something. In the case of aws make it a gp2 class on the aws
ebs driver. I’ve got this all setup in ansible if you want to see.

On Thu, Feb 27, 2020 at 6:09 PM ndjhartman <notifications@github.com> wrote:

[2020-02-27 23:57] ndjhartman commented on #553
Right, I have the aws-ebs storage class as default. This is my class:

[code]

DaemonSet:
[code]

And yeah, if you wouldn't mind the ansible setup could be useful to compare.

[2020-02-28 10:40] betatim commented on #1556
Is the log message `Cannot connect to managed service ngshare at http://10.97.94.52:10101` from the hub process?

I would investigate in the direction that Erik suggested: is your hub running properly or is it getting stuck somewhere. For example what does JupyterHub do when it can't start a managed service, does a managed service run as a separate process, things like that. You are looking for a

[2020-02-28 11:01] consideRatio commented on #1556
I started watching https://github.com/lxylxy123456/ngshare

[2020-02-28 11:02] manics commented on #1556
I think splitting into topics is a good idea. There are several other issues that could come out of this, for instance can something be done in the Z2JH chart to make it easier to integrate applications such as this without modifying the chart.

[2020-02-28 11:08] manics commented on #1556
Yes it can! See:
- https://github.com/jupyterhub/jupyterhub/issues/2928#issuecomment-591987199
- https://github.com/jupyterhub/jupyterhub/issues/2954

[2020-02-28 12:16] rkevin-arch commented on #1556
Re: betatim, that log message is coming from the proxy. Inside a regular singleuser image we can still talk to the hub and the service, which is why I thought the hub is still working and the proxy is just not seeing it for some reason.

Re: manics, I'm actually surprised that's the case, since I thought JH starts the service as a completely separate process and will also automatically restart it

[2020-02-28 13:19] scivm opened #1590 "Azure AD Token missing groups in 0.9.0-beta.4 but ok in 0.9.0-beta.3"
I am passing AD_TOKEN to modify_pod_hook and decoding it there to do mount operations based on a user's groups.

When I decode the token in 0.9.0-beta.3 I am seeing the groups but not in 0.9.0-beta.4.  (I have changed values client/tenant values).  There are some other differences also like the url sts.windows.net instead of  login.microsoftonline.com.

[code]

[code]

**0.9.0-beta.3**
[code]

**0

[2020-02-28 13:40] consideRatio commented on #1590
I think oauthenticator was bumped to 0.11 in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/1563/files, and this is the underlying issue. I assume it is related to something described in this changelog: https://github.com/jupyterhub/oauthenticator/blob/master/docs/source/changelog.md.

[2020-02-28 14:27] scivm commented on #1590
For my AD application 0.9.0-beta.4 is returning a V1 token while 0.9.0-beta.3 is returning me a V2 token.  It would return a V1 token if it thought the caller was an Azure AD V1 application.  I am just starting my google journey though likely someone knows more here.

[code]

[2020-02-28 14:42] scivm commented on #1590
So the oauthenticator code is calling the older v1 endpoint in both the old .10 and new .11 azuread oauthenicator.

old v1 endpoint:
[code]

For some reason, the .3 with oauthenticator .10 returns a v2 token while .4 with oauthenticator .11 returns a v1 token.

The new v2 urls are:
[code]

[2020-02-28 14:56] manics commented on #1590
This the change to azuread between 0.10.0 and 0.11.0:
`git diff 0.10.0 0.11.0 -- oauthenticator/azuread.py`
[code]

[2020-02-28 14:57] consideRatio commented on #1590
@scivm to summarize the understanding I've picked up from you:

- AzureAD allow you to register OAuth2 applications, each having a client_id, client_secret.
- These OAuth2 applications can be of the AzureAD V1 kind, or V2 kind.
- Whenever you are using a AzureAD registered OAuth2 application, you should ensure you speak with the right OAuth2 endpoints they provide, which differs depending if you h

[2020-02-28 15:07] scivm commented on #1590
yes

Yes, both V1 and V2 are still valid.  I have only created V2.

Yes, I think so.  The oauthenticator is hardcoded to the V1 endpoint but in .3 I was getting a V2 token response from my V2 application.  In .4 I started getting a V1 token response.  The tokens are similar.  V1 appears to not be able to return the user's groups or I would have never noticed.

I opened an issue against oauthentica

[2020-03-01 08:59] rkevin-arch commented on #1556
I think I have finally figured out the issue after pulling my hair out, and it's kinda hard to fix. The problem is starting the service as a JupyterHub managed service means that JupyterHub itself will also occasionally poll the service to make sure it's up (https://github.com/jupyterhub/jupyterhub/blob/0427f8090fed143d7bf2b75cf6c35a3acea19557/jupyterhub/app.py#L1932). However, requests to the ser

[2020-03-01 15:22] koners commented on #990
@ablekh: Did you by any chance ever figured out how to use a rocker image through Jupyter hub. I am in the same boat as you and looking for some help.

[2020-03-01 17:04] ablekh commented on #990
@koners No, I haven't had a chance to further explore the Rocker images route - the priorities have been too dynamic :-). However, I have successfully used the approach suggested by @minrk above.

[2020-03-02 05:20] cboettig commented on #990
@koners @ablekh For folks looking to use JupyterHub on Rocker images (to access RStudio or Juypter notebook instances) we recommend the `rocker/binder` image (not the `rocker/verse` image mentioned above), see https://github.com/rocker-org/binder.  (It's based on `rocker/verse` but does the setup for you).

Also, open source RStudio server (e.g. in `rocker/studio`) supports multiple users just fin

[2020-03-02 05:39] ablekh commented on #990
@cboettig Thank you very much for clarifying this (and please don't worry about missing the thread). I assume that the pro of this approach (vs. the one suggested above by @minrk) is that, in this case, we don't have to manually maintain RStudio versions and the con is that the resulting image would contain some geo-focused packages. Correct?

BTW, have you tested this approach in z2jh environment

[2020-03-02 07:29] ryanlovett commented on #1556
@rkevin-arch Could you create a [Kubernetes Service](https://kubernetes.io/docs/concepts/services-networking/service/) instead of the URLs you've crafted?

[2020-03-02 12:01] scivm commented on #1590
I will close this as it is not likely going to be a big issue even for azure users as the v1 and v2 tokens are very similar.  I will do some testing with oauthenticator and likely make a pull request to make the token endpoint configurable.

[2020-03-02 12:01] #1590 closed

[2020-03-02 16:20] cboettig commented on #990
Good question about z2jh, I haven't tested that and can't speak to it's differences from other juypterhub setups. (The Rocker images are pretty vanilla Docker and can be run in K8s or other orchestration solution; we often layer them with reverse proxy server to handle https, login and similar features).  The z2jh thing may indeed be throwing things for a loop here.

yeah, there may be other pros

[2020-03-02 16:36] KLdivergence commented on #1497
According to [helm blog](https://helm.sh/blog/helm-v3-beta/). If user are using helm v3, the "helm init" steps in the [doc](https://zero-to-jupyterhub.readthedocs.io/en/latest/setup-jupyterhub/setup-helm.html) will no longer be needed. I can adding notes to that steps if you think that is necessary.

[2020-03-02 17:37] ablekh commented on #990
@cboettig Understood. Thank you for sharing your thoughts. Considering our discussion, I will leave this issue open until we have a chance to test and validate the Rocker image solution to RStudio case.

[2020-03-03 10:32] #1339 closed

[2020-03-04 09:40] consideRatio commented on #1586
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA8oAAALeCAYAAAByX+gNAAAgAElEQVR4XuydB3hUx9WGj7pQFwLRkehdEr336gLu4O64BSdxEpc4juPYie04cZy4xCb5jUtc44K7TTG99y5AdAkkiiSaBEiorv7nG+WuV2L73u3fPA8PoL137tx3rqR995w5E1JXV1cnbEFNoLq6OqjvnzdPAiRAAiRAAiRAAsFGICIiIthumfdLAg4RCKEoO8QrIA++dOlSQN4Xb4oESIAESIAESIAESMA8gSZNmhANCZCAFQIUZT4eQlHmQ0ACJEACJEACJEACwUWAohxc8827dZwARdlxZgF3BkU54KaUN0QCJEACJEACJEACVglQ

[2020-03-04 22:07] stevenstetzler opened #1592 "user-scheduler caught in loop fighting with default-scheduler"
I am using the user-scheduler built into the helm chart to handle scheduling of user pods and user placeholder pods. I have my users and user placeholders scheduled onto nodes that have a specific label, right now it is something like `instance-type=t3-large`. (I intend to schedule users onto specific AWS EC2 instance types.)

If I try to schedule another pod that has the same node selector but us

[2020-03-05 07:53] betatim commented on #1592
Off the top of my head this sounds like a problem with the priorities of the pods. One thing to confirm is that the `user-scheduler` does not do anything to the spark pod and vice versa the `default-scheduler` should not interact with the placeholder pod. This is because the placeholder pod specifies that it should be scheduled by the user-scheduler and the spark pod doesn't specify a scheduler (s

[2020-03-05 10:15] consideRatio commented on #1592
## Background theory refreshed
The user-scheduler is the official kubernetes `kube-scheduler` binary of a specific k8s version running with a custom configuration. In managed clusters (GKE at least), the default scheduler deployed in the kubernetes cluster is running out of sight, and may have a different version of the `kube-scheduler` binary, and is guaranteed to have a different configuration o

[2020-03-06 13:34] astrajohn opened #1593 "admin user ldap"
If I try to set an admin user using ldap autheticator in the latest beta using:

name: 'auth.admin.users[0]'
value: id

traitlets.traitlets.TraitError: The 'admin_users' trait of a LDAPAuthenticator instance must be a set,
but a value of class 'str' (i.e. 'id') was specified.

worked in 0.9-ec3b97d, not sure where the regression comes from.

[2020-03-06 15:25] adi413 opened #1594 "hub not accessible when switching from helm 0.8.2 to 0.9.0-beta.4"
**Issue I am facing**
I am trying to switch from helm stable version 0.8.2 of jupyterhub to beta version 0.9.0-beta.4 so that I can use the named server functionality. When I trying to do that https is not working and if I find the public-proxy ip address I am not able to access hub on https.

**Description**

If I try to directly upgrade the helm release with a different version number then I get

[2020-03-06 16:01] perllaghu commented on #1556
Here's where we are.... I still need to tidy a few things (like make the tests pass again) & update docs a bit more.... but we're getting there

[2020-03-06 16:15] consideRatio commented on #1594
I'm not sure what has led to this, but I would recommend deleting the k8s configmap called `traefik-proxy-config` manually, then activate https in `0.9.0-beta.4`. To delete the configmap you would do something like `kubectl delete configmap -n jupyterhub traefik-proxy-config`.

Helm can make us end up in some weird states if upgrades are aborted halfway through or fail mid way sometimes, and that

[2020-03-06 16:17] consideRatio commented on #1594
Oh btw, to avoid bugs related to helm, ensure to avoid Helm v2.15.X, it had some bugs that I remember reading causing issues, so ensure you use Helm 2.16.X both locally (`helm`) and in your k8s cluster (`tiller`), as reported by `helm --version`.

You can upgrade by writing `helm init --upgrade --service-account tiller` if I recall correctly, after you have made sure your local helm version is up

[2020-03-06 16:54] manics commented on #1593
Thanks for reporting this. Are you able to share your full z2jh configuration (with secrets redacted)? This will help us figure out what's changed since there are a number of interacting components that can affect auth handling.

[2020-03-06 16:55] adi413 commented on #1594
I tried it, it is still not working when I enable https.
this is proxy settings to enable in config.yaml file (I am using GKE)
proxy:
  secretToken: "random hash"
  https:
    enabled: true
    hosts:
      - some url
    letsencrypt:
      contactEmail: my email

[2020-03-06 20:24] adi413 commented on #1594
Update, I was looking into the logs and getting this message `Unable to obtain ACME certificate for domains \"xxxxxxxxx\" : cannot get ACME client get directory at 'https://acme-v02.api.letsencrypt.org/directory': Get https://acme-v02.api.letsencrypt.org/directory: net/http: TLS handshake timeout" providerName=le.acme`

[2020-03-06 21:38] consideRatio commented on #1594
Do you have a public IP to reach the proxy-public service through, and does your domain point to this IP?

The "error copying from remote stream" etc is something I've gotten a lot here and there, but that seems like an error that doesn't cause any harm, so that we can ignore I think. It does not relate to this helm chart installation at least I think.

[2020-03-06 21:40] adi413 commented on #1594
Yes, I have public IP, and if i downgrade and use 0.8.2 it works perfectly fine but as soon as I go to 0.9.0.xx it stops working with ssl and I start getting ssl error

[2020-03-06 21:42] consideRatio commented on #1594
Try deleting your k8s secret with the old certificate, I remember Letsencrypt wrote about a bug affecting 2% or so of the users, you may be one. If you delete the current secret and restart the hub etc, it is meant to recreate it anyhow so try that.

[2020-03-06 21:43] consideRatio commented on #1594
Hmmm, I don't remember what the secret will be named, don't delete `hub-secret`, but some other of a tls kind.

[2020-03-06 21:44] consideRatio commented on #1594
[code]

[2020-03-06 21:45] adi413 commented on #1594
<img width="644" alt="Screen Shot 2020-03-06 at 4 44 59 PM" src="https://user-images.githubusercontent.com/49159227/76124994-ded83d00-5fc9-11ea-9a19-1905d0320d6d.png">
I see this right now.

[2020-03-06 21:54] adi413 commented on #1594
I tried deleting the tls-scme secret, it still it getting same ERR_SSL_PROTOCOL_ERROR, For some reason the ssl handshake is not going through.
Do I need to setup ingress too, with version 0.8.2 just setting proxy and enabling HTTPS as per documentation. works perfectly fine.

[2020-03-09 14:24] adi413 commented on #1594
@consideRatio Is there any way I can access and see named servers with version 0.8.2. I know the UI only comes in JHUB version 1.x but is there any way I can manually do it by adding some custom code or using latest hub with helm.

[2020-03-09 14:35] HelenCousins opened #1595 "A connection to the notebook server could not be established"
So I carefully followed the instructions, which entirely fail to work on k8s newer than 1.15, so 1.15 it is then; and I funally have a jupyterhub renning and I try to run a notebook, and it looks like it will work but then

A connection to the notebook server could not be established. The notebook will continue trying to reconnect. Check your network connection or notebook server configuration.

I

[2020-03-10 03:47] josibake opened #1596 "singleuser pod stock in "Reconnecting" when using Ambassador to manage ingress"
Hey all, I've been trying to deploy using helm (`0.9.0-beta.3`) and am running into the following issue: we use ambassador internally, so the goal is to turn off the loadbalancer and route everything through Ambassador.. so far so good. Here are the relevant parts of my config:

[code]

Everything starts up seemingly fine but then when I open a notebook, it gets stuck as "Reconnecting" and won't e

[2020-03-10 09:17] astrajohn commented on #1593
Apologies. This actually works with standard config. I have been managing the installation with argocd and the errors relate to trying to set auth.admin.users[0] in the config. I think it may be more related to the values file of the helm chart or yaml parsing in argocd. Anyway, not a jupyterhub issue, closing.

[2020-03-10 09:17] #1593 closed

[2020-03-10 09:59] manics commented on #1596
I don't have any experience with Ambassador. Does your deployment work with a standard ingress/loadbalancer/nodeport?

If your notebook starts but doesn't execute it could be a problem with websockets? If you check your browser's dev-tools console you might see some errors.
https://www.getambassador.io/user-guide/websockets-ambassador/

[2020-03-10 14:09] josibake commented on #1596
Hey @manics , thanks for the reply! I was able to get something running using the regular loadbalancer but since we manage certificates and everything else through ambassador, that won't work for production. I'll investigate the websockets thing.

Based on what I have in the config, is there any reason why it shouldn't work to just make the `public-proxy` a NodePort service and attach it to someth

[2020-03-10 14:27] josibake commented on #1596
That was indeed the problem! Thanks for much for your help, @manics . For posterity, all I needed to do was the following:

[code]

[2020-03-10 14:27] #1596 closed

[2020-03-11 02:52] snickell commented on #1594
Just found this issue after already posting to Discourse (https://discourse.jupyter.org/t/trouble-getting-https-letsencrypt-working-with-0-9-0-beta-4/3583/2), I believe I'm experiencing the same issue moving from 0.8.x to 0.9.0-beta4.

I'm going to try deploying my config to a fresh cluster to see if this is a migration issue, or also is a problem in a fresh install.

[2020-03-11 02:56] snickell commented on #1594
Worth noting that my experience parallels @adi413 . I first ran into the "error: kind ConfigMap with the name "traefik-proxy-config" already exists" type errors, ended up deleting pretty much every configmap in the cluster, did a complete `helm delete --purge ____` on the deploy, and started with an "(almost?) from scratch cluster". After this, the deploy succeeded, BUT I can't access the server w

[2020-03-11 03:14] snickell commented on #1594
@adi413 Are you deploying on a local k8s cluster, aws, gcloud, etc?

[2020-03-11 13:13] adi413 commented on #1594
@snickell you will have to do a helm delete --purge <release-name> and they deploy again

do a helm search. jupyterhub and there is a new 0.9xxx version visible now, which was recently deployed. If you use that then your https and everything will work perfectly

[2020-03-11 15:05] bebosudo commented on #84
Hi @consideRatio,
using that snippet inside `hub` I was able to get a working curl line to interact with JupyterHub; is there any documentation about all these "secrets" in the yaml config file?
There's the `proxy.secretToken`, the `hub.cookieSecret` and also the `hub.services.*.apiToken`. What's the purpose of all these fields?

For anyone that may reach this point, this is my current (partial) c

[2020-03-11 15:48] manics commented on #84
Here's some links to the relevant JupyterHub documentation:
- https://jupyterhub.readthedocs.io/en/stable/getting-started/security-basics.html#proxy-authentication-token
- https://jupyterhub.readthedocs.io/en/stable/getting-started/security-basics.html#cookie-secret
- https://jupyterhub.readthedocs.io/en/stable/getting-started/services-basics.html

Do you have a suggestion on where you'd like to s

[2020-03-11 17:07] bebosudo commented on #84
Thanks for the quick response; the links you provided were useful to understand the need for different secrets.
I've also just discovered the [reference page](https://zero-to-jupyterhub.readthedocs.io/en/latest/reference/reference.html), containing detailed info on many k8s options available.

1. I would refer to it probably at step 3 of the jhub setup, where proxy.token is defined but not explain

[2020-03-11 20:14] Joris29 opened #1597 "Pending external IP"
Hi i'm trying to set up jupyterhub with an external ip.

But it keeps saying pending:
[code]

Config:
[code]

What i want to achieve is to add the external ip's like this:
[code]

Which results into:
[code]

[2020-03-11 21:30] consideRatio commented on #1597
@Joris29 this was new to me... Is it related to a new feature in some k8s version to only be able to specify the external ip like this, or is it a custom requirement of the controller reacts to LoadBalancer services and provides the actual service?

[code]

[2020-03-11 21:37] consideRatio commented on #1597
Reading up a bit on https://kubernetes.io/docs/concepts/services-networking/service/, I think this is a question about your load balancer's behavior, which is breaking assumptions in my mind.

Is this a k8s cluster by a cloud providers service like GKE, EKS, AKS, or is it manually setup? I guess it was manually setup and you installed a specific LoadBalancer implementation, like [metal lb](https:/

[2020-03-12 08:39] Joris29 commented on #1597
@consideRatio it is indeed a manual setup but no specific LoadBalancer implementation has been installed, the external ip is used to just use my node ip to route traffic to my internal services:

"If there are external IPs that route to one or more cluster nodes, Kubernetes Services can be exposed on those externalIPs. Traffic that ingresses into the cluster with the external IP (as destination IP

[2020-03-12 14:28] josibake commented on #421
Just finished setting up user NFS storage and a shared NFS folder based on this excellent issue and the CHOWN stuff in base image (thanks @cam72cam !). Just checking in to see if this is still being worked on from either the K8s perspective or making it simpler in Z2JH setup? I plan on writing a blog on my experience just because there were small things that took me forever to figure out (like run

[2020-03-12 16:08] manics commented on #421
As far as I know no-ones actively working on it. The problem with NFS is it's flexibility- there are lots of ways to set it up, ranging from managed public cloud fileservers to NFS provisioners you manage yourself, so it'd be difficult to add something in the Z2JH chart. It'd be nice to make the documentation clearer though.

Perhaps a good start for someone would be to collate all the information

[2020-03-12 16:11] consideRatio commented on #421
Yepp! The first "post" in a "topic" can be made into a "wiki post" by users of a certain trust level. This trust is gained after being registered for 24 hours on the forum.

[2020-03-12 17:14] josibake commented on #421
great! I am doing a write up internally, I'll take a crack at condensing that into a topic on discourse this weekend. Thanks!

[2020-03-12 22:48] consideRatio commented on #421
@josibake :heart: thanks for taking the time to work on this, I think it would be very valuable summarizing this!

[2020-03-13 01:03] snickell commented on #1594
Just to confirm for future people: I had already done a `helm delete --purge` before beploying 0.9.0-beta.4. Also, I get the same problem with 0.9.0-beta.4 on a fresh cluster.

HOWEVER, I do *not* get this problem with the newer `0.9.0-beta.4.n008.hb20ad22` that I think @adi413 is referring to. So if you experience this problem with beta.4, try `0.9.0-beta.4.n008.hb20ad22`.

[2020-03-13 01:06] snickell commented on #1594
Unless @adi413 disagrees, we maybe could close the issue as it seems fixed by `0.9.0-beta.4.n008.hb20ad22` ?

[2020-03-13 06:07] consideRatio commented on #1594
I think this is caused by a lot of complexity in helm, and there are multiple issues combined.

- We should use the --atomic flag when we upgrade with helm, it will ensure that an upgrade that fails return us to the same state as before
- we should use --force to allow helm to do an operation on the autohttps deployment, but it may be that we are required to manually delete the autohttps deploymen

[2020-03-13 07:20] consideRatio opened #1599 "Reference or relocate static IP setup documentation"
It probably make sense to have documentation about static ip setups either referenced or located in this area: https://zero-to-jupyterhub.readthedocs.io/en/latest/administrator/security.html#set-up-automatic-https

I created this issue before about documenting static IP, and I think we ended up having documentation about it in the configuration reference section automatically generated from schema

[2020-03-14 14:33] manics commented on #1594
If you're using helm 3 `--force` behaves differently and may cause something else to fail. I imagine it would be fine on Helm 2 though.

[2020-03-14 16:57] sibcm opened #1600 "Authentication with openldap"
Can someone kindly share a sample config for auth using OpenLDAP?  My k8s was created  on a Bright cluster with a fully functional OpenLDAP.  I kept getting '500 Internal Error' while attempting to setup this LDAP to authenticate users following the admin manual.  Inspecting the logs from  the hub did not yield any useful information.

Thank you for any hints in advance,

GR

[2020-03-16 00:51] sibcm commented on #1597
@Joris29 Got stuck on the same issue that you described.  My work around is running this command after the proxy service is in 'pending' state:

`kubectl patch svc proxy-public -n jhub -p '{"spec": {"type": "LoadBalancer", "externalIPs":["EXT-IP-ADDRESS"]}}'`

[2020-03-16 10:26] Joris29 commented on #1597
@sibcm that is indeed a good workaround but i installed metalLB and i can achieve the same result with it

[2020-03-17 14:26] hnykda commented on #1313
Hey. I know I am annoying... But are there any pending issues for 0.9.

[2020-03-17 15:58] manics commented on #1313
The only significant issue I can think of is upgrading lets-encrypt certificates: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1594

Perhaps that could go into a "known issues" section of the release notes? [The original PR](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/1539) was tested sucessfully, and as indicated in that PR the old lets-encrypt support in 0.8.2 is dep

[2020-03-17 15:58] consideRatio commented on #1313
We just need to get a changelog, and ensure to have some debugging steps for the upgrade at this point. I can try find time doing this on the weekend.

Quick summary about the upgrade steps out of my head:
- I think using --atomic --force make sense for the upgrade both in helm2 and helm3, the key is that we need to use --force in helm2 at least, and --atomic is there to help getting back to a OK

[2020-03-17 16:00] consideRatio commented on #1594
@manics, I think we _need_ to use something like force also on Helm 3, either that or manually deleting k8s resources before we upgrade. I'm currently leaning towards suggesting the use of `--atomic --force` as options during the upgrade for both helm2 and 3.

[2020-03-17 16:21] manics commented on #1594
My experience of `--force` on helm 3 is it leads to other problems with obscure error messages, even with just minor config changes.

Helm 3 is still in preview mode for Z2JH though, and we don't have an upgrade path from Helm 2 to 3 yet. This hopefully means the number of helm 3 users with a 0.8.2 deployment will be fairly small, with an even smaller number using `autohttps`. To keep things simpl

[2020-03-17 17:05] consideRatio commented on #1594
Awww okay I'm sad to hear that, thanks for sharing your experience about this! Okay, so perhaps not default to `--force` i helm 3 then.

/cc: @jhamman

[2020-03-17 18:45] manics opened #1601 "Broken docs cross-links"
I'm pretty sure these Sphinx cross-references used to work before, was I just imagining it?

- https://zero-to-jupyterhub.readthedocs.io/en/latest/setup-jupyterhub/setup-helm.html
  - `preliminary instructions are available for testing.` link to `<setup-helm3>` is broken
  - https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/7b4a873b6795ffb5d986ca7f713e4ee635c4600f/doc/source/setup-jupyterh

[2020-03-17 19:43] ablekh commented on #1313
Please clarify whether v0.9.0-beta.4 is usable for the non-upgrade (that is, clean install) option. Does the documentation reflect all required steps?

[2020-03-17 22:15] consideRatio commented on #1313
@ablekh it is very usable for non-upgrade situations, but a struggle is to figure out what to recommend for an upgrade from pre 0.9.0-beta.3 with automatic https enabled.

[2020-03-17 22:17] ablekh commented on #1313
@consideRatio Understood. Thank you very much for prompt clarification.

[2020-03-18 21:35] josibake commented on #1227
Any suggestions on where to start for fixing this? I have a shared volume attached on my JupyterHub instance and allowing users to link to shared notebooks would be awesome. Having a user manually edit the link each time seems like a pretty bad experience

[2020-03-18 21:52] josibake commented on #1227
Looks like this is solved in `JupyterLab 2.0` : https://github.com/jupyterlab/jupyterlab/pull/7906. Is it possible to specify jupyterlab 2.0 when deploying my helm chart in my values.yaml? or is this a change that needs to be made upstream ?

[2020-03-18 21:57] manics commented on #1227
@josibake JupyterLab is part of the single-user image. Z2JH bundles a minimal one, but you'll most likely want to specify your own. Are you using the default one at the moment?

[2020-03-18 22:00] manics commented on #1227
There's some docs on https://zero-to-jupyterhub.readthedocs.io/en/latest/customizing/user-environment.html
For example could write your own Dockerfile using one of the standard images mentioned in that link and upgrade JupyterLab, as well as installing any other custom packages.

[2020-03-18 22:26] josibake commented on #1227
thanks @manics ! I was struggling to find where to update JupyterLab (think it was in hub). I am using a custom single-user image , so this is perfect.

[2020-03-18 22:38] mikebranski opened #1602 "Traefik in the autohttps pod should reprovision on redeploy if needed"
Let's say I'm setting up a new install at `jhub.example.com` on AWS EKS. I need to point that host to the `proxy-public` pod sitting in front of the hub, which I can't do until it's been deployed and I can run `kubectl get svc proxy-public`. The problem is the cert-manager's `traefik` container is going to fail to provision a certificate from letsencrypt because `jhub.example.com` isn't pointing t

[2020-03-19 07:22] saurav-bhagat opened #1603 "Custom deployment of jupyterhub in EKS cluster."
I'm using the extracted deployment files from the helm chart to deploy jupyterhub. After deploying all of my objects, I'm able to access hub using this command:
`kubectl port-forward --address <my_ip> pod/proxy-754bfc4478-567p2 80:8000`

Now, I'm trying to access it using ingress. But this is not working and I'm unable to resolve this.
My Ingress file:
`

`
And this is my proxy-public config:

`

[2020-03-19 12:01] manics commented on #1603
I noticed you also posted on the discourse forum: https://discourse.jupyter.org/t/custom-deployment-of-jupyterhub-to-kubernetes-in-eks/3671

I'll close this issue to avoid replies being split over two locations.

[2020-03-19 12:01] #1603 closed

[2020-03-19 13:19] saurav-bhagat commented on #1603
Okay

[2020-03-19 14:07] manycoding commented on #1227
Solved in https://github.com/jupyterlab/jupyterlab/pull/7906

[2020-03-19 14:07] #1227 closed

[2020-03-19 15:14] manics commented on #1227
Thanks for updating the issue!

[2020-03-19 15:57] rkevin-arch commented on #1556
Hi all, hope you're safe during this pandemic. Sorry for the silence for quite a while, we're busy with finals, but rest assured we're making some decent progress.

Re: ryanlovett, the main reason I didn't originally do this is because JupyterHub only supports spawning managed services as a subprocess, not a Kubernetes pod. If you use an external service then you have to manage API tokens and URLs

[2020-03-19 18:55] hugoespinelli opened #1604 "Azure Active Directory auth not working"
Hello!

My config.yaml is pretty simple:

[code]

I can't spawn jupyter on kubernetes. I'm using GKE (Google Cloud Kubernetes).
If i remove auth, it works perfectly.

NAME                     READY   STATUS             RESTARTS   AGE
hub-7b5bd76cdc-n5c9t     0/1     CrashLoopBackOff   5          5m38s

This is the log of this pod.
[code]
It's seems that azuread is not being recognizable.
I'm follo

[2020-03-19 19:37] consideRatio commented on #1604
Try specifying `--version 0.9.0-beta.4` when you run `helm upgrade`!

[2020-03-20 06:04] saurav-bhagat opened #1605 "Permission Denied: Starting cull_idle_servers.py in hub container"
I'm using extracted deployment files from the helm chart and my own Dockerfiles(Since can't use the external ones inside out premise).
If I remove the cull_idle from jupyterhub_config.py, my hub works fine. But when I'm including it, I'm getting this error.

I've made my custom Dockerfile due to in-premise restrictions:

What Can be the issue? I've not changed anything much in the jupyterhub_confi

[2020-03-20 06:11] saurav-bhagat commented on #1015
@yugushihuang  Hey I'm also getting the same error:
https://discourse.jupyter.org/t/permission-denied-starting-cull-idle-servers-py-in-hub-container/3676

How did you resolve this?

[2020-03-20 08:38] romanzac opened #1606 "Poststart hook not executed"
Hi All,

**Describe the bug**

I have configured profile and related poststart hook. It is a simple copy from /tmp directory into user's home.

[code]

**To Reproduce**
Login as LDAP user, select profile and start it.

**Expected behavior**
bio-python folder copied to /home/jovyan

**Compute Information**
- helm upgrade --install jhub jupyterhub/jupyterhub --version 0.9.0-beta.4  --values config.y

[2020-03-20 13:05] hugoespinelli commented on #1604
It works! Thanks!!

[2020-03-20 13:05] #1604 closed

[2020-03-20 16:58] consideRatio commented on #1606
What events are associated with the pod about the poststarthook? I think if the hook fails to execute, it will fail to start the pod entirely. So, did it register to run at all?

[code]

I suggest you start debugging if this can make a empty file show up named post-hook-ran-ok in your home folder.

[code]

[2020-03-21 18:55] manics commented on #1605
As mentioned on [the other issue](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1603#issuecomment-601140307) please don't open duplicate issues. I've now replied to your original [discourse post](https://discourse.jupyter.org/t/permission-denied-starting-cull-idle-servers-py-in-hub-container/3676/3).

Opening multiple issues can lead to answers being split across different places. It

[2020-03-21 18:55] #1605 closed

[2020-03-21 19:29] saurav-bhagat commented on #1605
I'm really sorry for this.

[2020-03-23 03:48] romanzac commented on #1606
It was not registered... I forgot to use "kubespawner_override:"

Many thanks.
R.

[2020-03-23 07:51] #1606 closed

[2020-03-23 07:58] betatim commented on #1602
Thanks for finding and debugging this.

I am not sure exactly what the way forward is but I'd start investigating a solution like

https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/a5127aefe88e6b2efcc0ab17aef81d5c2e0cbaa5/jupyterhub/templates/hub/deployment.yaml#L26-L28

We'd need to find the right bit of config to include in the sha256. Probably something from the Ingress objects?

The pr

[2020-03-23 08:43] betatim commented on #1601
Are these cross-references internal to the docs or to other sphinx documentation?

Maybe they are broken because the pydata-docs-theme doesn't support them? @choldgraf

[2020-03-23 14:41] choldgraf commented on #1601
I don't think so, more likely the pages just moved. the `doc` role needs a relative path to an actual file, and I don't see a `create-k8s-cluster` file in the `setup-jupyterhub` folder, so I think this will be fixed by hunting down the proper pages and updating the links.

As an aside: another way we could catch this is to make our docs build use the sphinx "strict" mode, which will fail on any wa

[2020-03-23 17:22] GergelyKalmar opened #1607 "custom spawner docs are outdated"
It seems that if one is using the ``jupyter-labhub`` spawner (as per the [documentation](https://zero-to-jupyterhub.readthedocs.io/en/latest/customizing/user-environment.html#use-jupyterlab-by-default)) the spawns fail with an import error with the latest Helm chart and latest base-notebook image. Without the ``extraConfig`` parts it seems to be working fine though. This may be related to the fact

[2020-03-24 06:47] Colin-Yu commented on #1586
Hello, do you know when will 0.9.0 be released? I have actively checked the status of the zero-to-jupyterhub-k8s for one year to see 0.9.0 happen :)

[2020-03-26 10:03] consideRatio commented on #1607
Yes! @GergelyKalmar would you like to submit a PR where that customization part is removed, along with the outdated note just below that a jupyterhub extension is pre-installed?

The only thing needed now is the default url being /lab I think.

[2020-03-27 00:42] ganaraja opened #1609 "Both Hub and proxy are coming pending"
Hi,

I am trying to incorporate what is there in web pages

https://zero-to-jupyterhub.readthedocs.io/en/latest/amazon/step-zero-aws.html

My config.yaml is
singleuser:
  image:
    name: jupyter/base-notebook
    tag: latest
  storage:
    type: "static"
    static:
      pvcName: "efs-persist"
      subPath: 'home/{username}'
  extraEnv:
    CHOWN_HOME: 'yes'
  uid: 0
  fsGid: 0
  cmd: "start-si

[2020-03-27 08:42] hnykda commented on #1586
Well, you are not the only one: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1313#issuecomment-600327246 .

I believe consideRatio is doing what he can, but 0.9.0 seems to be always just a week from now... :cry:

[2020-03-27 11:56] aleicher commented on #697
@summerswallow  @consideRatio any update on this? Is there a recommended way to get jupyterhub with the spawner up and running, when using istio?
I disabled istio sidecar injection to make the jobs succeed, but hub and proxy fail to come up properly with istio sidecars. disabling the istio injection for those (`sidecar.istio.io/inject: "false"`) allows to start them properly, but then I cannot exp

[2020-03-27 12:51] manics commented on #1586
The current beta https://github.com/jupyterhub/zero-to-jupyterhub-k8s/releases/tag/0.9.0-beta.4 should be very close to the final 0.9.0. As highlighted above the main issue is the breaking change in automatic-HTTPS. Due to the nature of the change it's very difficult to check since it requires a deployment with a certificate obtained with the old auto-https. The old method is no longer supported b

[2020-03-27 12:53] consideRatio commented on #697
@aleicher I didn't focus effort into getting istio to setup mTLS between pods etc or routing traffic with istio-gateway. I have little insights to provide about this at the moment =/

I'm curious what stopped the hub / proxy pods to become ready though, if you open a thread on discourse.jupyter.org in the z2jh category where you describe what istio-usage end goal you have, and where you get stuck,

[2020-03-27 12:58] hnykda commented on #1586
Yeah, thanks for the clarification, I think that in our deployment we are fine. But why don'to deploy 0.9 (or even 1.0.0) announcing a breaking change :man_shrugging: . Like, do you ever expect it will become more testable if it's not possible now?

[2020-03-27 13:02] consideRatio commented on #1586
Yes I think deletion of some old resources is what is needed ahead of time for the upgrade to work out. Writing changelog, upgrade instructions and becoming a bit confident they make sense is what missing at the moment for a release. Since this state is far better than 0.8.2 its just a matter of that.

[2020-03-27 15:12] consideRatio commented on #994
@astrajohn I got that issue recently myself, and for me it was because:
1. I start the container up as root
2. I use the jupyter/docker-stacks images' script called start.sh (invoked through start-singleuser.sh)
3. The start.sh script switches from the root user to the `jovyan` user in a `sudo -E -u jovyan` command.

This is the issue, the switch from the root user to the jovyan user will reset a

[2020-03-28 17:18] manics commented on #1601
@choldgraf I made warnings into errors in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/1610

This picked up some other warnings, but not the broken references in this issue.

[2020-03-28 20:19] #1601 closed

[2020-03-30 09:42] jamescross91 commented on #660
Same issue here

[2020-03-30 18:13] eugene-chernyshenko commented on #1353
path: /hub/health

[2020-03-31 15:42] titansmc commented on #1600
@sibcm
[code]

[2020-03-31 23:34] ilhaan commented on #562
Based on comments above and [this comment](https://github.com/jupyter/docker-stacks/issues/1041#issuecomment-598877334), the following config enabled JupyterLab with `sudo` access for users using the `0.9.0-beta.3` chart:
[code]

[2020-03-31 23:57] consideRatio commented on #562
@ilhaan these parts are doing the same thing, only one is needed.

[code]

[code]

[2020-03-31 23:59] ilhaan commented on #562
@consideRatio Thanks! I think I had that left over from an older config and didn't remove it since things were in working condition.

[2020-04-01 13:06] jchomarat opened #1613 "Update a python package for in the jupyterhub/k8s-hub:0.8.2 image"
Hello,

I am perfectly happy with the latest stable hub container (version 0.8.2), the only thing I need is to update the library oauthenticator from version 0.8.0 to 0.11.*.

Do I need to create my own docker image, or can I run a pip install somehow from the config.yaml file used to create my K8S cluster (I am on AKS).

Thanks for your help!

[2020-04-01 14:10] jackmorgenson opened #1614 "Security vulnerabilities with sqlite3"
**k8s-hub:0.8.2**

My threat detection team has alerted me that `sqlite3` in k8s-hub is exposed to a bunch of vulnerabilities that have active attacks known.

[CVE-2019-19926](https://people.canonical.com/~ubuntu-security/cve/2019/CVE-2019-19926.html)
[CVE-2019-19925](https://people.canonical.com/~ubuntu-security/cve/2019/CVE-2019-19925.html)
[CVE-2019-19923](https://people.canonical.com/~ubuntu-s